# Step 1: ACQUIRE DATA

In [25]:
from selenium import webdriver
from selenium.webdriver.common.action_chains import ActionChains
from selenium.webdriver.common.keys import Keys
from selenium.common.exceptions import ElementClickInterceptedException
import os
from dotenv import load_dotenv
import time
import re
import pandas as pd
from datetime import datetime, timedelta
import getpass
import platform

> ## STARTING

In [26]:
print("""
*******************  OPTIMIZED JOB SEARCH ON LINKEDIN *******************

Welcome!

Please enter your information to sign in on LINKEDIN and begin the search >>>
""")

SECRET_USER = input("EMAIL: ")
SECRET_PASS = getpass.getpass("PASSWORD: ")

*******************  OPTIMIZED JOB SEARCH ON LINKEDIN *******************

Welcome!

Please enter your information to sign in on LINKEDIN and begin the search >>>

EMAIL:  cristopher.rojas.lepe@gmail.com
PASSWORD:  ········

In [27]:
location_input = input("\n\nPlease enter the LOCATION where you'd like to search >>>")
#location_input = 'madrid'
location = location_input.capitalize()
location

Please enter the LOCATION where you'd like to search >>> Madrid

'Madrid'

> ## SEARCH

In [28]:
#job_title_input = input("PLEASE ENTER THE JOB THAT YOU'D LIKE TO SEARCH: ")
#job_title_input = 'data scientist'

In [29]:
#job_title_df = job_title_input.lower()
# job_title_s  = job_title_input.lower().replace(' ', '%20')
# job_title_s

In [30]:
x

'dffd'

> ## WEB SCRAPPING

### SELENIUM >

In [31]:
#import requests
#from bs4 import BeautifulSoup

#### DRIVER PATH:

In [32]:
platform.system()

'Linux'

In [33]:
#DEPEND OF THE OS

#LINUX
if platform.system() == 'Linux':
    os.environ['PATH'] = f'{os.environ["PATH"]}:/home/cristopherrl/Documents/program/selenium/drivers/'
    
elif platform.system() == 'Windows':
    os.environ['PATH'] = f'{os.environ["PATH"]};C:\\Users\\x385645\\Documents\\Selenium'

In [34]:
os.environ['PATH']

'/home/cristopherrl/miniconda3/envs/final_project/bin:/home/cristopherrl/miniconda3/condabin:/home/cristopherrl/.local/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin:/usr/games:/usr/local/games:/snap/bin:/home/cristopherrl/Documents/program/selenium/drivers/:/home/cristopherrl/Documents/program/selenium/drivers/'

#### .ENV PATH:

In [35]:
load_dotenv(dotenv_path='../.env')

True

#### SIGN IN:

In [36]:
browser = webdriver.Chrome()
URL = 'https://www.linkedin.com/login'
browser.get(URL)

In [37]:
# SECRET_USER = os.getenv("SESSION_KEY")
# SECRET_PASS = os.getenv("SESSION_PASSWORD")

In [38]:
try:
    # user box
    user     = browser.find_element_by_xpath('/html/body/div/main/div/form/div[1]/input')
    user.send_keys(SECRET_USER)
    time.sleep(1)

    # password box
    password = browser.find_element_by_xpath('/html/body/div/main/div/form/div[2]/input')
    password.send_keys(SECRET_PASS)
    time.sleep(1)

    #sign_in  = browser.find_element_by_xpath('/html/body/div/main/div/form/div[3]/button')
    # sign in button
    sign_in  = browser.find_element_by_class_name('login__form_action_container')
    sign_in.click()
    time.sleep(1)

except:
    raise ValueError("DATOS ERRONEOS!!! Cierre y vuelva a ejecutar el programa")

In [39]:
browser.maximize_window()

***
***
#### LINKEDIN PROFILE :

In [40]:
# Click on profile button (up-rigth)
profile = browser.find_element_by_id('profile-nav-item')
#profile = browser.find_element_by_xpath('/html/body/header/div/nav/ul/li[6]/div/artdeco-dropdown/artdeco-dropdown-trigger/div')
profile.click()

In [41]:
# Click on View profile button
#link_profile = browser.find_element_by_xpath('/html/body/header/div/nav/ul/li[6]/div/artdeco-dropdown/artdeco-dropdown-content/div/ul/li[1]/a/div[2]/span')
link_profile = browser.find_element_by_xpath("//span[@class='artdeco-button artdeco-button--tertiary artdeco-button--fluid']")
link_profile.click()

#### Profile page >

In [42]:
html_body = browser.find_element_by_xpath ('/html/body')
html_body.send_keys(Keys.PAGE_DOWN)
time.sleep(0.5)

In [43]:
browser.current_url

'https://www.linkedin.com/in/cristopherrojaslepe/'

In [44]:
linkedin_profile = browser.current_url.split('/')[4]
linkedin_profile

'cristopherrojaslepe'

#### Headline:

In [45]:
# Getting HEADLINE table
profile_headline = browser.find_element_by_xpath("//h2[@class='mt1 t-18 t-black t-normal']")
headline = profile_headline.text.lower()
headline

'data scientist & analyst | python | pandas | numpy | matplotlib | web scrapping | machine learning | tableau | sql | git'

In [46]:
#try:
#if browser.find_element_by_xpath\
#    ('/html/body/div[6]/div[4]/div[3]/div/div/div/div/div[2]/main/div[1]/section/div[2]/div[2]/div[1]/h2'):
#    profile_headline = browser.find_element_by_xpath\
#    ('/html/body/div[6]/div[4]/div[3]/div/div/div/div/div[2]/main/div[1]/section/div[2]/div[2]/div[1]/h2')
#    # /html/body/div[6]/div[4]/div[3]/div/div/div/div/div[2]/main/div[1]/section/div[2]/div[2]/div[1]/h2
#    print('opcion 1')#
#
#elif   browser.find_element_by_xpath\
#    ('/html/body/div[5]/div[3]/div[3]/div/div/div/div/div[2]/main/div[1]/section/div[2]/div[2]/div[1]/h2'):
#    profile_headline = browser.find_element_by_xpath\
#    ('/html/body/div[5]/div[3]/div[3]/div/div/div/div/div[2]/main/div[1]/section/div[2]/div[2]/div[1]/h2')
#    print('opcion 2')#
#
##except:
#elif browser.find_element_by_xpath\
#    ('/html/body/div[5]/div[4]/div[3]/div/div/div/div/div[2]/main/div[1]/section/div[2]/div[2]/div[1]/h2'):
#    profile_headline = browser.find_element_by_xpath\
#    ('/html/body/div[5]/div[4]/div[3]/div/div/div/div/div[2]/main/div[1]/section/div[2]/div[2]/div[1]/h2')
#    print('opcion 3')
#    
#profile_headline.text

In [47]:
profile_open = browser.find_element_by_xpath("//artdeco-carousel-content[@class='artdeco-carousel__content']")
print(profile_open.text)

if profile_open.text.split(" ")[0] == 'Open':
    open_status = True
else:
    open_status = False
open_status

Open to job opportunities
Data Analyst, Data Scientist and Business Analyst roles
See all details
Only recruiters

True

#### About:

In [48]:
# show MORE > button "see more "
profile_show_about = browser.find_element_by_xpath("//span[@class='lt-line-clamp__line lt-line-clamp__line--last']")
ActionChains(browser).move_to_element(profile_show_about).perform()
profile_show_about.click()

In [49]:
# Getting HEADLINE table
profile_about = browser.find_element_by_xpath("//p[@class='pv-about__summary-text mt4 t-14 ember-view']")
about = profile_about.text.lower()
about

'data scientist & analyst and industrial engineer, 7 years of experience in data analysis, project management, process management and business intelligence.\n\ngreat motivation and knowledge in data science and innovation. high analytic, problem solving skill and focused on achievements.\n\ngood learning capacity with high disposition to teach and concerned about good labour relations.\n\ni am interested in taking part of teams who want to take on new challenges.'

#### Job experience:

In [50]:
html_body.send_keys(Keys.PAGE_DOWN * 5)
time.sleep(0.2)
html_body.send_keys(Keys.PAGE_DOWN * 5)
time.sleep(0.2)

In [51]:
# id='profile-content' >>   /html/body/div[5]/div[4]/div[3]
# class='profile-detail' >> /html/body/div[5]/div[4]/div[3]/div/div/div/div/div[2]/main/div[7]
#/html/body/div[5]/div[4]/div[3]/div/div/div/div/div[2]/main/div[7]/div[2]/span/div/section/div[1]

In [52]:
# show more experiences
#try:    
#if   browser.find_element_by_xpath('/html/body/div[5]/div[4]/div[3]/div/div/div/div/div[2]/main/div[7]/div[2]/span/div/section/div[1]/section/div/button'):
#                                   #/html/body/div[5]/div[4]/div[3]/div/div/div/div/div[2]/main/div[7]/div[2]/span/div/section/div[1]/section/div/button
#    profile_show_experience = browser.find_element_by_xpath('/html/body/div[5]/div[4]/div[3]/div/div/div/div/div[2]/main/div[7]/div[2]/span/div/section/div[1]/section/div/button')
#    print(1)
##except:
#elif browser.find_element_by_xpath('/html/body/div[5]/div[3]/div[3]/div/div/div/div/div[2]/main/div[7]/div[2]/span/div/section/div[1]/section/div/button'):
#    profile_show_experience = browser.find_element_by_xpath ('/html/body/div[5]/div[3]/div[3]/div/div/div/div/div[2]/main/div[7]/div[2]/span/div/section/div[1]/section/div/button')
#    print(2)
#    #actions = ActionChains(browser)
#    #actions.move_to_element(profile_show_experience).perform()##
#
##except:
#    #actions = ActionChains(browser)
#    #actions.move_to_element(profile_show_experience).perform()
#time.sleep(1)

In [53]:
# show MORE experiences > button "show more experience"
profile_show_experience = browser.find_element_by_xpath\
("//button[@class='pv-profile-section__see-more-inline pv-profile-section__text-truncate-toggle link link-without-hover-state']")
ActionChains(browser).move_to_element(profile_show_experience).perform()
profile_show_experience.click()
html_body.send_keys(Keys.PAGE_UP)

In [54]:
#try:
#  # Tries to click an element
#  profile_show_experience.click()
#except ElementClickInterceptedException:
#  # Use Javascript to scroll down to bottom of page
#  browser.execute_script("window.scrollTo(0, document.body.scrollHeight);")

In [55]:
# experiences > text
#if browser.find_element_by_xpath('/html/body/div[5]/div[4]/div[3]/div/div/div/div/div[2]/main/div[7]/div[2]/span/div/section/div[1]'):
#    profile_experience = browser.find_element_by_xpath\
#    ('/html/body/div[5]/div[4]/div[3]/div/div/div/div/div[2]/main/div[7]/div[2]/span/div/section/div[1]')##
#
#elif browser.find_element_by_xpath(  '/html/body/div[5]/div[3]/div[3]/div/div/div/div/div[2]/main/div[7]/div[2]/span/div/section/div[1]'):
#    profile_experience = browser.find_element_by_xpath\
#    ('/html/body/div[5]/div[3]/div[3]/div/div/div/div/div[2]/main/div[7]/div[2]/span/div/section/div[1]')
#    
#profile_experience.text

In [56]:
# experiences > text
profile_experience = browser.find_element_by_id('experience-section')
profile_experience.text

'Experience\nCollection Coordination Analyst\nCompany Name\nGrupo CIL Marketing Directo Full-time\nDates Employed\nMar 2019 – Present\nEmployment Duration\n1 yr 2 mos\nLocation\nMadrid Area, Spain\nAnalyze the customer payment behavior to create and manage the development of new processes and projects.\n\nResponsible for the coordination of the collection processes in Spain, France and Portugal, ensuring the proper functioning in all countries.\nReal Estate Agent\nCompany Name\nRedpiso Grupo Inmobiliario y Financiero Full-time\nDates Employed\nApr 2018 – Mar 2019\nEmployment Duration\n1 yr\nLocation\nMadrid Area, Spain\nManage a portfolio of properties, negotiating to catch new products and offering them to others clients.\n\nBringing assistance to sellers and buyers to close transactions from the beginning to the end of the process.\n…\nsee more\nPricing Analyst\nCompany Name\nClaro Chile S.A. Full-time\nDates Employed\nFeb 2015 – Feb 2017\nEmployment Duration\n2 yrs 1 mo\nLocation\nSantiago, Chile\nDefine and upgrade the cost and pricing model of different TELECOM and IT products of the Enterprises Market area, also helping to product areas on launching of new products, supporting to sellers in sales processes, and advising to engineers checking the design of standard projects.\n\nDesign special offers to promote the sales of specific products, checking in parallel the prices of the products in the market.\n\n• Implementation of new evaluation tools for sales team, optimizing response time to clients from 2 weeks to 1 day.\n• Development of new standard offer of products based on demand from different customer segments.\n…\nsee more\nFinancial Analyst\nCompany Name\nSupermercados Tottus. Full-time\nDates Employed\nFeb 2014 – Sep 2014\nEmployment Duration\n8 mos\nLocation\nSantiago, Chile\nGenerate commercial relationship with different entities involved, attending to their needs, evaluating indicators for cost optimization and detecting deviations.\n\nElaborate financial reports for Tottus’ Management and Directorate.\n\n• Improvement and optimization in Financial Reporting, reducing reporting time process in 20%.\n…\nsee more\nContinuous Improvement Engineer\nCompany Name\nFinning South America Full-time\nDates Employed\nJul 2013 – Jan 2014\nEmployment Duration\n7 mos\nLocation\nSantiago, Chile\nModel and redesign the processes that formed the different Finning businesses, in order to achieve connected and efficient process flows.\n\nDetect opportunities for improvement in different areas.\n\n• Redesign of Equipment Logistic process with SCOR methodology, eliminating waste and optimizing process time.\n…\nsee more\nCompany Name\nARAUCO, planta Horcones I\nTotal Duration\n3 yrs 5 mos\nTitle\nOperational Excellence Lead\nFull-time\nDates Employed\nJul 2011 – Jan 2013\nEmployment Duration\n1 yr 7 mos\nLocation\nArauco, Chile\nGenerate, control and manage the projects created in base of the methodology of Operational Excellence (OE), ensuring these are focused in three principal items: Safety, Environment and Business\n\nWorking to reduce process gaps with the goal to improve the Processes Management Indicator (PMI).\n\nTrain staff in concepts of Continuous Improvement and Operational Excellence\n\n• Annual record in project generation (25) / Fourth place in the national project competition of OE.\n• Implementation of training plan for workers in each area of the plant, in addition to a plan to expand the philosophy of Continuous Improvement.\n• Definition and work with EO leaders in each area.\n…\nsee more\nTitle\nProcess Management Consultant\nFull-time\nDates Employed\nSep 2010 – Jul 2011\nEmployment Duration\n11 mos\nLocation\nArauco, Chile\nGenerate, control and manage the improvement of operational KPI on each area of the company (Yield, Factor of Operation, Variable Costs), in order to reduce the gap by comparing with optimal scenarios of each process indicator.\n\n• Improvement of PMI from 10% to 7% through the management and control of the project portfolio.\n…\nsee more\nShow 1 more role\nShow fewer experiences'

In [57]:
# getting info: time experience
pattern_1 = 'Employment Duration\n(.*)\nLocation'
time_experience = list(re.findall(pattern_1 , profile_experience.text))
time_experience

['1 yr 2 mos', '1 yr', '2 yrs 1 mo', '8 mos', '7 mos', '1 yr 7 mos', '11 mos']

In [58]:
# getting info: name experience
pattern_n1 = '\n(.*)\ncompany name'
name_experience1 = list(re.findall(pattern_n1 , profile_experience.text.lower()))
pattern_n2 = 'title\n(.*)\n'
name_experience2 = list(re.findall(pattern_n2 , profile_experience.text.lower()))
name_experience = name_experience1 + name_experience2 
name_experience.remove('see more')
name_experience

['collection coordination analyst',
 'real estate agent',
 'pricing analyst',
 'financial analyst',
 'continuous improvement engineer',
 'operational excellence lead',
 'process management consultant']

In [59]:
y, m = 0 , 0
for t in time_experience:
    print(t)
    if re.findall('[0-9] yr', t):
        year  = re.findall('[0-9] yr', t)[0].split(" ")[0]
        y += int(year)
    if re.findall('[0-9] mo', t):
        month = re.findall('[0-9] mo', t)[0].split(" ")[0]
        m += int(month)
print(y, "years -", m,"months")
m_nuevo = m//12
y_nuevo = y + m%12
print(y_nuevo , "years -", m_nuevo ,"months")

1 yr 2 mos
1 yr
2 yrs 1 mo
8 mos
7 mos
1 yr 7 mos
11 mos
5 years - 26 months
7 years - 2 months

#### Education:

In [60]:
profile_education = browser.find_element_by_id('education-section')
profile_education.text.lower()

"education\nironhack\ndegree name\nmaster's degree\nfield of study\ndata analytics\ndates attended or expected graduation\n2019 – 2020\n- tools and technologies: git, mysql, python, pandas, numpy, web scraping, matplotlib, seaborn, scipy, scikit-learn, tableau\n- good development practices: data cleaning, data manipulation, data interpretation (apis, web scraping), data visualization, data pipelines, descriptive statistics, business intelligence, supervised and unsupervised learning\nuniversidad de concepción\ndegree name\nbachelor of engineering - be\nfield of study\nindustrial engineering\ngrade\napproved with maximum distinction. grade 6.0 of 7.0\ndates attended or expected graduation\n2003 – 2009\nactivities and societies: - participation in a student center - drummer in a band - basketball, capoeira, taekwondo\ncivil industrial engineer, universidad de concepción\nsubjects as :\n- project evaluation and management\n- quality management and six sigma\n- logistic management\n- operations research\n- planning and scheduling of production\n- financial management\n- process simulation\n- advanced statistics"

In [98]:
# getting info: degrees
pattern_2 = 'degree name\n(.*)\n'
degrees = \
re.findall(pattern_2 , profile_education.text.lower())

degrees = [x.replace('bachelor of ','').replace('\'s degree','') for x in degrees ]
degrees

['master', 'engineering - be']

In [62]:
# getting info: grades
pattern_3 = 'field of study\n(.*)\n'
fields = re.findall(pattern_3 , profile_education.text.lower())
fields

['data analytics', 'industrial engineering']

#### Skills:

In [63]:
#show MORE skills > > button "show more..."
profile_more_skills =  browser.find_element_by_xpath("//button[@data-control-name='skill_details']")
ActionChains(browser).move_to_element(profile_more_skills).perform()
profile_more_skills.click()
html_body.send_keys(Keys.PAGE_UP)

In [64]:
# skill table> text
profile_skills_details = browser.find_element_by_xpath\
("//section[@class='pv-profile-section pv-skill-categories-section artdeco-container-card ember-view']")
profile_skills_details.text

'Skills & Endorsements\nAdd a new skill\nTake skill quiz\nMicrosoft Excel\nSee 5 endorsements for Microsoft Excel\n5\nEndorsed by Reinaldo Alarcón Campos, who is highly skilled at this\nEndorsed by 2 of Cristopher’s colleagues at ARAUCO\nPassed: LinkedIn Assessments\nData Analytics\nSee 1 endorsement for Data Analytics\n1\nVictor Galan Vaquerizo has given an endorsement for this skill\nPython (Programming Language)\nSee 2 endorsements for Python (Programming Language)\n2\nVictor Galan Vaquerizo and 1 connection have given endorsements for this skill\nIndustry Knowledge\nProject Management\nBusiness Process Improvement\nContinuous Improvement\nSix Sigma\nLean manufacturing\nSee 1 endorsement for Lean manufacturing\n1\nBusiness Analysis\nData Analysis\nSee 1 endorsement for Data Analysis\n1\nProgramming\nEngineering\nBusiness Intelligence\nAnalytical Skills\nScrum\nFinancial Analysis\nStatistics\nProcess Optimization\nProcess Engineering\nMachine Learning\nData Modeling\nData Visualization\nData Science\nTools & Technologies\nMicrosoft Office\nSee 7 endorsements for Microsoft Office\n7\nMicrosoft Project\nSee 1 endorsement for Microsoft Project\n1\nVBA\nSAP\nSee 2 endorsements for SAP\n2\nSQL\nR\nTableau\nBash\nGit\nMySQL\nInterpersonal Skills\nTeam Management\nTeamwork\nNegotiation\nSee 1 endorsement for Negotiation\n1\nLeadership\nLanguages\nEnglish\nEspañol\nOther Skills\nMicrosoft Power BI\nTelco\nMicrosoft Power Query\nPower Pivot\nData Pipelines\nWeb Scraping\nVisual Basic for Applications (VBA)\nNumPy\nPandas (Software)\nSeaborn\nJupyter\nShow less\nShow only Cristopher’s featured skills'

In [65]:
skills = profile_skills_details.text.split("\n")
print(skills)
not_needed_words = ['Skills & Endorsements', 
                    'Add a new skill', 
                    'Take skill quiz', 
                    'Passed: LinkedIn Assessments',
                    'Tools & Technologies',
                    'Interpersonal Skills',
                    'Languages',
                    'Other Skills',
                    'Show less',
                   ]

['Skills & Endorsements', 'Add a new skill', 'Take skill quiz', 'Microsoft Excel', 'See 5 endorsements for Microsoft Excel', '5', 'Endorsed by Reinaldo Alarcón Campos, who is highly skilled at this', 'Endorsed by 2 of Cristopher’s colleagues at ARAUCO', 'Passed: LinkedIn Assessments', 'Data Analytics', 'See 1 endorsement for Data Analytics', '1', 'Victor Galan Vaquerizo has given an endorsement for this skill', 'Python (Programming Language)', 'See 2 endorsements for Python (Programming Language)', '2', 'Victor Galan Vaquerizo and 1 connection have given endorsements for this skill', 'Industry Knowledge', 'Project Management', 'Business Process Improvement', 'Continuous Improvement', 'Six Sigma', 'Lean manufacturing', 'See 1 endorsement for Lean manufacturing', '1', 'Business Analysis', 'Data Analysis', 'See 1 endorsement for Data Analysis', '1', 'Programming', 'Engineering', 'Business Intelligence', 'Analytical Skills', 'Scrum', 'Financial Analysis', 'Statistics', 'Process Optimization', 'Process Engineering', 'Machine Learning', 'Data Modeling', 'Data Visualization', 'Data Science', 'Tools & Technologies', 'Microsoft Office', 'See 7 endorsements for Microsoft Office', '7', 'Microsoft Project', 'See 1 endorsement for Microsoft Project', '1', 'VBA', 'SAP', 'See 2 endorsements for SAP', '2', 'SQL', 'R', 'Tableau', 'Bash', 'Git', 'MySQL', 'Interpersonal Skills', 'Team Management', 'Teamwork', 'Negotiation', 'See 1 endorsement for Negotiation', '1', 'Leadership', 'Languages', 'English', 'Español', 'Other Skills', 'Microsoft Power BI', 'Telco', 'Microsoft Power Query', 'Power Pivot', 'Data Pipelines', 'Web Scraping', 'Visual Basic for Applications (VBA)', 'NumPy', 'Pandas (Software)', 'Seaborn', 'Jupyter', 'Show less', 'Show only Cristopher’s featured skills']

In [66]:
#Getting just necesary skills
skills_delete = []
for s in skills:
    #if (s in not_needed_words) or ('ndorse' in s) or ('Show only' in s) or s.isdigit():
    if (s in not_needed_words) or re.search('ndorse',s) or re.search('Show only',s) or re.search('[0-9]',s):
        #print(s)
        skills_delete.append(s)
        
        #skills.remove(s)
print(skills_delete)
skills_clean = list(set(skills)-set(skills_delete))
skills_clean = [ x.lower().split(' (')[0] for x in skills_clean]
sorted(skills_clean)

['Skills & Endorsements', 'Add a new skill', 'Take skill quiz', 'See 5 endorsements for Microsoft Excel', '5', 'Endorsed by Reinaldo Alarcón Campos, who is highly skilled at this', 'Endorsed by 2 of Cristopher’s colleagues at ARAUCO', 'Passed: LinkedIn Assessments', 'See 1 endorsement for Data Analytics', '1', 'Victor Galan Vaquerizo has given an endorsement for this skill', 'See 2 endorsements for Python (Programming Language)', '2', 'Victor Galan Vaquerizo and 1 connection have given endorsements for this skill', 'See 1 endorsement for Lean manufacturing', '1', 'See 1 endorsement for Data Analysis', '1', 'Tools & Technologies', 'See 7 endorsements for Microsoft Office', '7', 'See 1 endorsement for Microsoft Project', '1', 'See 2 endorsements for SAP', '2', 'Interpersonal Skills', 'See 1 endorsement for Negotiation', '1', 'Languages', 'Other Skills', 'Show less', 'Show only Cristopher’s featured skills']

['analytical skills',
 'bash',
 'business analysis',
 'business intelligence',
 'business process improvement',
 'continuous improvement',
 'data analysis',
 'data analytics',
 'data modeling',
 'data pipelines',
 'data science',
 'data visualization',
 'engineering',
 'english',
 'español',
 'financial analysis',
 'git',
 'industry knowledge',
 'jupyter',
 'leadership',
 'lean manufacturing',
 'machine learning',
 'microsoft excel',
 'microsoft office',
 'microsoft power bi',
 'microsoft power query',
 'microsoft project',
 'mysql',
 'negotiation',
 'numpy',
 'pandas',
 'power pivot',
 'process engineering',
 'process optimization',
 'programming',
 'project management',
 'python',
 'r',
 'sap',
 'scrum',
 'seaborn',
 'six sigma',
 'sql',
 'statistics',
 'tableau',
 'team management',
 'teamwork',
 'telco',
 'vba',
 'visual basic for applications',
 'web scraping']

In [67]:
#skills_1 = re.findall( '\n(.*)\nSee' , profile_skills_details.text.split("\nIndustry Knowledge")[0])
#skills_1

In [68]:
#skills_2_delete = re.findall('\nShow less\nShow only(.*)featured skills', profile_skills_details.text.split("\nIndustry Knowledge")[1])[0]
#skills_2_delete

In [69]:
#skills_2 = profile_skills_details.text.split("\nIndustry Knowledge")[1]\
#                                    .replace("\nTools & Technologies","")\
#                                    .replace("\nInterpersonal Skills","")\
#                                    .replace("\nLanguages","")\
#                                    .replace("\nOther Skills","")\
#                                    .split("\n")
#.replace(f"\nShow less\nShow only{skills_2_delete}featured skills'","")\
#skills_2

#### Languages:

In [70]:
languages = browser.find_element_by_id('languages-expandable-content').text.split(' ')
languages = [x.lower() for x in languages]
languages

['english', 'spanish']

In [103]:
total_skills = sorted(list(set(degrees + fields + skills_clean + languages)))
total_skills

['analytical skills',
 'bash',
 'business analysis',
 'business intelligence',
 'business process improvement',
 'continuous improvement',
 'data analysis',
 'data analytics',
 'data modeling',
 'data pipelines',
 'data science',
 'data visualization',
 'engineering',
 'engineering - be',
 'english',
 'español',
 'financial analysis',
 'git',
 'industrial engineering',
 'industry knowledge',
 'jupyter',
 'leadership',
 'lean manufacturing',
 'machine learning',
 'master',
 'microsoft excel',
 'microsoft office',
 'microsoft power bi',
 'microsoft power query',
 'microsoft project',
 'mysql',
 'negotiation',
 'numpy',
 'pandas',
 'power pivot',
 'process engineering',
 'process optimization',
 'programming',
 'project management',
 'python',
 'r',
 'sap',
 'scrum',
 'seaborn',
 'six sigma',
 'spanish',
 'sql',
 'statistics',
 'tableau',
 'team management',
 'teamwork',
 'telco',
 'vba',
 'visual basic for applications',
 'web scraping']

In [104]:
# Creating df_profile
profile = [linkedin_profile, headline, open_status, about, name_experience, time_experience ,
           y_nuevo, degrees, fields, skills_clean, languages, total_skills]

df_profile = pd.DataFrame(profile,
                          index = ['profile',
                                   'headline',
                                   'open new jobs',
                                   'about',
                                   'experiences',
                                   'years of experiences',
                                   'total years',
                                   'degrees',
                                   'fields',
                                   'skills',
                                   'languages',
                                   'total skills'
                                  ],
                          columns= ['info']
                         )

In [105]:
df_profile

                                                                   info
profile                                             cristopherrojaslepe
headline              data scientist & analyst | python | pandas | n...
open new jobs                                                      True
about                 data scientist & analyst and industrial engine...
experiences           [collection coordination analyst, real estate ...
years of experiences  [1 yr 2 mos, 1 yr, 2 yrs 1 mo, 8 mos, 7 mos, 1...
total years                                                           7
degrees                                      [master, engineering - be]
fields                         [data analytics, industrial engineering]
skills                [numpy, mysql, business analysis, microsoft pr...
languages                                            [english, spanish]
total skills          [analytical skills, bash, business analysis, b...

In [107]:
#LINUX
if platform.system() == 'Linux':
    df_profile.to_csv(f'../data/raw/df_profile_{linkedin_profile}.csv',
                  sep = ';',
                  encoding= 'utf8'
              )
#WINDOWS
elif platform.system() == 'Windows':
    df_profile.to_csv(f'..\\data\\raw\\df_profile_{linkedin_profile}.csv',
                      sep = ';',
                      encoding= 'utf8'
                  )

***
***
#### JOB SEARCH :

#### GETTING JOB POSTS :

#### Functions >

In [73]:
#number of pages with job posts considering job title given to thi
def n_pages_linkedin(browser,job_title_s, location):
    
    JOB_URL = f'https://www.linkedin.com/jobs/search/?keywords={job_title_s}&location={location}'
    browser.get(JOB_URL)
    time.sleep(1)
    
    # Total results 
    results = browser.find_element_by_xpath("//small[@class='display-flex t-12 t-black--light t-normal']").text
    print(results)
    results = int(results.split(" ")[0])
    #if   browser.find_element_by_xpath("/html/body/div[5]/div[4]/div[3]/section[1]/div[2]/div/div/div[1]/div[1]/div[1]/small"):
    #    results = int(browser.find_element_by_xpath\
    #    ("/html/body/div[5]/div[4]/div[3]/section[1]/div[2]/div/div/div[1]/div[1]/div[1]/small").text.split(" ")[0])
    #elif browser.find_element_by_xpath("/html/body/div[6]/div[4]/div[3]/section[1]/div[2]/div/div/div[1]/div[1]/div[1]/small"):
    #    results = int(browser.find_element_by_xpath\
    #    ("/html/body/div[5]/div[4]/div[3]/section[1]/div[2]/div/div/div[1]/div[1]/div[1]/small").text.split(" ")[0])
    
    # More than 25 results > More than 1 page
    if results > 25:
        pages = browser.find_element_by_xpath("//ul[@class='artdeco-pagination__pages artdeco-pagination__pages--number']")
        #try:
        #    pages = browser.find_element_by_xpath\
        #    ('/html/body/div[5]/div[4]/div[3]/section[1]/div[2]/div/div/div[1]/div[2]/div/section/artdeco-pagination/ul')
        #except:
        #    pages = browser.find_element_by_xpath\
        #    ('/html/body/div[6]/div[4]/div[3]/section[1]/div[2]/div/div/div[1]/div[2]/div/section/artdeco-pagination/ul')
        
        print(type(pages))
        n_pages = int(pages.text.split('\n')[-1])
        print(n_pages)
        return n_pages
    
    else:
        n_pages = 1
        return n_pages

In [74]:
#n_pages_linkedin(browser,'data%20analyst', 'Madrid')

In [75]:
#Iterator of JOB POSTS > the only wayt is considering XPATH with an iteration
def j_post(browser, i):
    if   browser.find_element_by_xpath\
        (f'/html/body/div[5]/div[4]/div[3]/section[1]/div[2]/div/div/div[1]/div[2]/div/ul/li[{i}]/div/artdeco-entity-lockup/artdeco-entity-lockup-content/h3/a'):
        job_post = browser.find_element_by_xpath\
        (f'/html/body/div[5]/div[4]/div[3]/section[1]/div[2]/div/div/div[1]/div[2]/div/ul/li[{i}]/div/artdeco-entity-lockup/artdeco-entity-lockup-content/h3/a')
                                                        #  /html/body/div[5]/div[4]/div[3]/section[1]/div[2]/div/div/div[1]/div[2]/div/ul/li[ 1 ]/div/artdeco-entity-lockup/artdeco-entity-lockup-content/h3/a
                                                        #  /html/body/div[5]/div[4]/div[3]/section[1]/div[2]/div/div/div[1]/div[2]/div/ul/li[ 1 ]/div/artdeco-entity-lockup/artdeco-entity-lockup-content/h3/a
    elif browser.find_element_by_xpath\
        (f'/html/body/div[6]/div[4]/div[3]/section[1]/div[2]/div/div/div[1]/div[2]/div/ul/li[{i}]/div/artdeco-entity-lockup/artdeco-entity-lockup-content/h3/a'):
        job_post = browser.find_element_by_xpath\
        ( '/html/body/div[6]/div[4]/div[3]/section[1]/div[2]/div/div/div[1]/div[2]/div/ul/li[{i}]/div/artdeco-entity-lockup/artdeco-entity-lockup-content/h3/a')

    elif browser.find_element_by_xpath\
        (f'/html/body/div[5]/div[4]/div[3]/section[1]/div[2]/div/div/div[1]/div[2]/div[2]/ul/li[{i}]/div/artdeco-entity-lockup/artdeco-entity-lockup-content/h3/a'):
        job_post = browser.find_element_by_xpath\
        (f'/html/body/div[5]/div[4]/div[3]/section[1]/div[2]/div/div/div[1]/div[2]/div[2]/ul/li[{i}]/div/artdeco-entity-lockup/artdeco-entity-lockup-content/h3/a')

    elif browser.find_element_by_xpath\
        (f'/html/body/div[6]/div[4]/div[3]/section[1]/div[2]/div/div/div[1]/div[2]/div[2]/ul/li[{i}]/div/artdeco-entity-lockup/artdeco-entity-lockup-content/h3/a'):
        job_post = browser.find_element_by_xpath\
        (f'/html/body/div[6]/div[4]/div[3]/section[1]/div[2]/div/div/div[1]/div[2]/div[2]/ul/li[{i}]/div/artdeco-entity-lockup/artdeco-entity-lockup-content/h3/a')
    
    return job_post

In [76]:
#last = browser.find_element_by_xpath()'/html/body/div[6]/div[4]/div[3]/section[1]/div[2]/div/div/div[1]/div[2]/div/section/artdeco-pagination/ul')

In [77]:
#pages.location_once_scrolled_into_view

***

In [78]:
# Creating df
df_jobs = pd.DataFrame(columns=['JOB TITLE',
                                'LOCATION',
                                'SEARCH DATETIME',
                                'Current Job Id',
                                'Job html',
                                'Job name',
                                'Company name',
                                'Company location',
                                'Posted date',
                                'Estimated post date',
                                'Easy apply',
                                'Job Description',
                                'Skills match',
                                'Seniority Level',
                                'Industry',
                                'Employment Type',
                                'Job Functions',
                                'Job info'                                
                               ])

In [111]:
# Jobs search
jobs_list = ['data analyst', 'data scientist', 'data engineer']

In [112]:
location

'Madrid'

In [113]:
# Defining current date time
now = datetime.now()
now_str = datetime.now().strftime('%Y-%m-%d %H:%M')

In [114]:
# iterator of JOB LIST

try:
    
    for j in jobs_list:

        # Getting each job for the search
        print(f'++++++++++++++++  {j} +++++++++++++++++++')
        job_title_df  = j
        job_title_s   = j.replace(' ', '%20')

        # Getting number of pages for each search
        n_pages = n_pages_linkedin(browser,job_title_s, location)
        last_job_page = n_pages*25
        print(last_job_page)  

        
        #*************************************************************************
        # iterator of JOB PAGES
        for p in range(0,last_job_page,25):
        #for p in range(0,1):

            print(f'PAGINA: {p}')

            #Exploring each page with maximum 25 job posts
            JOB_URL = f'https://www.linkedin.com/jobs/search/?keywords={job_title_s}&location={location}&start={p}'
            browser.get(JOB_URL)

            if p==0:
                time.sleep(2)
            else:
                time.sleep(0.5)

            """
            #activate all job posts in each page 
            if results > 25:
                try:
                    pages = browser.find_element_by_xpath\
                    ('/html/body/div[5]/div[4]/div[3]/section[1]/div[2]/div/div/div[1]/div[2]/div/section/artdeco-pagination/ul')
                except:
                    pages = browser.find_element_by_xpath\
                    ('/html/body/div[6]/div[4]/div[3]/section[1]/div[2]/div/div/div[1]/div[2]/div/section/artdeco-pagination/ul')
            actions = ActionChains(browser)
            actions.move_to_element(pages).perform()
            """

            # Taking table of job posts
            tabla_izq = browser.find_element_by_xpath\
            ("//div[@class='jobs-search-results jobs-search-results--is-two-pane']")


            """
            try:
                if browser.find_element_by_xpath("/html/body/div[5]/div[4]/div[3]/section[1]/div[2]/div/div/div[1]"):
                    tabla_izq = browser.find_element_by_xpath("/html/body/div[5]/div[4]/div[3]/section[1]/div[2]/div/div/div[1]")
                elif browser.find_element_by_xpath("/html/body/div[6]/div[4]/div[3]/section[1]/div[2]/div/div/div[1]"):
                    tabla_izq = browser.find_element_by_xpath("/html/body/div[6]/div[4]/div[3]/section[1]/div[2]/div/div/div[1]") 
            except:
                JOB_URL = f'https://www.linkedin.com/jobs/search/?keywords={job_title_s}&location={location}&start={p}'
                browser.get(JOB_URL)
                time.sleep(0.2)

                if browser.find_element_by_xpath("/html/body/div[5]/div[4]/div[3]/section[1]/div[2]/div/div/div[1]"):
                    tabla_izq = browser.find_element_by_xpath("/html/body/div[5]/div[4]/div[3]/section[1]/div[2]/div/div/div[1]")
                elif browser.find_element_by_xpath("/html/body/div[6]/div[4]/div[3]/section[1]/div[2]/div/div/div[1]"):
                    tabla_izq = browser.find_element_by_xpath("/html/body/div[6]/div[4]/div[3]/section[1]/div[2]/div/div/div[1]") 
            """

            #try:
            #    tabla_izq = \
            #        browser.find_element_by_xpath("/html/body/div[5]/div[4]/div[3]/section[1]/div[2]/div/div/div[1]")
            #except:
            #    tabla_izq = \
            #        browser.find_element_by_xpath("/html/body/div[6]/div[4]/div[3]/section[1]/div[2]/div/div/div[1]")         
            #time.sleep(0.5)

            """
            # Getting quantity of job posts that you CAN SEE directly in each page
            if p < (last_job_page-25):
                job_list = \
                tabla_izq.text.split('Manage alerts\n')[1].split('Close\n')[0].split('ago')    
            else:
                job_list = \
                tabla_izq.text.split('Manage alerts\n')[1].split('Close\n')[0].split('Create alert for this search\n')[0].split('ago')

            n_job_list = len(job_list)-1
            print(f'Lista de trabajos visibles:{n_job_list}') 
            time.sleep(0.1)
            """

            # iterator of JOB LIST
            # iterator of jobs posts
            i=1
            error=False

            while i<=25 and error==False:
            #for i in range(1,n_job_list+1):

                try:

                    print(f'i:{i}')

                    # Selecting job post in order to click on it
                    job_post = j_post(browser, i)

                    """
                    # Selecting job post in order to click on it
                    if   browser.find_element_by_xpath\
                        (f'/html/body/div[5]/div[4]/div[3]/section[1]/div[2]/div/div/div[1]/div[2]/div/ul/li[{i}]/div/artdeco-entity-lockup/artdeco-entity-lockup-content/h3/a'):
                        job_post = browser.find_element_by_xpath\
                        (f'/html/body/div[5]/div[4]/div[3]/section[1]/div[2]/div/div/div[1]/div[2]/div/ul/li[{i}]/div/artdeco-entity-lockup/artdeco-entity-lockup-content/h3/a')
                        #  /html/body/div[5]/div[4]/div[3]/section[1]/div[2]/div/div/div[1]/div[2]/div/ul/li[ 1 ]/div/artdeco-entity-lockup/artdeco-entity-lockup-content/h3/a
                        #  /html/body/div[5]/div[4]/div[3]/section[1]/div[2]/div/div/div[1]/div[2]/div/ul/li[ 1 ]/div/artdeco-entity-lockup/artdeco-entity-lockup-content/h3/a
                    elif browser.find_element_by_xpath\
                        (f'/html/body/div[6]/div[4]/div[3]/section[1]/div[2]/div/div/div[1]/div[2]/div/ul/li[{i}]/div/artdeco-entity-lockup/artdeco-entity-lockup-content/h3/a'):
                        job_post = browser.find_element_by_xpath\
                        (f'/html/body/div[6]/div[4]/div[3]/section[1]/div[2]/div/div/div[1]/div[2]/div/ul/li[{i}]/div/artdeco-entity-lockup/artdeco-entity-lockup-content/h3/a')

                    elif browser.find_element_by_xpath\
                        (f'/html/body/div[5]/div[4]/div[3]/section[1]/div[2]/div/div/div[1]/div[2]/div[2]/ul/li[{i}]/div/artdeco-entity-lockup/artdeco-entity-lockup-content/h3/a'):
                        job_post = browser.find_element_by_xpath\
                        (f'/html/body/div[5]/div[4]/div[3]/section[1]/div[2]/div/div/div[1]/div[2]/div[2]/ul/li[{i}]/div/artdeco-entity-lockup/artdeco-entity-lockup-content/h3/a')

                    elif browser.find_element_by_xpath\
                        (f'/html/body/div[6]/div[4]/div[3]/section[1]/div[2]/div/div/div[1]/div[2]/div[2]/ul/li[{i}]/div/artdeco-entity-lockup/artdeco-entity-lockup-content/h3/a'):
                        job_post = browser.find_element_by_xpath\
                        (f'/html/body/div[6]/div[4]/div[3]/section[1]/div[2]/div/div/div[1]/div[2]/div[2]/ul/li[{i}]/div/artdeco-entity-lockup/artdeco-entity-lockup-content/h3/a')
                    """

                    #try:
                    #    job_post = browser.find_element_by_xpath\
                    #    (f'/html/body/div[5]/div[4]/div[3]/section[1]/div[2]/div/div/div[1]/div[2]/div/ul/li[{i}]/div/artdeco-entity-lockup/artdeco-entity-lockup-content/h3/a')
                    #except:
                    #    job_post = browser.find_element_by_xpath\
                    #    (f'/html/body/div[6]/div[4]/div[3]/section[1]/div[2]/div/div/div[1]/div[2]/div/ul/li[{i}]/div/artdeco-entity-lockup/artdeco-entity-lockup-content/h3/a')

                    print(job_post.text)
                    job_post.click()
                    time.sleep(0.1)

                    # Getting current job ID
                    print(browser.current_url)      
                    currentJobId = browser.current_url.split('currentJobId=')[1].split('&')[0] #col1_pd
                    # if you wanna watch the job page
                    job_html = f'https://www.linkedin.com/jobs/view/{currentJobId}/'
                    print(f'{currentJobId}')

                    # Extracting job information on the right side
                    job_post_right = browser.find_element_by_xpath("//div[@class='jobs-search-two-pane__details pt4 ph3 jobs-search-two-pane__details ember-view']")   

                    """
                    try:
                        job_post_right = browser.find_element_by_xpath\
                            ('/html/body/div[5]/div[4]/div[3]/section[1]/div[2]/div/div/div[2]')
                    except:
                        job_post_right = browser.find_element_by_xpath\
                            ('/html/body/div[6]/div[4]/div[3]/section[1]/div[2]/div/div/div[2]')
                    """
                    #getting info and only separating: job name, company name, company location
                    #job_post_right_content    = job_post_right.text.split('\n', 5)

                    ##################################################################################################
                    #Job name
                    job_post_name             = job_post_right.text.split('\n', 1)[0]

                    #Company name > Sometimes there is no info here
                    if job_post_right.text.split('Company Name\n',1)[1].split('\n')[0] == 'Company Location':
                        job_post_company_name = ""
                    else:
                        job_post_company_name = job_post_right.text.split('Company Name\n',1)[1].split('\n')[0]

                    #Location
                    job_post_company_location = job_post_right.text.split('Company Location\n',1)[1].split('\n')[0]

                    #Posted date
                    job_post_posted_date      = job_post_right.text.split(' ago',1)[0].split('Posted Date\nPosted ')[1]
                    if   job_post_posted_date.split(" ")[1] in ['hour', 'hours']:
                        job_post_estimated_date = now - timedelta(hours =     int(job_post_posted_date.split(" ")[0]))
                    elif job_post_posted_date.split(" ")[1] in ['day', 'days']:
                        job_post_estimated_date = now - timedelta(days  =     int(job_post_posted_date.split(" ")[0]))
                    elif job_post_posted_date.split(" ")[1] in ['week', 'weeks']:
                        job_post_estimated_date = now - timedelta(weeks =     int(job_post_posted_date.split(" ")[0]))
                    elif job_post_posted_date.split(" ")[1] in ['month', 'months']:
                        job_post_estimated_date = now - timedelta(weeks =   4*int(job_post_posted_date.split(" ")[0]))
                    elif job_post_posted_date.split(" ")[1] in ['year', 'years']:
                        job_post_estimated_date = now - timedelta(weeks = 365*int(job_post_posted_date.split(" ")[0]))

                    #Easy apply: T/F
                    try:
                        if job_post_right.text.split('Save\n',1)[1].split('\n',2)[1] == 'Easy Apply':
                            job_post_easy_apply = True
                        else:
                            job_post_easy_apply = False
                    except:
                        if job_post_right.text.split('Unsave\n',1)[1].split('\n',2)[1] == 'Easy Apply':
                            job_post_easy_apply = True
                        else:
                            job_post_easy_apply = False


                    #Skills match
                    if re.search('\nHow you match',job_post_right.text):
                    #if '\nHow you match' in job_post_right.text:
                        y = 'Match\n(.*)\n'
                        n = 'No match\n(.*)\n' 
                        job_post_skills_match    = re.findall(y,job_post_right.text)
                        job_post_skills_nomatch  = re.findall(n,job_post_right.text)
                        job_post_skills = {'yes': job_post_skills_match,
                                           'no' : job_post_skills_nomatch,
                                           'all': job_post_skills_match + job_post_skills_nomatch
                                          }
                    else:
                        job_post_skills_match    = {}


                    ####
                    # Extracting job information on the right side
                    job_post_right_description = \
                    browser.find_element_by_xpath("//div[@class='jobs-box jobs-box--fadein jobs-box--full-width jobs-box--with-cta-large jobs-description jobs-description--reformatted ember-view']").text  
                    
                                                                   
                                                                   
                    #Seniority Level
                    try:
                        job_post_seniority_level = job_post_right.text.split('Seniority Level\n',1)[1].split('\n')[0]
                    except:
                        job_post_seniority_level = ""

                    #Industry
                    try:
                        job_post_industry        = job_post_right.text.split('Industry\n',1)[1].split('\n')[0]
                    except:
                        job_post_industry        = ""

                    #Employment Type
                    try:
                        job_post_employment_type = job_post_right.text.split('Employment Type\n',1)[1].split('\n')[0]
                    except:
                        job_post_employment_type = ""

                    #Job Functions > maybe this is the last
                    try:
                        job_post_job_functions   = job_post_right.text.split('Job Functions\n',1)[1].split('\n')[0]
                    except:
                        job_post_job_functions   = ""


                    #job info
                    job_post_info             = job_post_right.text.split('\n', 5)[5]

                    #Dataframe
                    df_jobs = df_jobs.append({
                                                'JOB TITLE'          : job_title_df,
                                                'LOCATION'           : location,
                                                'SEARCH DATETIME'    : now_str,
                                                'Current Job Id'     : currentJobId,
                                                'Job html'           : job_html,
                                                'Job name'           : job_post_name,
                                                'Company name'       : job_post_company_name,
                                                'Company location'   : job_post_company_location,
                                                'Posted date'        : job_post_posted_date,
                                                'Estimated post date': job_post_estimated_date.strftime('%Y-%m-%d %H:%M'),
                                                'Easy apply'         : job_post_easy_apply,
                                                        
                                                'Skills match'       : job_post_skills,
                                                'Job Description'    : job_post_right_description,
                                                'Seniority Level'    : job_post_seniority_level,
                                                'Industry'           : job_post_industry ,
                                                'Employment Type'    : job_post_employment_type,
                                                'Job Functions'      : job_post_job_functions,
                                                'Job info'           : job_post_info,
                                             }, ignore_index=True)

                    #print(len(job_post_right_content))
                    print(job_post_name)
                    print(job_post_company_name)
                    print(job_post_company_location)
                    print(job_post_posted_date)
                    #print(f'{job_post_info}\n')
                    print("")

                    # if you wanna watch the job page
                    # job_html = f'https://www.linkedin.com/jobs/view/{currentJobId}/' # > it's possible to use REQUESTS >>> NOPE XXXXX

                    if i%5==0: #each 5 job post, one execution of 2 pages down
                        tabla_izq.send_keys(Keys.PAGE_DOWN*2)
                        time.sleep(0.1)

                except:
                    error=True #if an error ocurred when the algorith tried to get a post, this loop finishs and goes to the next page
                finally:
                    i+=1 # next one >>>>>>>>>>>>>>>>

except:
    print(f'\n - Se han recopilado {df_jobs.shape[0]} ofertas de trabajo')
    #browser.close()

++++++++++++++++  data analyst +++++++++++++++++++
170 results
<class 'selenium.webdriver.remote.webelement.WebElement'>
7
175
PAGINA: 0
i:1
Business Process Analyst Promoted
https://www.linkedin.com/jobs/search/?currentJobId=1804937837&keywords=data%20analyst&location=Madrid
1804937837
PAGINA: 25
i:1
Data Analyst Scala H/M Promoted
https://www.linkedin.com/jobs/search/?currentJobId=1821611516&keywords=data%20analyst&location=Madrid&start=25
1821611516
Data Analyst Scala H/M
Experis IT
Madrid, Comunidad de Madrid, España
5 days

i:2
Finance Systems Business Analyst - GL/FA/AP/AR - Spanish Speaking Promoted
https://www.linkedin.com/jobs/search/?currentJobId=1811532919&keywords=data%20analyst&location=Madrid&start=25
1811532919
Finance Systems Business Analyst - GL/FA/AP/AR - Spanish Speaking
SystemsAccountants
Greater Madrid Metropolitan Area
1 week

i:3
Analista de datos Promoted
https://www.linkedin.com/jobs/search/?currentJobId=1744889236&keywords=data%20analyst&location=Madrid&start=25
1744889236
PAGINA: 50
i:1
Senior Business Development Manager - Cloud Economics Promoted
https://www.linkedin.com/jobs/search/?currentJobId=1800343808&keywords=data%20analyst&location=Madrid&start=50
1800343808
Senior Business Development Manager - Cloud Economics
Amazon Web Services (AWS)
Madrid, ES
3 weeks

i:2
Senior Data Engineer Promoted
https://www.linkedin.com/jobs/search/?currentJobId=1793235487&keywords=data%20analyst&location=Madrid&start=50
1793235487
PAGINA: 75
i:1
Digital Data Scientist Promoted
https://www.linkedin.com/jobs/search/?currentJobId=1712806429&keywords=data%20analyst&location=Madrid&start=75
1712806429
Digital Data Scientist
JTI (Japan Tobacco International)
Madrid, ES
4 weeks

i:2
Data Analytics Manager Madrid Promoted
https://www.linkedin.com/jobs/search/?currentJobId=1786901267&keywords=data%20analyst&location=Madrid&start=75
1786901267
Data Analytics Manager Madrid
Accenture España
Madrid, ES
13 hours

i:3
Senior Business Development Manager - Cloud Economics Promoted
https://www.linkedin.com/jobs/search/?currentJobId=1800343808&keywords=data%20analyst&location=Madrid&start=75
1800343808
Senior Business Development Manager - Cloud Economics
Amazon Web Services (AWS)
Madrid, ES
3 weeks

i:4
Grupo CMC: Analista de datos (python) - madrid
https://www.linkedin.com/jobs/search/?currentJobId=1820320402&keywords=data%20analyst&location=Madrid&start=75
1820320402
Grupo CMC: Analista de datos (python) - madrid
Grupo CMC
Madrid, ES
1 month

i:5
Programmatic Trader & Data Analyst
https://www.linkedin.com/jobs/search/?currentJobId=1675679035&keywords=data%20analyst&location=Madrid&start=75
1675679035
Programmatic Trader & Data Analyst
Tap for Tap
Madrid, ES
3 months

i:6
Programmatic Trader & Data Analyst
https://www.linkedin.com/jobs/search/?currentJobId=1651627197&keywords=data%20analyst&location=Madrid&start=75
1651627197
Programmatic Trader & Data Analyst
TAPTAP Digital
Madrid, ES
4 months

i:7
Analistas de datos
https://www.linkedin.com/jobs/search/?currentJobId=1758590222&keywords=data%20analyst&location=Madrid&start=75
1758590222
Analistas de datos
GRUPO INVOIN
Madrid, ES
1 month

i:8
Analistas de datos
https://www.linkedin.com/jobs/search/?currentJobId=1817940217&keywords=data%20analyst&location=Madrid&start=75
1817940217
Analistas de datos
Grupo INVOIN
Madrid, ES
1 month

i:9
DATA ANALYST ( German Speaker )
https://www.linkedin.com/jobs/search/?currentJobId=1783702854&keywords=data%20analyst&location=Madrid&start=75
1783702854
DATA ANALYST ( German Speaker )
Page Personnel
Madrid, ES
2 months

i:10
Analista senior de datos móviles
https://www.linkedin.com/jobs/search/?currentJobId=1794162896&keywords=data%20analyst&location=Madrid&start=75
1794162896
Analista senior de datos móviles
jobleads.com - Careers for Senior-Level Professionals
Madrid, ES
2 weeks

i:11
CJE Investment
https://www.linkedin.com/jobs/search/?currentJobId=1812750453&keywords=data%20analyst&location=Madrid&start=75
1812750453
CJE Investment
ING
Madrid, ES
1 month

i:12
SOC - Event Monitoring Tier 3 Analyst
https://www.linkedin.com/jobs/search/?currentJobId=1800961531&keywords=data%20analyst&location=Madrid&start=75
1800961531
SOC - Event Monitoring Tier 3 Analyst
Deloitte España
Madrid, ES
1 month

i:13
Senior Data Analyst, Madrid
https://www.linkedin.com/jobs/search/?currentJobId=1829329245&keywords=data%20analyst&location=Madrid&start=75
1829329245
Senior Data Analyst, Madrid
Farmacias Trebol
Provincia de Madrid, ES
1 day

i:14
Product Analyst
https://www.linkedin.com/jobs/search/?currentJobId=1682849603&keywords=data%20analyst&location=Madrid&start=75
1682849603
Product Analyst
Fever
Madrid, ES
3 months

i:15
Beca Data Analyst (ING)
https://www.linkedin.com/jobs/search/?currentJobId=1748168295&keywords=data%20analyst&location=Madrid&start=75
1748168295
Beca Data Analyst (ING)
Tempotel
Madrid, ES
1 month

i:16
Data Analyst
https://www.linkedin.com/jobs/search/?currentJobId=1706889004&keywords=data%20analyst&location=Madrid&start=75
1706889004
Data Analyst
Merkle Inc
Madrid, ES
3 months

i:17
Security Program Analyst
https://www.linkedin.com/jobs/search/?currentJobId=1827111603&keywords=data%20analyst&location=Madrid&start=75
1827111603
Security Program Analyst
Amazon
Madrid, ES
1 day

i:18
Analista de datos (Python), Madrid
https://www.linkedin.com/jobs/search/?currentJobId=1655709490&keywords=data%20analyst&location=Madrid&start=75
1655709490
Analista de datos (Python), Madrid
CMC LTD
Madrid, ES
4 months

i:19
Machine Learning & Data Analytics Engineer
https://www.linkedin.com/jobs/search/?currentJobId=1784192219&keywords=data%20analyst&location=Madrid&start=75
1784192219
Machine Learning & Data Analytics Engineer
Michael Page
Madrid, ES
2 months

i:20
Lead Data Scientist
https://www.linkedin.com/jobs/search/?currentJobId=1757263851&keywords=data%20analyst&location=Madrid&start=75
1757263851
Lead Data Scientist
OrbitalAds
Madrid, ES
1 month

i:21
Dutch speaker for data analyst
https://www.linkedin.com/jobs/search/?currentJobId=1660678063&keywords=data%20analyst&location=Madrid&start=75
1660678063
Dutch speaker for data analyst
Page Personnel
Madrid, ES
4 months

i:22
Senior Data Analyst, Madrid
https://www.linkedin.com/jobs/search/?currentJobId=1830255201&keywords=data%20analyst&location=Madrid&start=75
1830255201
Senior Data Analyst, Madrid
Farmacias Trebol
Provincia de Madrid, ES
19 hours

i:23
TEMPOTEL ETT: Data analyst junior
https://www.linkedin.com/jobs/search/?currentJobId=1820318676&keywords=data%20analyst&location=Madrid&start=75
1820318676
TEMPOTEL ETT: Data analyst junior
Tempotel
Madrid, ES
1 month

i:24
Data Analyst
https://www.linkedin.com/jobs/search/?currentJobId=1824166099&keywords=data%20analyst&location=Madrid&start=75
1824166099
Data Analyst
Initiate International
Madrid, ES
1 week

i:25
Senior Digital Analyst_Sector Energía
https://www.linkedin.com/jobs/search/?currentJobId=1802910241&keywords=data%20analyst&location=Madrid&start=75
1802910241
Senior Digital Analyst_Sector Energía
Michael Page
Madrid, ES
3 weeks

PAGINA: 100
i:1
Senior Data Analyst, Madrid
https://www.linkedin.com/jobs/search/?currentJobId=1827311535&keywords=data%20analyst&location=Madrid&start=100
1827311535
Senior Data Analyst, Madrid
Farmacias Trebol
Provincia de Madrid, ES
3 days

i:2
Business Data & Operations Analyst
https://www.linkedin.com/jobs/search/?currentJobId=1808212653&keywords=data%20analyst&location=Madrid&start=100
1808212653
Business Data & Operations Analyst
Enghouse Interactive
Madrid, ES
2 weeks

i:3
Senior Data Analyst, Madrid
https://www.linkedin.com/jobs/search/?currentJobId=1821998629&keywords=data%20analyst&location=Madrid&start=100
1821998629
Senior Data Analyst, Madrid
Farmacias Trebol
Provincia de Madrid, ES
1 week

i:4
Business Analyst
https://www.linkedin.com/jobs/search/?currentJobId=1741855150&keywords=data%20analyst&location=Madrid&start=100
1741855150
Business Analyst
First Point Group
Madrid, ES
2 months

i:5
Senior Data Analyst, Madrid
https://www.linkedin.com/jobs/search/?currentJobId=1818107900&keywords=data%20analyst&location=Madrid&start=100
1818107900
Senior Data Analyst, Madrid
Farmacias Trebol
Provincia de Madrid, ES
1 week

i:6
Data Analytics Consultant
https://www.linkedin.com/jobs/search/?currentJobId=1538485742&keywords=data%20analyst&location=Madrid&start=100
1538485742
Data Analytics Consultant
Making Science
Madrid, ES
6 months

i:7
Senior Data Analyst, Madrid
https://www.linkedin.com/jobs/search/?currentJobId=1815630718&keywords=data%20analyst&location=Madrid&start=100
1815630718
Senior Data Analyst, Madrid
Farmacias Trebol
Provincia de Madrid, ES
1 week

i:8
Data Analyst
https://www.linkedin.com/jobs/search/?currentJobId=1793008025&keywords=data%20analyst&location=Madrid&start=100
1793008025
Data Analyst
Parallel
Madrid, ES
1 month

i:9
Senior Data Analyst, Madrid
https://www.linkedin.com/jobs/search/?currentJobId=1820629923&keywords=data%20analyst&location=Madrid&start=100
1820629923
Senior Data Analyst, Madrid
Farmacias Trebol
Provincia de Madrid, ES
1 week

i:10
Business Analyst - 2020
https://www.linkedin.com/jobs/search/?currentJobId=1824162807&keywords=data%20analyst&location=Madrid&start=100
1824162807
Business Analyst - 2020
Roland Berger
Madrid, ES
1 week

i:11
Senior Data Analyst, Madrid
https://www.linkedin.com/jobs/search/?currentJobId=1816787817&keywords=data%20analyst&location=Madrid&start=100
1816787817
Senior Data Analyst, Madrid
Farmacias Trebol
Provincia de Madrid, ES
1 week

i:12
Analyst Healthcare
https://www.linkedin.com/jobs/search/?currentJobId=1829995885&keywords=data%20analyst&location=Madrid&start=100
1829995885
Analyst Healthcare
Quintilesims
Madrid, ES
2 days

i:13
Senior Data Analyst, Madrid
https://www.linkedin.com/jobs/search/?currentJobId=1814730857&keywords=data%20analyst&location=Madrid&start=100
1814730857
Senior Data Analyst, Madrid
Farmacias Trebol
Provincia de Madrid, ES
2 weeks

i:14
Product Data Analyst
https://www.linkedin.com/jobs/search/?currentJobId=1768582225&keywords=data%20analyst&location=Madrid&start=100
1768582225
Product Data Analyst
Adevinta
Madrid, ES
1 month

i:15
Senior Data Analyst, Madrid
https://www.linkedin.com/jobs/search/?currentJobId=1819399165&keywords=data%20analyst&location=Madrid&start=100
1819399165
Senior Data Analyst, Madrid
Farmacias Trebol
Provincia de Madrid, ES
1 week

i:16
Data Analyst
https://www.linkedin.com/jobs/search/?currentJobId=1826985956&keywords=data%20analyst&location=Madrid&start=100
1826985956
Data Analyst
Es3 Esp Cigna European Services
Madrid, ES
6 days

i:17
Senior Data Analyst, Madrid
https://www.linkedin.com/jobs/search/?currentJobId=1823537519&keywords=data%20analyst&location=Madrid&start=100
1823537519
Senior Data Analyst, Madrid
Farmacias Trebol
Provincia de Madrid, ES
1 week

i:18
Business Analyst En Madrid
https://www.linkedin.com/jobs/search/?currentJobId=1824165534&keywords=data%20analyst&location=Madrid&start=100
1824165534
Business Analyst En Madrid
Ing
Madrid, ES
1 week

i:19
Analista De Datos
https://www.linkedin.com/jobs/search/?currentJobId=1816560449&keywords=data%20analyst&location=Madrid&start=100
1816560449
Analista De Datos
Aegon
Madrid, ES
2 weeks

i:20
Analista de datos (Scrum), Madrid
https://www.linkedin.com/jobs/search/?currentJobId=1802274844&keywords=data%20analyst&location=Madrid&start=100
1802274844
Analista de datos (Scrum), Madrid
ALTEN Spain
Madrid, ES
3 weeks

i:21
Consultor/a Data & Analytics
https://www.linkedin.com/jobs/search/?currentJobId=1828486737&keywords=data%20analyst&location=Madrid&start=100
1828486737
Consultor/a Data & Analytics
EY
Madrid, ES
2 days

i:22
Analista de Datos
https://www.linkedin.com/jobs/search/?currentJobId=1801229644&keywords=data%20analyst&location=Madrid&start=100
1801229644
Analista de Datos
Keepler Data Tech
Madrid, ES
3 weeks

i:23
BI Developer/Data Analyst
https://www.linkedin.com/jobs/search/?currentJobId=1685155485&keywords=data%20analyst&location=Madrid&start=100
1685155485
BI Developer/Data Analyst
Lola Market
Madrid, ES
3 months

i:24
Junior Consultant Data Analytics
https://www.linkedin.com/jobs/search/?currentJobId=1298846568&keywords=data%20analyst&location=Madrid&start=100
1298846568
Junior Consultant Data Analytics
Easy Virtual Fair
Madrid, ES
10 months

i:25
Finance Data Analyst En Madrid
https://www.linkedin.com/jobs/search/?currentJobId=1820238516&keywords=data%20analyst&location=Madrid&start=100
1820238516
Finance Data Analyst En Madrid
Ing
Madrid, ES
1 week

PAGINA: 125
i:1
Data Analyst
https://www.linkedin.com/jobs/search/?currentJobId=1750698387&keywords=data%20analyst&location=Madrid&start=125
1750698387
Data Analyst
Orbital Ads
Madrid, ES
1 month

i:2
Data Analyst + Data Engineering posición mixta
https://www.linkedin.com/jobs/search/?currentJobId=1723959999&keywords=data%20analyst&location=Madrid&start=125
1723959999
Data Analyst + Data Engineering posición mixta
Talento, Innovación y Desarrollo, S.L.
Madrid, ES
2 months

i:3
Beca Analista de Datos - Microstrategy
https://www.linkedin.com/jobs/search/?currentJobId=1732861736&keywords=data%20analyst&location=Madrid&start=125
1732861736
Beca Analista de Datos - Microstrategy
Innova-tsn
Las Rozas de Madrid, ES
3 months

i:4
4P Internal Use Cases Business Data Analyst en Madrid
https://www.linkedin.com/jobs/search/?currentJobId=1768578002&keywords=data%20analyst&location=Madrid&start=125
1768578002
4P Internal Use Cases Business Data Analyst en Madrid
Telefonica
Madrid, ES
1 month

i:5
Analista de Datos
https://www.linkedin.com/jobs/search/?currentJobId=1829618846&keywords=data%20analyst&location=Madrid&start=125
1829618846
Analista de Datos
Allianz Partners
Madrid, ES
1 day

i:6
Big Data Analyst
https://www.linkedin.com/jobs/search/?currentJobId=1812956704&keywords=data%20analyst&location=Madrid&start=125
1812956704
Big Data Analyst
Standby Consultores
Madrid, ES
2 weeks

i:7
Business Process Analyst
https://www.linkedin.com/jobs/search/?currentJobId=1738751982&keywords=data%20analyst&location=Madrid&start=125
1738751982
Business Process Analyst
SWIFT (Society for Worldwide Interbank Financial Telecommunications)
Madrid, ES
3 months

i:8
BIG DATA Analyst
https://www.linkedin.com/jobs/search/?currentJobId=1825643625&keywords=data%20analyst&location=Madrid&start=125
1825643625
BIG DATA Analyst
atmira
Madrid, ES
5 days

i:9
Consultor Data Analyst Senior Madrid
https://www.linkedin.com/jobs/search/?currentJobId=1723960417&keywords=data%20analyst&location=Madrid&start=125
1723960417
Consultor Data Analyst Senior Madrid
Talento, Innovación y Desarrollo, S.L.
Madrid, ES
2 months

i:10
ANALISTA DE DATOS
https://www.linkedin.com/jobs/search/?currentJobId=1770623122&keywords=data%20analyst&location=Madrid&start=125
1770623122
ANALISTA DE DATOS
Colavoro
Madrid, ES
1 month

i:11
INTERNTIONAL RISK HUB - RISK ANTICIPATION / BUSINESS ANALYST
https://www.linkedin.com/jobs/search/?currentJobId=1824801594&keywords=data%20analyst&location=Madrid&start=125
1824801594
INTERNTIONAL RISK HUB - RISK ANTICIPATION / BUSINESS ANALYST
BNP Paribas 2
Madrid, ES
6 days

i:12
Analista de Datos BI con PL/SQL
https://www.linkedin.com/jobs/search/?currentJobId=1828477662&keywords=data%20analyst&location=Madrid&start=125
1828477662
Analista de Datos BI con PL/SQL
Randstad España
Madrid, ES
2 days

i:13
SANTANDER TECHNOLOGY & OPERATIONS is looking for a COST ANALYST,
https://www.linkedin.com/jobs/search/?currentJobId=1828391449&keywords=data%20analyst&location=Madrid&start=125
1828391449
SANTANDER TECHNOLOGY & OPERATIONS is looking for a COST ANALYST,
Santander Global Tech.
Madrid, ES
2 days

i:14
Analista y categorización de datos Madrid
https://www.linkedin.com/jobs/search/?currentJobId=1824837855&keywords=data%20analyst&location=Madrid&start=125
1824837855
Analista y categorización de datos Madrid
Fullstep Networks
Madrid, ES
6 days

i:15
INTERNTIONAL RISK HUB - RISK ANTICIPATION / BUSINESS ANALYST
https://www.linkedin.com/jobs/search/?currentJobId=1818321271&keywords=data%20analyst&location=Madrid&start=125
1818321271
INTERNTIONAL RISK HUB - RISK ANTICIPATION / BUSINESS ANALYST
BNP Paribas 2
Madrid, ES
1 week

i:16
INTERNTIONAL RISK HUB - RISK ANTICIPATION / BUSINESS ANALYST
https://www.linkedin.com/jobs/search/?currentJobId=1815834495&keywords=data%20analyst&location=Madrid&start=125
1815834495
INTERNTIONAL RISK HUB - RISK ANTICIPATION / BUSINESS ANALYST
BNP Paribas 2
Madrid, ES
1 week

i:17
INTERNTIONAL RISK HUB - RISK ANTICIPATION / BUSINESS ANALYST
https://www.linkedin.com/jobs/search/?currentJobId=1825794275&keywords=data%20analyst&location=Madrid&start=125
1825794275
INTERNTIONAL RISK HUB - RISK ANTICIPATION / BUSINESS ANALYST
BNP Paribas 2
Madrid, ES
5 days

i:18
INTERNTIONAL RISK HUB - RISK ANTICIPATION / BUSINESS ANALYST
https://www.linkedin.com/jobs/search/?currentJobId=1814952733&keywords=data%20analyst&location=Madrid&start=125
1814952733
INTERNTIONAL RISK HUB - RISK ANTICIPATION / BUSINESS ANALYST
BNP Paribas 2
Madrid, ES
2 weeks

i:19
INTERNTIONAL RISK HUB - RISK ANTICIPATION / BUSINESS ANALYST
https://www.linkedin.com/jobs/search/?currentJobId=1822362264&keywords=data%20analyst&location=Madrid&start=125
1822362264
INTERNTIONAL RISK HUB - RISK ANTICIPATION / BUSINESS ANALYST
BNP Paribas 2
Madrid, ES
1 week

i:20
INTERNTIONAL RISK HUB - RISK ANTICIPATION / BUSINESS ANALYST
https://www.linkedin.com/jobs/search/?currentJobId=1829653432&keywords=data%20analyst&location=Madrid&start=125
1829653432
INTERNTIONAL RISK HUB - RISK ANTICIPATION / BUSINESS ANALYST
BNP Paribas 2
Madrid, ES
1 day

i:21
Commercial Operations
https://www.linkedin.com/jobs/search/?currentJobId=1820306375&keywords=data%20analyst&location=Madrid&start=125
1820306375
Commercial Operations
Quintilesims
Madrid, ES
1 week

i:22
Analista visualización de datos
https://www.linkedin.com/jobs/search/?currentJobId=1789980046&keywords=data%20analyst&location=Madrid&start=125
1789980046
Analista visualización de datos
El Corte Inglés
Madrid, ES
1 month

i:23
INTERNTIONAL RISK HUB - RISK ANTICIPATION / BUSINESS ANALYST
https://www.linkedin.com/jobs/search/?currentJobId=1819663582&keywords=data%20analyst&location=Madrid&start=125
1819663582
INTERNTIONAL RISK HUB - RISK ANTICIPATION / BUSINESS ANALYST
BNP Paribas 2
Madrid, ES
1 week

i:24
INTERNTIONAL RISK HUB - RISK ANTICIPATION / BUSINESS ANALYST
https://www.linkedin.com/jobs/search/?currentJobId=1828489568&keywords=data%20analyst&location=Madrid&start=125
1828489568
INTERNTIONAL RISK HUB - RISK ANTICIPATION / BUSINESS ANALYST
BNP Paribas 2
Madrid, ES
2 days

i:25
INTERNTIONAL RISK HUB - RISK ANTICIPATION / BUSINESS ANALYST
https://www.linkedin.com/jobs/search/?currentJobId=1820770635&keywords=data%20analyst&location=Madrid&start=125
1820770635
INTERNTIONAL RISK HUB - RISK ANTICIPATION / BUSINESS ANALYST
BNP Paribas 2
Madrid, ES
1 week

PAGINA: 150
i:1
INTERNTIONAL RISK HUB - RISK ANTICIPATION / BUSINESS ANALYST
https://www.linkedin.com/jobs/search/?currentJobId=1827599565&keywords=data%20analyst&location=Madrid&start=150
1827599565
INTERNTIONAL RISK HUB - RISK ANTICIPATION / BUSINESS ANALYST
BNP Paribas 2
Madrid, ES
3 days

i:2
Lead Data Scientist
https://www.linkedin.com/jobs/search/?currentJobId=1764841143&keywords=data%20analyst&location=Madrid&start=150
1764841143
Lead Data Scientist
Orbital Ads
Madrid, ES
1 month

i:3
Work from Home Anywhere in Spain! Search Engine Evaluator
https://www.linkedin.com/jobs/search/?currentJobId=1760402644&keywords=data%20analyst&location=Madrid&start=150
1760402644
Work from Home Anywhere in Spain! Search Engine Evaluator
Appen Remote
Madrid, ES
1 month

i:4
Senior Audit Data Analyst En Madrid
https://www.linkedin.com/jobs/search/?currentJobId=1824166150&keywords=data%20analyst&location=Madrid&start=150
1824166150
Senior Audit Data Analyst En Madrid
Ing
Madrid, ES
1 week

i:5
Finance Project Manager/Analyst
https://www.linkedin.com/jobs/search/?currentJobId=1815830525&keywords=data%20analyst&location=Madrid&start=150
1815830525

In [115]:
df_jobs.shape

(465, 18)

In [116]:
df_jobs['JOB TITLE'].unique()

array(['data analyst', 'data scientist', 'data engineer'], dtype=object)

In [117]:
df_jobs[df_jobs['JOB TITLE']=='data analyst'].shape

(98, 18)

In [118]:
df_jobs[df_jobs['JOB TITLE']=='data scientist'].shape

(255, 18)

In [119]:
df_jobs[df_jobs['JOB TITLE']=='data engineer'].shape

(112, 18)

In [120]:
#browser.quit()

### Exporting to csv

In [121]:
now_file = now_str.replace(':','.')
now_file

'2020-04-20 01.38'

In [122]:
#LINUX
if platform.system() == 'Linux':
    df_jobs.to_csv(f'../data/raw/df_jobs_{location}_{now_file}.csv',
                  sep = ';',
                  encoding= 'utf8',
                  index=False,
                  )
#WINDOWS
elif platform.system() == 'Windows':
    df_jobs.to_csv(f'..\\data\\raw\\df_jobs_{location}_{now_file}.csv',
                  sep = ';',
                  encoding= 'utf8',
                  index=False,
                  )

In [123]:
df_jobs.head(2)

,JOB TITLE,LOCATION,SEARCH DATETIME,Current Job Id,Job html,Job name,Company name,Company location,Posted date,Estimated post date,Easy apply,Skills match,Seniority Level,Industry,Employment Type,Job Functions,Job info,Job Description
0,data analyst,Madrid,2020-04-20 01:38,1821611516,https://www.linkedin.com/jobs/view/1821611516/,Data Analyst Scala H/M,Experis IT,"Madrid, Comunidad de Madrid, España",5 days,2020-04-15 01:38,True,"{'yes': ['Data Analysis', 'Business Intelligen...",Mid-Senior level,Information Services Telecommunications Banking,Full-time,Information Technology Consulting Project Mana...,Posted Date\nPosted 5 days ago\nNumber of view...,"Experis IT, somos una compañía líder en soluci..."
1,data analyst,Madrid,2020-04-20 01:38,1811532919,https://www.linkedin.com/jobs/view/1811532919/,Finance Systems Business Analyst - GL/FA/AP/AR...,SystemsAccountants,Greater Madrid Metropolitan Area,1 week,2020-04-13 01:38,True,"{'yes': ['Business', 'Spanish', 'Accounting', ...",Mid-Senior level,Consumer Goods Consumer Services Financial Ser...,Full-time,Information Technology Finance Project Management,Posted Date\nPosted 1 week ago\nNumber of view...,A large company based near Madrid is currentl...

In [124]:
df_jobs.columns

Index(['JOB TITLE', 'LOCATION', 'SEARCH DATETIME', 'Current Job Id',
       'Job html', 'Job name', 'Company name', 'Company location',
       'Posted date', 'Estimated post date', 'Easy apply', 'Skills match',
       'Seniority Level', 'Industry', 'Employment Type', 'Job Functions',
       'Job info', 'Job Description'],
      dtype='object')

In [125]:
df_jobs[df_jobs['Easy apply']==True].shape

(19, 18)

In [126]:
end = datetime.now()
end

datetime.datetime(2020, 4, 20, 1, 59, 38, 743239)

In [133]:
dif = end - now
dif.total_seconds()/60 #21 minutes to get 460 job posts

21.450774566666666

## TESTING:

***

In [108]:
# > Trying with one job title
n_pages = n_pages_linkedin(browser, 'data analyst', location)
n_pages

170 results
<class 'selenium.webdriver.remote.webelement.WebElement'>
7

7

In [ ]:
# Going to last row 
try:
    pages = browser.find_element_by_xpath\
    ('/html/body/div[5]/div[4]/div[3]/section[1]/div[2]/div/div/div[1]/div[2]/div/section/artdeco-pagination/ul')
except:
    pages = browser.find_element_by_xpath\
    ('/html/body/div[6]/div[4]/div[3]/section[1]/div[2]/div/div/div[1]/div[2]/div/section/artdeco-pagination/ul')
actions = ActionChains(browser)
actions.move_to_element(pages).perform()

In [ ]:
#show MORE skills
izq =  browser.find_element_by_xpath\
("//div[@class='jobs-search-results jobs-search-results--is-two-pane']")
#ActionChains(browser).move_to_element(izq).perform()

In [ ]:
izq.text

In [ ]:
izq.send_keys(Keys.PAGE_UP*10)

In [ ]:
trabajo = j_post(browser, 3)
trabajo.text

In [ ]:
# ALL right side
job_post_right = \
browser.find_element_by_xpath("//div[@class='jobs-search-two-pane__details pt4 ph3 jobs-search-two-pane__details ember-view']")   
job_post_right.text

In [110]:
# JUST job description
job_post_right_description = \
browser.find_element_by_xpath("//div[@class='jobs-box jobs-box--fadein jobs-box--full-width jobs-box--with-cta-large jobs-description jobs-description--reformatted ember-view']").text  
job_post_right_description

"Company & Department Description\n\nAbout The Role\n\nWorking for SWIFT means working at the heart of the financial services industry, an industry were business challenges and opportunities grow every day.\nSWIFT’s Professional Services are a means to help our customers with their challenges to adhere to regulation, reduce costs and risks, streamline and ensure smooth operations and to improve the end customer’s experience. Our goal is to help our customers use SWIFT in the best way possible and excel faster.\n\nThe Services Marketing and Engineering team is part of the Services Enablement and Customer operations -Customer Experience organization. Our team enables the services organization to effectively provide high value and experience to our customers; We deliver around the following three main activities 1 - Portfolio management for Professional services, Training and Care/Support; 2 - Data analytics and predictive models; 3 - Business process design, Services delivery methodologies and Risk assessment\n\nWe are looking for a Business process analyst who will be responsible for analyzing critical business process with the aim of improve and streamline processes across teams for optimum efficiency in terms of both performance and cost. Helping the organization to improve the quality, reduce errors and lead time.\nIf you believe that tools are not the only answer to equip organizations to be more effective, you have high interest in process optimization, you are an analytical person who can keep a view of the bigger picture and you like to work in a multinational environment, you should read on!. If on top of this, you are a natural business enabler, willing to learn, with a great capacity to actively listen and think holistically while still having an eye for detail, you may be the person we are looking for.\n\nResponsibilities\n\nResponsibilities\n\nAs a Business Process Analyst you constantly contribute to the optimization of the processes and related systems within the business owner and agile development teams. When looking at efficiency you will be confronted to explore as well techniques on process automation, with that respect you will closely collaborate with our business process engineer that develops the RPA strategy. You will leverage their expertise and take decisions consciously based on quantitative and qualitative information.\n\nYour Main Responsibilities Will Be\nModelling business process working together with the business process owners\nImplementing the process using BPM, and coordinating several tasks until the automated process is adopted and used in production\nStreamlining and reengineering existing business processes. Analyze set of data’s to identify source of improvements. Perform ad-hoc analysis, translate and communicate results to stakeholders.\nAlign existing process to industry standards\nDocument new and existing process if already not documented and follow the recurring review cycle to ensure processes are up to date.\nImprove the process. Make decisions that eliminates detected bottlenecks, improves efficiency, and start de cycle again.\nAct as the primary contact with IT functional analyst and developers to lead the implementation of tools enhancement when necessary to automate the process.\nDevelop, configure and test business requirements. Lead UAT phase.\nEnsure project is completed on time and within the budgetary limits.\nIdentify improvement areas and corrections and promote continuous improvement.\nDevelop Key Performance Indicators to measure the efficiency of processes.\nQualifications\n\nQualifications\n\nEducation\nUniversity degree or equivalent\nExperience / Professional background\n4 - 6 years of experience in a business operations, product or service development/project planning/analyst role\nKnowledge of SWIFT's interface products and support experience is an advantage\nYou are familiar with process modelling tools such as Visio/Aris\nITIL and/or Lean Six Sigma Certification is an advantage\nRequired Skills\nExcellent analytical, communication and interpersonal skills with a strong track record and building and maintaining relationships with your key stakeholders\nStrategic and Operational and Critical thinking\nProblem solving and strong listening skills\nProcess improvement with focus on the client\nGood understanding of the IT architectural landscape and strong IT affinity\nNatural networker, able to negotiate compromise to solve complex issues\nA team player with a hands-on, energetic but pragmatic approach\nExcellent English, both written and spoken.\nWhat we offer\n\nWe put you in control of your career\n\nWe give you a competitive package\n\nWe help you perform at your best\n\nWe help you make a difference\n\nWe give you the freedom to be yourself\n\nCompany & Department Description\n\nSWIFT does not stand still. We are constantly evolving and tirelessly innovating. Working at the intersection of finance and technology is a very exciting place to be right now.\n\nSWIFT is transforming cross-border payments, making them faster and more transparent than ever before. We are the way the world moves value — every instant of every day, in almost every country.\n\nWe are proud that what we do has a critical impact on the global financial community and touches almost every aspect of the financial world. So, what you do at SWIFT has real impact too — an impact that matters every day. Which is why you matter to us.\n\nJoining SWIFT gives you unparalleled exposure to knowledge, expertise and technologies. If you have what it takes, you’ll be able to take on different career paths and have the opportunity to work in teams, departments and disciplines in countries around the world.\n\nSWIFT is unique. There is no other organisation like ours in the world driving the long-term future of the financial ecosystem. You’ll be surrounded by bright, customer-focused and intellectually curious people in a collaborative, friendly, open and inclusive environment.\n\nAt SWIFT we are trusted every instant. Everything we do has an impact that matters. And as a member of our team, you are trusted to make your impact every day.\n\nSeniority Level\nAssociate\nIndustry\nInformation Technology & Services Computer Software Financial Services\nEmployment Type\nFull-time\nJob Functions\nManagement Manufacturing"

In [ ]:
#Skills match
if re.search('\nHow you match',job_post_right.text):
#if '\nHow you match' in job_post_right.text:
    y = 'Match\n(.*)\n'
    n = 'No match\n(.*)\n' 
    job_post_skills_match    = re.findall(y,job_post_right.text)
    job_post_skills_nomatch  = re.findall(n,job_post_right.text)
    job_post_skills = {'yes': job_post_skills_match,
                       'no' : job_post_skills_nomatch,
                       'all': job_post_skills_match + job_post_skills_nomatch
                      }
else:
    job_post_skills_match    = {}
    
job_post_skills

In [ ]:
trabajo = j_post(browser, 10)
trabajo

In [ ]:
actions = ActionChains(trabajo)
actions.move_to_element(trabajo).perform()

In [ ]:
job_post_right_ind = \
browser.find_element_by_xpath("//div[@class='jobs-description-details pt4 pt4 ember-view']")   
job_post_right_ind.text

In [ ]:
job_post_right_ind_1 = \
browser.find_element_by_xpath("//ul[@class='jobs-box__list jobs-description-details__list js-formatted-industries-list']")   
job_post_right_ind_1.text

In [ ]:
#Industry
try:
    job_post_industry        = job_post_right.text.split('Industry\n',1)[1].split('\n')[0]
except:
    job_post_industry        = ""
job_post_industry

***

In [ ]:
df_jobs[df_jobs['Company name']=='']

In [ ]:
df_jobs[df_jobs['Easy apply']==True]

In [ ]:
df_jobs[df_jobs['Current Job Id']=='1772020331'].iloc[0,14]

In [ ]:
' skills match\n' in df_jobs[df_jobs['Current Job Id']=='1772020331'].iloc[0,14]

In [ ]:
rigth = browser.find_element_by_xpath('/html/body/div[5]/div[4]/div[3]/section[1]/div[2]/div/div/div[2]').text

In [ ]:
rigth

In [ ]:
rigth.split(' ago',1)[0].split('Posted Date\nPosted ')[1]

In [ ]:
rigth.split('Save\n',1)[1].split('\n',2)[1]

In [ ]:
df_jobs.shape

In [ ]:
df_jobs.dtypes

In [ ]:
df_jobs.iloc[0,6].split(' ago',1)[0].split('Posted Date\nPosted ')[1]

In [ ]:
df_jobs.iloc[0,6]

***
## PUENTE

In [ ]:
#location_input = input("PLEASE ENTER THE LOCATION WHERE YOU'D LIKE TO SEARCH: ")
location_input = 'berlin'

In [ ]:
location = location_input.capitalize()
location

In [ ]:
#job_title_input = input("PLEASE ENTER THE JOB THAT YOU'D LIKE TO SEARCH: ")
job_title_input = 'data analyst'

In [ ]:
job_title_df = job_title_input.lower()
job_title_s    = job_title_input.lower().replace(' ', '%20')
job_title_s

#### >>> GO TO > JOB SEARCH :

*** 
# OLD TESTING
***

In [ ]:
#tabla_grande = \
#browser.find_element_by_xpath("/html/body/div[5]/div[4]/div[3]/section[1]/div[2]/div/div")

#                               html/body/div[5]/div[4]/div[3]/section[1]/div[2]
#                               /html/body/div[5]/div[4]/div[3]/section[1]/div[2]/div/div/div[1]

In [ ]:
#Taking table of job posts
try:
    tabla_izq = \
    browser.find_element_by_xpath("/html/body/div[5]/div[4]/div[3]/section[1]/div[2]/div/div/div[1]")
                                  #/html/body/div[6]/div[4]/div[3]/section[1]/div[2]/div/div/div[1]
                                  #/html/body/div[6]/div[4]/div[3]/section[1]/div[2]/div/div/div[1]/div[2]
                                  #/html/body/div[5]/div[4]/div[3]/section[1]/div[2]/div/div/div[1]/div[2]
    #browser.find_element_by_class_name("jobs-search-two-pane__results display-flex")
    #                              /html/body/div[5]/div[4]/div[3]/section[1]/div[2]/div/div/div[1]
except:
    tabla_izq = \
    browser.find_element_by_xpath("/html/body/div[6]/div[4]/div[3]/section[1]/div[2]/div/div/div[1]")
    
time.sleep(0.5)
tabla_izq.text

In [ ]:
tabla_izq.text.split('\n')

In [ ]:
current_p = int(browser.current_url.split('&start=')[1])//25+1
current_p

In [ ]:
#are_you = browser.find_element_by_class_name("jobs-search-feedback-card")
#are_you.is_enabled()

In [ ]:
#for last page there is another logic (not 'Close')
if current_p < n_pages:
    job_list = tabla_izq.text.split('Manage alerts\n')[1].split('Close\n')[0].split('ago')
else:
    job_list = \
    tabla_izq.text.split('Manage alerts\n')[1].split('Close\n')[0].split('Create alert for this search\n')[0].split('ago')

n_job_list = len(job_list)-1
print(n_job_list) 
job_list

In [ ]:
# TESTING - clicking one selected job
n = n_job_list # max 25

# Selecting job post in order
try:
    job_post = browser.find_element_by_xpath\
    (f'/html/body/div[5]/div[4]/div[3]/section[1]/div[2]/div/div/div[1]/div[2]/div/ul/li[{n}]/div/artdeco-entity-lockup/artdeco-entity-lockup-content/h3/a')
except:
    job_post = browser.find_element_by_xpath\
    (f'/html/body/div[6]/div[4]/div[3]/section[1]/div[2]/div/div/div[1]/div[2]/div/ul/li[{n}]/div/artdeco-entity-lockup/artdeco-entity-lockup-content/h3/a')
#     /html/body/div[5]/div[4]/div[3]/section[1]/div[2]/div/div/div[1]/div[2]/div/ul/li[1]/div/artdeco-entity-lockup/artdeco-entity-lockup-content/h3/a
#  (f'/html/body/div[5]/div[4]/div[3]/section[1]/div[2]/div/div/div[1]/div[2]/div/ul/li[{n}]')
job_post.click()

# Getting job post ID
currentJobId = browser.current_url.split('currentJobId=')[1].split('&')[0]
#currentJobId = browser.current_url.split('?')[1].split('&')[0].split('=')[1]
print(currentJobId)

# Extracting job information
try:
    job_post_right = browser.find_element_by_xpath\
        ('/html/body/div[5]/div[4]/div[3]/section[1]/div[2]/div/div/div[2]')
except:
    job_post_right = browser.find_element_by_xpath\
        ('/html/body/div[6]/div[4]/div[3]/section[1]/div[2]/div/div/div[2]')
job_post_right_content = job_post_right.text.split('\n',16)
print(len(job_post_right_content))
print(f'{job_post_right_content}')
#print(f'{job_post_right.text.split('\n',15)}')

# 200402 21.00 (Session info: chrome=80.0.3987.162)
# 200403 21.00 (Session info: chrome=80.0.3987.162)
# 200404 17.00  (Session info: chrome=80.0.3987.162)

In [ ]:
list(range(0,n_pages*25,25))

In [ ]:
browser.get_log

In [ ]:
izq = browser.find_element_by_class_name('jobs-search-results jobs-search-results--is-two-pane')
izq.text()

In [ ]:
tabla_izq.text

In [ ]:
import requests
from bs4 import BeautifulSoup

In [ ]:
#with requests.Session() as s:

with requests.Session() as session:
    
    response = session.get(LOGIN_URL)
    session = session.cookies.get_dict()
    bcookie = session.get('bcookie')
    print(bcookie)
    cookie = bcookie.split('&')[1].split('"')[0]
    print(f'\n{cookie}')
    
    LoginCsrfParam   = cookie
    Session_key      = "cristopher.rojas.lepe@gmail.com" # "cristopher.rojas.lepe%40gmail.com"
    Session_password = "M3t4n01@" # "M3t4n01%40"
    Session_redirect = "https%3A%2F%2Fwww.linkedin.com%2Fjobs" # "https://www.linkedin.com/jobs" #"https%3A%2F%2Fwww.linkedin.com%2Fjobs"
    Trk              = "guest_homepage-jobseeker_sign-in-submit"
    
    payload = {'loginCsrfParam'  : LoginCsrfParam,
               'session_key'     : Session_key,
               'session_password': Session_password,
               'session_redirect': Session_redirect,
               'trk'             : Trk
              }
    print(f'\n{payload}')
    p = requests.post(LOGIN_URL, data = payload)  
    #p = session.post(LOGIN_URL, data = payload) 
    # print the html returned or something more intelligent to see if it's a successful login page.
    print(f'\n{p.content}')
    soup = BeautifulSoup(p.content,'html.parser')
    print(f'\n{soup}')

    # An authorised request.
#     r = s.get('A protected web page url')
#     print r.text