# Step 1: ACQUIRE DATA

In [1]:
from selenium import webdriver
from selenium.webdriver.common.action_chains import ActionChains
from selenium.webdriver.common.keys import Keys
from selenium.common.exceptions import ElementClickInterceptedException
import os
from dotenv import load_dotenv
import time
import re
import pandas as pd
from datetime import datetime, timedelta

> ## SEARCH

In [75]:
#job_title_input = input("PLEASE ENTER THE JOB THAT YOU'D LIKE TO SEARCH: ")
job_title_input = 'data scientist'

In [76]:
job_title_df = job_title_input.lower()
job_title_s  = job_title_input.lower().replace(' ', '%20')
job_title_s

'data%20scientist'

In [4]:
# geoId="100994331"

> ## WEB SCRAPPING

### SELENIUM >

In [5]:
#import requests
#from bs4 import BeautifulSoup

#### DRIVER PATH:

In [6]:
#LINUX
#os.environ['PATH'] = f'{os.environ["PATH"]}:/home/cristopherrl/Documents/program/selenium/drivers/'
#WINDOWS
os.environ['PATH'] = f'{os.environ["PATH"]};C:\\Users\\x385645\\Documents\\Selenium'

In [7]:
os.environ['PATH']

'C:\\Users\\x385645\\AppData\\Local\\Continuum\\anaconda3\\envs\\final_project;C:\\Users\\x385645\\AppData\\Local\\Continuum\\anaconda3\\envs\\final_project\\Library\\mingw-w64\\bin;C:\\Users\\x385645\\AppData\\Local\\Continuum\\anaconda3\\envs\\final_project\\Library\\usr\\bin;C:\\Users\\x385645\\AppData\\Local\\Continuum\\anaconda3\\envs\\final_project\\Library\\bin;C:\\Users\\x385645\\AppData\\Local\\Continuum\\anaconda3\\envs\\final_project\\Scripts;C:\\Users\\x385645\\AppData\\Local\\Continuum\\anaconda3\\envs\\final_project\\bin;C:\\Users\\x385645\\AppData\\Local\\Continuum\\anaconda3\\condabin;C:\\ARQDISP;C:\\PROGRA~1\\7-ZIP;C:\\PROGRAM FILES (X86)\\IBM\\TRACE FACILITY;C:\\PROGRAM FILES (X86)\\IBM\\PERSONAL COMMUNICATIONS;C:\\PROGRAM FILES (X86)\\JAVA\\JRE1.8.0_91\\BIN\\CLIENT;C:\\PROGRAMDATA\\ORACLE\\JAVA\\JAVAPATH;C:\\WINDOWS\\SYSTEM32;C:\\WINDOWS;C:\\WINDOWS\\SYSTEM32\\WBEM;C:\\WINDOWS\\SYSTEM32\\WINDOWSPOWERSHELL\\V1.0;.;C:\\WINDOWS\\system32;C:\\WINDOWS;C:\\WINDOWS\\System32\\Wbem;C:\\WINDOWS\\System32\\WindowsPowerShell\\v1.0;C:\\WINDOWS\\System32\\OpenSSH;C:\\Users\\x385645\\AppData\\Local\\Microsoft\\WindowsApps;C:\\Users\\x385645\\AppData\\Local\\Programs\\Azure Data Studio\\bin;C:\\Users\\x385645\\AppData\\Local\\Programs\\Git\\cmd;C:\\Users\\x385645\\Documents\\Selenium'

#### .ENV PATH:

In [8]:
load_dotenv(dotenv_path='../.env')

True

#### SIGN IN:

In [9]:
browser = webdriver.Chrome()
URL = 'https://www.linkedin.com/login'
browser.get(URL)

In [10]:
SECRET_USER = os.getenv("SESSION_KEY")
SECRET_PASS = os.getenv("SESSION_PASSWORD")

In [11]:
# user box
user     = browser.find_element_by_xpath('/html/body/div/main/div/form/div[1]/input')
user.send_keys(SECRET_USER)
time.sleep(1)

In [12]:
# password box
password = browser.find_element_by_xpath('/html/body/div/main/div/form/div[2]/input')
password.send_keys(SECRET_PASS)
time.sleep(1)

In [13]:
#sign_in  = browser.find_element_by_xpath('/html/body/div/main/div/form/div[3]/button')
# sign in button
sign_in  = browser.find_element_by_class_name('login__form_action_container')
sign_in.click()
time.sleep(1)

In [16]:
browser.maximize_window()

***
***
#### LINKEDIN PROFILE :

In [78]:
# Click on profile button (up-rigth)
profile = browser.find_element_by_id('profile-nav-item')
#profile = browser.find_element_by_xpath('/html/body/header/div/nav/ul/li[6]/div/artdeco-dropdown/artdeco-dropdown-trigger/div')
profile.click()

In [79]:
# Click on View profile button
#link_profile = browser.find_element_by_xpath('/html/body/header/div/nav/ul/li[6]/div/artdeco-dropdown/artdeco-dropdown-content/div/ul/li[1]/a/div[2]/span')
link_profile = browser.find_element_by_xpath("//span[@class='artdeco-button artdeco-button--tertiary artdeco-button--fluid']")
link_profile.click()

#### Profile page >

In [80]:
browser.current_url

'https://www.linkedin.com/feed/'

In [81]:
linkedin_profile = browser.current_url.split('/')[4]
linkedin_profile

''

#### Headline:

In [82]:
html_body = browser.find_element_by_xpath ('/html/body')
html_body.send_keys(Keys.PAGE_DOWN)
time.sleep(0.5)

In [83]:
# Getting HEADLINE table
profile_headline = browser.find_element_by_xpath("//h2[@class='mt1 t-18 t-black t-normal']")
profile_headline.text

'Data Scientist & Analyst | Python ( Pandas , NumPy , SciPy , Matplolib ) | ML | Tableau | SQL | Git'

In [84]:
#try:
#if browser.find_element_by_xpath\
#    ('/html/body/div[6]/div[4]/div[3]/div/div/div/div/div[2]/main/div[1]/section/div[2]/div[2]/div[1]/h2'):
#    profile_headline = browser.find_element_by_xpath\
#    ('/html/body/div[6]/div[4]/div[3]/div/div/div/div/div[2]/main/div[1]/section/div[2]/div[2]/div[1]/h2')
#    # /html/body/div[6]/div[4]/div[3]/div/div/div/div/div[2]/main/div[1]/section/div[2]/div[2]/div[1]/h2
#    print('opcion 1')#
#
#elif   browser.find_element_by_xpath\
#    ('/html/body/div[5]/div[3]/div[3]/div/div/div/div/div[2]/main/div[1]/section/div[2]/div[2]/div[1]/h2'):
#    profile_headline = browser.find_element_by_xpath\
#    ('/html/body/div[5]/div[3]/div[3]/div/div/div/div/div[2]/main/div[1]/section/div[2]/div[2]/div[1]/h2')
#    print('opcion 2')#
#
##except:
#elif browser.find_element_by_xpath\
#    ('/html/body/div[5]/div[4]/div[3]/div/div/div/div/div[2]/main/div[1]/section/div[2]/div[2]/div[1]/h2'):
#    profile_headline = browser.find_element_by_xpath\
#    ('/html/body/div[5]/div[4]/div[3]/div/div/div/div/div[2]/main/div[1]/section/div[2]/div[2]/div[1]/h2')
#    print('opcion 3')
#    
#profile_headline.text

In [85]:
profile_open = browser.find_element_by_xpath("//artdeco-carousel-content[@class='artdeco-carousel__content']")
print(profile_open.text)

if profile_open.text.split(" ")[0] == 'Open':
    profile_open_status = True
else:
    profile_open_status = True
profile_open_status

Open to job opportunities
Data Analyst, Data Scientist and Business Analyst roles
See all details
Only recruiters

True

#### About:

In [86]:
# show MORE > button "see more "
profile_show_about = browser.find_element_by_xpath("//span[@class='lt-line-clamp__line lt-line-clamp__line--last']")
ActionChains(browser).move_to_element(profile_show_about).perform()
profile_show_about.click()

In [87]:
# Getting HEADLINE table
profile_about = browser.find_element_by_xpath("//p[@class='pv-about__summary-text mt4 t-14 ember-view']")
profile_about.text

'Data Scientist & Analyst and Industrial Engineer, 7 years of experience in Data Analysis, Project Management, Process Management and Business Intelligence.\n\nGreat motivation and knowledge in Data Science and Innovation. High analytic, problem solving skill and focused on achievements.\n\nGood learning capacity with high disposition to teach and concerned about good labour relations.\n\nI am interested in taking part of teams who want to take on new challenges.'

#### Job experience:

In [88]:
html_body.send_keys(Keys.PAGE_DOWN * 5)
time.sleep(0.2)
html_body.send_keys(Keys.PAGE_DOWN * 5)
time.sleep(0.2)

In [89]:
# id='profile-content' >>   /html/body/div[5]/div[4]/div[3]
# class='profile-detail' >> /html/body/div[5]/div[4]/div[3]/div/div/div/div/div[2]/main/div[7]
#/html/body/div[5]/div[4]/div[3]/div/div/div/div/div[2]/main/div[7]/div[2]/span/div/section/div[1]

In [90]:
# show more experiences
#try:    
#if   browser.find_element_by_xpath('/html/body/div[5]/div[4]/div[3]/div/div/div/div/div[2]/main/div[7]/div[2]/span/div/section/div[1]/section/div/button'):
#                                   #/html/body/div[5]/div[4]/div[3]/div/div/div/div/div[2]/main/div[7]/div[2]/span/div/section/div[1]/section/div/button
#    profile_show_experience = browser.find_element_by_xpath('/html/body/div[5]/div[4]/div[3]/div/div/div/div/div[2]/main/div[7]/div[2]/span/div/section/div[1]/section/div/button')
#    print(1)
##except:
#elif browser.find_element_by_xpath('/html/body/div[5]/div[3]/div[3]/div/div/div/div/div[2]/main/div[7]/div[2]/span/div/section/div[1]/section/div/button'):
#    profile_show_experience = browser.find_element_by_xpath ('/html/body/div[5]/div[3]/div[3]/div/div/div/div/div[2]/main/div[7]/div[2]/span/div/section/div[1]/section/div/button')
#    print(2)
#    #actions = ActionChains(browser)
#    #actions.move_to_element(profile_show_experience).perform()##
#
##except:
#    #actions = ActionChains(browser)
#    #actions.move_to_element(profile_show_experience).perform()
#time.sleep(1)

In [91]:
# show MORE experiences > button "show more experience"
profile_show_experience = browser.find_element_by_xpath\
("//button[@class='pv-profile-section__see-more-inline pv-profile-section__text-truncate-toggle link link-without-hover-state']")
ActionChains(browser).move_to_element(profile_show_experience).perform()
profile_show_experience.click()
html_body.send_keys(Keys.PAGE_UP)

In [92]:
#try:
#  # Tries to click an element
#  profile_show_experience.click()
#except ElementClickInterceptedException:
#  # Use Javascript to scroll down to bottom of page
#  browser.execute_script("window.scrollTo(0, document.body.scrollHeight);")

In [93]:
# experiences > text
#if browser.find_element_by_xpath('/html/body/div[5]/div[4]/div[3]/div/div/div/div/div[2]/main/div[7]/div[2]/span/div/section/div[1]'):
#    profile_experience = browser.find_element_by_xpath\
#    ('/html/body/div[5]/div[4]/div[3]/div/div/div/div/div[2]/main/div[7]/div[2]/span/div/section/div[1]')##
#
#elif browser.find_element_by_xpath(  '/html/body/div[5]/div[3]/div[3]/div/div/div/div/div[2]/main/div[7]/div[2]/span/div/section/div[1]'):
#    profile_experience = browser.find_element_by_xpath\
#    ('/html/body/div[5]/div[3]/div[3]/div/div/div/div/div[2]/main/div[7]/div[2]/span/div/section/div[1]')
#    
#profile_experience.text

In [94]:
# experiences > text
profile_experience = browser.find_element_by_id('experience-section')
profile_experience.text

'Experience\nCollection Coordination Analyst\nCompany Name\nGrupo CIL Marketing Directo Full-time\nDates Employed\nMar 2019 – Present\nEmployment Duration\n1 yr 2 mos\nLocation\nMadrid Area, Spain\nAnalyze the customer payment behavior to create and manage the development of new processes and projects.\n\nResponsible for the coordination of the collection processes in Spain, France and Portugal, ensuring the proper functioning in all countries.\nReal Estate Agent\nCompany Name\nRedpiso Grupo Inmobiliario y Financiero\nDates Employed\nApr 2018 – Mar 2019\nEmployment Duration\n1 yr\nLocation\nMadrid Area, Spain\nManage a portfolio of properties, negotiating to catch new products and offering them to others clients.\n\nBringing assistance to sellers and buyers to close transactions from the beginning to the end of the process.\n…\nsee more\nPricing Analyst\nCompany Name\nClaro Chile S.A.\nDates Employed\nFeb 2015 – Feb 2017\nEmployment Duration\n2 yrs 1 mo\nLocation\nSantiago, Chile\nDefine and upgrade the cost and pricing model of different TELECOM and IT products of the Enterprises Market area, also helping to product areas on launching of new products, supporting to sellers in sales processes, and advising to engineers checking the design of standard projects.\n\nDesign special offers to promote the sales of specific products, checking in parallel the prices of the products in the market.\n\n• Implementation of new evaluation tools for sales team, optimizing response time to clients from 2 weeks to 1 day.\n• Development of new standard offer of products based on demand from different customer segments.\n…\nsee more\nFinancial Analyst\nCompany Name\nSupermercados Tottus.\nDates Employed\nFeb 2014 – Sep 2014\nEmployment Duration\n8 mos\nLocation\nSantiago, Chile\nGenerate commercial relationship with different entities involved, attending to their needs, evaluating indicators for cost optimization and detecting deviations.\n\nElaborate financial reports for Tottus’ Management and Directory.\n\n• Improvement and optimization in Financial Reporting, reducing reporting time process in 20%.\n…\nsee more\nContinuous Improvement Engineer\nCompany Name\nFinning South America\nDates Employed\nJul 2013 – Jan 2014\nEmployment Duration\n7 mos\nLocation\nSantiago, Chile\nModel and redesign the processes that formed the different Finning businesses, in order to achieve connected and efficient process flows.\n\nDetect opportunities for improvement in different areas.\n\n• Redesign of Equipment Logistic process with SCOR methodology, eliminating waste and optimizing process time.\n…\nsee more\nCompany Name\nARAUCO, planta Horcones I\nTotal Duration\n3 yrs 5 mos\nTitle\nOperational Excellence Lead\nDates Employed\nJul 2011 – Jan 2013\nEmployment Duration\n1 yr 7 mos\nLocation\nArauco, Chile\nGenerate, control and manage the projects created in base of the methodology of Operational Excellence (OE), ensuring these are focused in three principal items: Safety, Environment and Business\n\nWorking to reduce process gaps with the goal to improve the Processes Management Indicator (PMI).\n\nTrain staff in concepts of Continuous Improvement and Operational Excellence\n\n• Annual record in project generation (25) / Fourth place in the national project competition of OE.\n• Implementation of training plan for workers in each area of the plant, in addition to a plan to expand the philosophy of Continuous Improvement.\n• Definition and work with EO leaders in each area.\n…\nsee more\nTitle\nProcess Management Consultant\nDates Employed\nSep 2010 – Jul 2011\nEmployment Duration\n11 mos\nLocation\nArauco, Chile\nGenerate, control and manage the improvement of operational KPI on each area of the company (Yield, Factor of Operation, Variable Costs), in order to reduce the gap by comparing with optimal scenarios of each process indicator.\n\n• Improvement of PMI from 10% to 7% through the management and control of the project portfolio.\n…\nsee more\nShow 1 more role\nShow fewer experiences'

In [95]:
# getting info: time experience
pattern_1 = 'Employment Duration\n(.*)\nLocation'
time_experience = list(re.findall(pattern_1 , profile_experience.text))
time_experience

['1 yr 2 mos', '1 yr', '2 yrs 1 mo', '8 mos', '7 mos', '1 yr 7 mos', '11 mos']

In [96]:
y, m = 0 , 0
for t in time_experience:
    print(t)
    if re.findall('[0-9] yr', t):
        year  = re.findall('[0-9] yr', t)[0].split(" ")[0]
        y += int(year)
    if re.findall('[0-9] mo', t):
        month = re.findall('[0-9] mo', t)[0].split(" ")[0]
        m += int(month)
print(y, "years -", m,"months")
m_nuevo = m//12
y_nuevo = y + m%12
print(y_nuevo , "years -", m_nuevo ,"months")

1 yr 2 mos
1 yr
2 yrs 1 mo
8 mos
7 mos
1 yr 7 mos
11 mos
5 years - 26 months
7 years - 2 months

#### Education:

In [97]:
profile_education = browser.find_element_by_id('education-section')
profile_education.text

"Education\nIronhack\nDegree Name\nMaster's degree\nField Of Study\nData Analytics\nDates attended or expected graduation\n2019 – 2020\n- Tools and technologies: Git, MySQL, Python, Pandas, Numpy, Web Scraping, Matplotlib, Seaborn, Scipy, Scikit-Learn, Tableau\n- Good development practices: Data cleaning, data manipulation, data interpretation (APIs, Web Scraping), data visualization, Data Pipelines, descriptive statistics, Business Intelligence, supervised and unsupervised learning\nUniversidad de Concepción\nDegree Name\nBachelor of Engineering - BE\nField Of Study\nIndustrial Engineering\nGrade\nApproved with Maximum Distinction. Grade 6.0 of 7.0\nDates attended or expected graduation\n2003 – 2009\nActivities and Societies: - Participation in a student center - Drummer in a band - Basketball, capoeira, taekwondo\nCivil Industrial Engineer, Universidad de Concepción\nSubjects as :\n- Project Evaluation and Management\n- Quality Management and Six Sigma\n- Logistic Management\n- Operations research\n- Planning and scheduling of production\n- Financial management\n- Process simulation\n- Advanced Statistics"

In [98]:
# getting info: degrees
pattern_2 = 'Degree Name\n(.*)\n'
degrees = re.findall(pattern_2 , profile_education.text)
degrees

["Master's degree", 'Bachelor of Engineering - BE']

In [99]:
# getting info: grades
pattern_3 = 'Field Of Study\n(.*)\n'
fields = re.findall(pattern_3 , profile_education.text)
fields

['Data Analytics', 'Industrial Engineering']

#### Skills:

In [100]:
#show MORE skills > > button "show more..."
profile_more_skills =  browser.find_element_by_xpath("//button[@data-control-name='skill_details']")
ActionChains(browser).move_to_element(profile_more_skills).perform()
profile_more_skills.click()
html_body.send_keys(Keys.PAGE_UP)

In [101]:
# skill table> text
profile_skills_details = browser.find_element_by_xpath\
("//section[@class='pv-profile-section pv-skill-categories-section artdeco-container-card ember-view']")
profile_skills_details.text

'Skills & Endorsements\nAdd a new skill\nTake skill quiz\nMicrosoft Excel\nSee 5 endorsements for Microsoft Excel\n5\nEndorsed by Reinaldo Alarcón Campos, who is highly skilled at this\nEndorsed by 2 of Cristopher’s colleagues at ARAUCO\nPassed: LinkedIn Assessments\nData Analytics\nSee 1 endorsement for Data Analytics\n1\nVictor Galan Vaquerizo has given an endorsement for this skill\nPython (Programming Language)\nSee 2 endorsements for Python (Programming Language)\n2\nVictor Galan Vaquerizo and 1 connection have given endorsements for this skill\nIndustry Knowledge\nProject Management\nBusiness Process Improvement\nContinuous Improvement\nSix Sigma\nLean manufacturing\nSee 1 endorsement for Lean manufacturing\n1\nBusiness Analysis\nData Analysis\nSee 1 endorsement for Data Analysis\n1\nProgramming\nEngineering\nBusiness Intelligence\nAnalytical Skills\nScrum\nFinancial Analysis\nStatistics\nProcess Optimization\nProcess Engineering\nMachine Learning\nData Modeling\nData Visualization\nData Science\nTools & Technologies\nMicrosoft Office\nSee 7 endorsements for Microsoft Office\n7\nMicrosoft Project\nSee 1 endorsement for Microsoft Project\n1\nVBA\nSAP\nSee 2 endorsements for SAP\n2\nSQL\nR\nTableau\nBash\nGit\nMySQL\nInterpersonal Skills\nTeam Management\nTeamwork\nNegotiation\nSee 1 endorsement for Negotiation\n1\nLeadership\nLanguages\nEnglish\nEspañol\nOther Skills\nMicrosoft Power BI\nTelco\nMicrosoft Power Query\nPower Pivot\nData Pipelines\nWeb Scraping\nVisual Basic for Applications (VBA)\nNumPy\nPandas (Software)\nSeaborn\nJupyter\nShow less\nShow only Cristopher’s featured skills'

In [102]:
skills = profile_skills_details.text.split("\n")
print(skills)
not_needed_words = ['Skills & Endorsements', 
                    'Add a new skill', 
                    'Take skill quiz', 
                    'Passed: LinkedIn Assessments',
                    'Tools & Technologies',
                    'Interpersonal Skills',
                    'Languages',
                    'Other Skills',
                    'Show less',
                   ]

['Skills & Endorsements', 'Add a new skill', 'Take skill quiz', 'Microsoft Excel', 'See 5 endorsements for Microsoft Excel', '5', 'Endorsed by Reinaldo Alarcón Campos, who is highly skilled at this', 'Endorsed by 2 of Cristopher’s colleagues at ARAUCO', 'Passed: LinkedIn Assessments', 'Data Analytics', 'See 1 endorsement for Data Analytics', '1', 'Victor Galan Vaquerizo has given an endorsement for this skill', 'Python (Programming Language)', 'See 2 endorsements for Python (Programming Language)', '2', 'Victor Galan Vaquerizo and 1 connection have given endorsements for this skill', 'Industry Knowledge', 'Project Management', 'Business Process Improvement', 'Continuous Improvement', 'Six Sigma', 'Lean manufacturing', 'See 1 endorsement for Lean manufacturing', '1', 'Business Analysis', 'Data Analysis', 'See 1 endorsement for Data Analysis', '1', 'Programming', 'Engineering', 'Business Intelligence', 'Analytical Skills', 'Scrum', 'Financial Analysis', 'Statistics', 'Process Optimization', 'Process Engineering', 'Machine Learning', 'Data Modeling', 'Data Visualization', 'Data Science', 'Tools & Technologies', 'Microsoft Office', 'See 7 endorsements for Microsoft Office', '7', 'Microsoft Project', 'See 1 endorsement for Microsoft Project', '1', 'VBA', 'SAP', 'See 2 endorsements for SAP', '2', 'SQL', 'R', 'Tableau', 'Bash', 'Git', 'MySQL', 'Interpersonal Skills', 'Team Management', 'Teamwork', 'Negotiation', 'See 1 endorsement for Negotiation', '1', 'Leadership', 'Languages', 'English', 'Español', 'Other Skills', 'Microsoft Power BI', 'Telco', 'Microsoft Power Query', 'Power Pivot', 'Data Pipelines', 'Web Scraping', 'Visual Basic for Applications (VBA)', 'NumPy', 'Pandas (Software)', 'Seaborn', 'Jupyter', 'Show less', 'Show only Cristopher’s featured skills']

In [103]:
#Getting just necesary skills
skills_delete = []
for s in skills:
    #if (s in not_needed_words) or ('ndorse' in s) or ('Show only' in s) or s.isdigit():
    if (s in not_needed_words) or re.search('ndorse',s) or re.search('Show only',s) or re.search('[0-9]',s):
        #print(s)
        skills_delete.append(s)
        
        #skills.remove(s)
print(skills_delete)
skills_clean = list(set(skills)-set(skills_delete))
skills_clean = [ x.lower().split(' (')[0] for x in skills_clean]
sorted(skills_clean)

['Skills & Endorsements', 'Add a new skill', 'Take skill quiz', 'See 5 endorsements for Microsoft Excel', '5', 'Endorsed by Reinaldo Alarcón Campos, who is highly skilled at this', 'Endorsed by 2 of Cristopher’s colleagues at ARAUCO', 'Passed: LinkedIn Assessments', 'See 1 endorsement for Data Analytics', '1', 'Victor Galan Vaquerizo has given an endorsement for this skill', 'See 2 endorsements for Python (Programming Language)', '2', 'Victor Galan Vaquerizo and 1 connection have given endorsements for this skill', 'See 1 endorsement for Lean manufacturing', '1', 'See 1 endorsement for Data Analysis', '1', 'Tools & Technologies', 'See 7 endorsements for Microsoft Office', '7', 'See 1 endorsement for Microsoft Project', '1', 'See 2 endorsements for SAP', '2', 'Interpersonal Skills', 'See 1 endorsement for Negotiation', '1', 'Languages', 'Other Skills', 'Show less', 'Show only Cristopher’s featured skills']

['analytical skills',
 'bash',
 'business analysis',
 'business intelligence',
 'business process improvement',
 'continuous improvement',
 'data analysis',
 'data analytics',
 'data modeling',
 'data pipelines',
 'data science',
 'data visualization',
 'engineering',
 'english',
 'español',
 'financial analysis',
 'git',
 'industry knowledge',
 'jupyter',
 'leadership',
 'lean manufacturing',
 'machine learning',
 'microsoft excel',
 'microsoft office',
 'microsoft power bi',
 'microsoft power query',
 'microsoft project',
 'mysql',
 'negotiation',
 'numpy',
 'pandas',
 'power pivot',
 'process engineering',
 'process optimization',
 'programming',
 'project management',
 'python',
 'r',
 'sap',
 'scrum',
 'seaborn',
 'six sigma',
 'sql',
 'statistics',
 'tableau',
 'team management',
 'teamwork',
 'telco',
 'vba',
 'visual basic for applications',
 'web scraping']

In [104]:
#skills_1 = re.findall( '\n(.*)\nSee' , profile_skills_details.text.split("\nIndustry Knowledge")[0])
#skills_1

In [105]:
#skills_2_delete = re.findall('\nShow less\nShow only(.*)featured skills', profile_skills_details.text.split("\nIndustry Knowledge")[1])[0]
#skills_2_delete

In [106]:
#skills_2 = profile_skills_details.text.split("\nIndustry Knowledge")[1]\
#                                    .replace("\nTools & Technologies","")\
#                                    .replace("\nInterpersonal Skills","")\
#                                    .replace("\nLanguages","")\
#                                    .replace("\nOther Skills","")\
#                                    .split("\n")
#.replace(f"\nShow less\nShow only{skills_2_delete}featured skills'","")\
#skills_2

#### Languages:

In [107]:
profile_languages = browser.find_element_by_id('languages-expandable-content').text.split(' ')
profile_languages

['English', 'Spanish']

***
#### JOB SEARCH :

In [108]:
#location_input = input("PLEASE ENTER THE LOCATION WHERE YOU'D LIKE TO SEARCH: ")
location_input = 'MADRID'

In [109]:
location = location_input.capitalize()
location

'Madrid'

#### GETTING JOB POSTS :

#### Functions >

In [110]:
#number of pages with job posts considering job title given to thi
def n_pages_linkedin(browser,job_title_s, location):
    
    JOB_URL = f'https://www.linkedin.com/jobs/search/?keywords={job_title_s}&location={location}'
    browser.get(JOB_URL)
    
    # Total results 
    results = browser.find_element_by_xpath("//small[@class='display-flex t-12 t-black--light t-normal']").text
    print(results)
    results = int(results.split(" ")[0])
    #if   browser.find_element_by_xpath("/html/body/div[5]/div[4]/div[3]/section[1]/div[2]/div/div/div[1]/div[1]/div[1]/small"):
    #    results = int(browser.find_element_by_xpath\
    #    ("/html/body/div[5]/div[4]/div[3]/section[1]/div[2]/div/div/div[1]/div[1]/div[1]/small").text.split(" ")[0])
    #elif browser.find_element_by_xpath("/html/body/div[6]/div[4]/div[3]/section[1]/div[2]/div/div/div[1]/div[1]/div[1]/small"):
    #    results = int(browser.find_element_by_xpath\
    #    ("/html/body/div[5]/div[4]/div[3]/section[1]/div[2]/div/div/div[1]/div[1]/div[1]/small").text.split(" ")[0])
    
    # More than 25 results > More than 1 page
    if results > 25:
        pages = browser.find_element_by_xpath("//ul[@class='artdeco-pagination__pages artdeco-pagination__pages--number']")
        #try:
        #    pages = browser.find_element_by_xpath\
        #    ('/html/body/div[5]/div[4]/div[3]/section[1]/div[2]/div/div/div[1]/div[2]/div/section/artdeco-pagination/ul')
        #except:
        #    pages = browser.find_element_by_xpath\
        #    ('/html/body/div[6]/div[4]/div[3]/section[1]/div[2]/div/div/div[1]/div[2]/div/section/artdeco-pagination/ul')
        
        print(type(pages))
        n_pages = int(pages.text.split('\n')[-1])
        print(n_pages)
        return n_pages
    
    else:
        n_pages = 1
        return n_pages

In [111]:
n_pages_linkedin(browser,'data%20analyst', 'Madrid')

177 results
<class 'selenium.webdriver.remote.webelement.WebElement'>
8

8

In [112]:
#Iterator of job posts > the only wayt is considering XPATH with an iteration
def j_post(browser, i):
    if   browser.find_element_by_xpath\
        (f'/html/body/div[5]/div[4]/div[3]/section[1]/div[2]/div/div/div[1]/div[2]/div/ul/li[{i}]/div/artdeco-entity-lockup/artdeco-entity-lockup-content/h3/a'):
        job_post = browser.find_element_by_xpath\
        (f'/html/body/div[5]/div[4]/div[3]/section[1]/div[2]/div/div/div[1]/div[2]/div/ul/li[{i}]/div/artdeco-entity-lockup/artdeco-entity-lockup-content/h3/a')
                                                        #  /html/body/div[5]/div[4]/div[3]/section[1]/div[2]/div/div/div[1]/div[2]/div/ul/li[ 1 ]/div/artdeco-entity-lockup/artdeco-entity-lockup-content/h3/a
                                                        #  /html/body/div[5]/div[4]/div[3]/section[1]/div[2]/div/div/div[1]/div[2]/div/ul/li[ 1 ]/div/artdeco-entity-lockup/artdeco-entity-lockup-content/h3/a
    elif browser.find_element_by_xpath\
        (f'/html/body/div[6]/div[4]/div[3]/section[1]/div[2]/div/div/div[1]/div[2]/div/ul/li[{i}]/div/artdeco-entity-lockup/artdeco-entity-lockup-content/h3/a'):
        job_post = browser.find_element_by_xpath\
        ( '/html/body/div[6]/div[4]/div[3]/section[1]/div[2]/div/div/div[1]/div[2]/div/ul/li[{i}]/div/artdeco-entity-lockup/artdeco-entity-lockup-content/h3/a')

    elif browser.find_element_by_xpath\
        (f'/html/body/div[5]/div[4]/div[3]/section[1]/div[2]/div/div/div[1]/div[2]/div[2]/ul/li[{i}]/div/artdeco-entity-lockup/artdeco-entity-lockup-content/h3/a'):
        job_post = browser.find_element_by_xpath\
        (f'/html/body/div[5]/div[4]/div[3]/section[1]/div[2]/div/div/div[1]/div[2]/div[2]/ul/li[{i}]/div/artdeco-entity-lockup/artdeco-entity-lockup-content/h3/a')

    elif browser.find_element_by_xpath\
        (f'/html/body/div[6]/div[4]/div[3]/section[1]/div[2]/div/div/div[1]/div[2]/div[2]/ul/li[{i}]/div/artdeco-entity-lockup/artdeco-entity-lockup-content/h3/a'):
        job_post = browser.find_element_by_xpath\
        (f'/html/body/div[6]/div[4]/div[3]/section[1]/div[2]/div/div/div[1]/div[2]/div[2]/ul/li[{i}]/div/artdeco-entity-lockup/artdeco-entity-lockup-content/h3/a')
    
    return job_post

In [113]:
#last = browser.find_element_by_xpath()'/html/body/div[6]/div[4]/div[3]/section[1]/div[2]/div/div/div[1]/div[2]/div/section/artdeco-pagination/ul')

In [114]:
#pages.location_once_scrolled_into_view

***

In [115]:
# Defining current date time
now = datetime.now()
now_str = datetime.now().strftime('%Y-%m-%d %H:%M')

In [116]:
# Creating df
df_jobs = pd.DataFrame(columns=['JOB TITLE',
                                'LOCATION',
                                'SEARCH DATETIME',
                                'Current Job Id',
                                'Job html',
                                'Job name',
                                'Company name',
                                'Company location',
                                'Posted date',
                                'Estimated post date',
                                'Easy apply',
                                'Skills match',
            
                                'Seniority Level',
                                'Industry',
                                'Employment Type',
                                'Job Functions',
                                'Job info'                                
                               ])

In [127]:
# Jobs search
jobs_list = ['data analyst', 'data scientist', 'data engineer']

In [128]:
dic_key_words = \
{   'data analyst'  : ['sql', 
                        'python', 
                        'business intelligence', 'bi' , 'excel'
                        'dashboard', 'reporting',
                        'tableau', 'powerbi', 'power bi', 'qlik', 'sportfire', 
                        'business analyst'
                      ],
 
    'data scientist': ['sql', 
                        'python', 'r', 
                        'ml', 'machine learning','dl','deep learning', 'nn','neuronal networks', 
                        'pandas', 'numpy', 
                        'data visualization', 'matplotlib', 'seaborn', 
                        'spss',  'advanced statistics','statistics',
                        'sklearn','sk learn', 'scikit learn', 'scikit-learn' ,'tensorflow', 'keras', 
                        'data wrangling', 'nlp', 'a/b testing','a b testing'
                      ],
 
    'data engineer':  ['sql', 'nosql', 'no sql', 
                        'python', 'r', 'scala', 'java', 'spark', 'hadoop', 'hive', 'impala', 'kafka', 
                        'data wrangling', 'etl','extract, transform and load', 'map reduce','mapreduce', 'data acquisition',
                        'big data', 'bigdata', 'data warehouse', 'aws',
                        'software engineering'
                      ]
}

In [129]:
location

'Madrid'

In [130]:
# iterator of JOB LIST
for j in jobs_list:
    
    # Getting each job for the search
    print(f'++++++++++++++++  {j} +++++++++++++++++++')
    job_title_df  = j
    job_title_s   = j.replace(' ', '%20')
    
    # Getting number of pages for each search
    n_pages = n_pages_linkedin(browser,job_title_s, location)
    last_job_page = n_pages*25
    print(last_job_page)  
    
    
    
    # iterator of JOB PAGES
    for p in range(0,last_job_page,25):
    #for p in range(0,1):

        print(f'PAGINA: {p}')

        #Exploring each page with maximum 25 job posts
        JOB_URL = f'https://www.linkedin.com/jobs/search/?keywords={job_title_s}&location={location}&start={p}'
        browser.get(JOB_URL)
        
        if p=0:
            time.sleep(2)
        else:
            time.sleep(0.5)

        """
        #activate all job posts in each page 
        if results > 25:
            try:
                pages = browser.find_element_by_xpath\
                ('/html/body/div[5]/div[4]/div[3]/section[1]/div[2]/div/div/div[1]/div[2]/div/section/artdeco-pagination/ul')
            except:
                pages = browser.find_element_by_xpath\
                ('/html/body/div[6]/div[4]/div[3]/section[1]/div[2]/div/div/div[1]/div[2]/div/section/artdeco-pagination/ul')
        actions = ActionChains(browser)
        actions.move_to_element(pages).perform()
        """

        # Taking table of job posts
        tabla_izq = browser.find_element_by_xpath\
        ("//div[@class='jobs-search-results jobs-search-results--is-two-pane']")
        
        
        """
        try:
            if browser.find_element_by_xpath("/html/body/div[5]/div[4]/div[3]/section[1]/div[2]/div/div/div[1]"):
                tabla_izq = browser.find_element_by_xpath("/html/body/div[5]/div[4]/div[3]/section[1]/div[2]/div/div/div[1]")
            elif browser.find_element_by_xpath("/html/body/div[6]/div[4]/div[3]/section[1]/div[2]/div/div/div[1]"):
                tabla_izq = browser.find_element_by_xpath("/html/body/div[6]/div[4]/div[3]/section[1]/div[2]/div/div/div[1]") 
        except:
            JOB_URL = f'https://www.linkedin.com/jobs/search/?keywords={job_title_s}&location={location}&start={p}'
            browser.get(JOB_URL)
            time.sleep(0.2)

            if browser.find_element_by_xpath("/html/body/div[5]/div[4]/div[3]/section[1]/div[2]/div/div/div[1]"):
                tabla_izq = browser.find_element_by_xpath("/html/body/div[5]/div[4]/div[3]/section[1]/div[2]/div/div/div[1]")
            elif browser.find_element_by_xpath("/html/body/div[6]/div[4]/div[3]/section[1]/div[2]/div/div/div[1]"):
                tabla_izq = browser.find_element_by_xpath("/html/body/div[6]/div[4]/div[3]/section[1]/div[2]/div/div/div[1]") 
        """

        #try:
        #    tabla_izq = \
        #        browser.find_element_by_xpath("/html/body/div[5]/div[4]/div[3]/section[1]/div[2]/div/div/div[1]")
        #except:
        #    tabla_izq = \
        #        browser.find_element_by_xpath("/html/body/div[6]/div[4]/div[3]/section[1]/div[2]/div/div/div[1]")         
        #time.sleep(0.5)

        """
        # Getting quantity of job posts that you CAN SEE directly in each page
        if p < (last_job_page-25):
            job_list = \
            tabla_izq.text.split('Manage alerts\n')[1].split('Close\n')[0].split('ago')    
        else:
            job_list = \
            tabla_izq.text.split('Manage alerts\n')[1].split('Close\n')[0].split('Create alert for this search\n')[0].split('ago')
        
        n_job_list = len(job_list)-1
        print(f'Lista de trabajos visibles:{n_job_list}') 
        time.sleep(0.1)
        """
        
        # iterator of JOB LIST
        # iterator of jobs posts
        i=1
        error=False
        
        while i<=25 and error==False:
        #for i in range(1,n_job_list+1):
            
            try:

                print(f'i:{i}')
                
                # Selecting job post in order to click on it
                job_post = j_post(browser, i)
                
                """
                # Selecting job post in order to click on it
                if   browser.find_element_by_xpath\
                    (f'/html/body/div[5]/div[4]/div[3]/section[1]/div[2]/div/div/div[1]/div[2]/div/ul/li[{i}]/div/artdeco-entity-lockup/artdeco-entity-lockup-content/h3/a'):
                    job_post = browser.find_element_by_xpath\
                    (f'/html/body/div[5]/div[4]/div[3]/section[1]/div[2]/div/div/div[1]/div[2]/div/ul/li[{i}]/div/artdeco-entity-lockup/artdeco-entity-lockup-content/h3/a')
                    #  /html/body/div[5]/div[4]/div[3]/section[1]/div[2]/div/div/div[1]/div[2]/div/ul/li[ 1 ]/div/artdeco-entity-lockup/artdeco-entity-lockup-content/h3/a
                    #  /html/body/div[5]/div[4]/div[3]/section[1]/div[2]/div/div/div[1]/div[2]/div/ul/li[ 1 ]/div/artdeco-entity-lockup/artdeco-entity-lockup-content/h3/a
                elif browser.find_element_by_xpath\
                    (f'/html/body/div[6]/div[4]/div[3]/section[1]/div[2]/div/div/div[1]/div[2]/div/ul/li[{i}]/div/artdeco-entity-lockup/artdeco-entity-lockup-content/h3/a'):
                    job_post = browser.find_element_by_xpath\
                    (f'/html/body/div[6]/div[4]/div[3]/section[1]/div[2]/div/div/div[1]/div[2]/div/ul/li[{i}]/div/artdeco-entity-lockup/artdeco-entity-lockup-content/h3/a')

                elif browser.find_element_by_xpath\
                    (f'/html/body/div[5]/div[4]/div[3]/section[1]/div[2]/div/div/div[1]/div[2]/div[2]/ul/li[{i}]/div/artdeco-entity-lockup/artdeco-entity-lockup-content/h3/a'):
                    job_post = browser.find_element_by_xpath\
                    (f'/html/body/div[5]/div[4]/div[3]/section[1]/div[2]/div/div/div[1]/div[2]/div[2]/ul/li[{i}]/div/artdeco-entity-lockup/artdeco-entity-lockup-content/h3/a')

                elif browser.find_element_by_xpath\
                    (f'/html/body/div[6]/div[4]/div[3]/section[1]/div[2]/div/div/div[1]/div[2]/div[2]/ul/li[{i}]/div/artdeco-entity-lockup/artdeco-entity-lockup-content/h3/a'):
                    job_post = browser.find_element_by_xpath\
                    (f'/html/body/div[6]/div[4]/div[3]/section[1]/div[2]/div/div/div[1]/div[2]/div[2]/ul/li[{i}]/div/artdeco-entity-lockup/artdeco-entity-lockup-content/h3/a')
                """
                
                #try:
                #    job_post = browser.find_element_by_xpath\
                #    (f'/html/body/div[5]/div[4]/div[3]/section[1]/div[2]/div/div/div[1]/div[2]/div/ul/li[{i}]/div/artdeco-entity-lockup/artdeco-entity-lockup-content/h3/a')
                #except:
                #    job_post = browser.find_element_by_xpath\
                #    (f'/html/body/div[6]/div[4]/div[3]/section[1]/div[2]/div/div/div[1]/div[2]/div/ul/li[{i}]/div/artdeco-entity-lockup/artdeco-entity-lockup-content/h3/a')

                print(job_post.text)
                job_post.click()
                time.sleep(0.1)

                # Getting current job ID
                print(browser.current_url)      
                currentJobId = browser.current_url.split('currentJobId=')[1].split('&')[0] #col1_pd
                # if you wanna watch the job page
                job_html = f'https://www.linkedin.com/jobs/view/{currentJobId}/'
                print(f'{currentJobId}')

                # Extracting job information on the right side
                job_post_right = browser.find_element_by_xpath("//div[@class='jobs-search-two-pane__details pt4 ph3 jobs-search-two-pane__details ember-view']")   
                
                """
                try:
                    job_post_right = browser.find_element_by_xpath\
                        ('/html/body/div[5]/div[4]/div[3]/section[1]/div[2]/div/div/div[2]')
                except:
                    job_post_right = browser.find_element_by_xpath\
                        ('/html/body/div[6]/div[4]/div[3]/section[1]/div[2]/div/div/div[2]')
                """
                #getting info and only separating: job name, company name, company location
                #job_post_right_content    = job_post_right.text.split('\n', 5)
                
                ##################################################################################################
                #Job name
                job_post_name             = job_post_right.text.split('\n', 1)[0]

                #Company name > Sometimes there is no info here
                if job_post_right.text.split('Company Name\n',1)[1].split('\n')[0] == 'Company Location':
                    job_post_company_name = ""
                else:
                    job_post_company_name = job_post_right.text.split('Company Name\n',1)[1].split('\n')[0]

                #Location
                job_post_company_location = job_post_right.text.split('Company Location\n',1)[1].split('\n')[0]

                #Posted date
                job_post_posted_date      = job_post_right.text.split(' ago',1)[0].split('Posted Date\nPosted ')[1]
                if   job_post_posted_date.split(" ")[1] in ['hour', 'hours']:
                    job_post_estimated_date = now - timedelta(hours =     int(job_post_posted_date.split(" ")[0]))
                elif job_post_posted_date.split(" ")[1] in ['day', 'days']:
                    job_post_estimated_date = now - timedelta(days  =     int(job_post_posted_date.split(" ")[0]))
                elif job_post_posted_date.split(" ")[1] in ['week', 'weeks']:
                    job_post_estimated_date = now - timedelta(weeks =     int(job_post_posted_date.split(" ")[0]))
                elif job_post_posted_date.split(" ")[1] in ['month', 'months']:
                    job_post_estimated_date = now - timedelta(weeks =   4*int(job_post_posted_date.split(" ")[0]))
                elif job_post_posted_date.split(" ")[1] in ['year', 'years']:
                    job_post_estimated_date = now - timedelta(weeks = 365*int(job_post_posted_date.split(" ")[0]))

                #Easy apply: T/F
                try:
                    if job_post_right.text.split('Save\n',1)[1].split('\n',2)[1] == 'Easy Apply':
                        job_post_easy_apply = True
                    else:
                        job_post_easy_apply = False
                except:
                    if job_post_right.text.split('Unsave\n',1)[1].split('\n',2)[1] == 'Easy Apply':
                        job_post_easy_apply = True
                    else:
                        job_post_easy_apply = False
                
               
                #Skills match
                if re.search('\nHow you match',job_post_right.text):
                #if '\nHow you match' in job_post_right.text:
                    y = 'Match\n(.*)\n'
                    n = 'No match\n(.*)\n' 
                    job_post_skills_match    = re.findall(y,job_post_right.text)
                    job_post_skills_nomatch  = re.findall(n,job_post_right.text)
                    job_post_skills = {'yes': job_post_skills_match,
                                       'no' : job_post_skills_nomatch,
                                       'all': job_post_skills_match + job_post_skills_nomatch
                                      }
                else:
                    job_post_skills_match    = {}
                
                
                ####

                #Seniority Level
                try:
                    job_post_seniority_level = job_post_right.text.split('Seniority Level\n',1)[1].split('\n')[0]
                except:
                    job_post_seniority_level = ""

                #Industry
                try:
                    job_post_industry        = job_post_right.text.split('Industry\n',1)[1].split('\n')[0]
                except:
                    job_post_industry        = ""

                #Employment Type
                try:
                    job_post_employment_type = job_post_right.text.split('Employment Type\n',1)[1].split('\n')[0]
                except:
                    job_post_employment_type = ""

                #Job Functions > maybe this is the last
                try:
                    job_post_job_functions   = job_post_right.text.split('Job Functions\n',1)[1].split('\n')[0]
                except:
                    job_post_job_functions   = ""


                #job info
                job_post_info             = job_post_right.text.split('\n', 5)[5]

                #Dataframe
                df_jobs = df_jobs.append({
                                            'JOB TITLE'          : job_title_df,
                                            'LOCATION'           : location,
                                            'SEARCH DATETIME'    : now_str,
                                            'Current Job Id'     : currentJobId,
                                            'Job html'           : job_html,
                                            'Job name'           : job_post_name,
                                            'Company name'       : job_post_company_name,
                                            'Company location'   : job_post_company_location,
                                            'Posted date'        : job_post_posted_date,
                                            'Estimated post date': job_post_estimated_date.strftime('%Y-%m-%d %H:%M'),
                                            'Easy apply'         : job_post_easy_apply,
                                            'Skills match'       : job_post_skills,

                                            'Seniority Level'    : job_post_seniority_level,
                                            'Industry'           : job_post_industry ,
                                            'Employment Type'    : job_post_employment_type,
                                            'Job Functions'      : job_post_job_functions,
                                            'Job info'           : job_post_info,
                                         }, ignore_index=True)

                #print(len(job_post_right_content))
                print(job_post_name)
                print(job_post_company_name)
                print(job_post_company_location)
                print(job_post_posted_date)
                #print(f'{job_post_info}\n')
                print("")

                # if you wanna watch the job page
                # job_html = f'https://www.linkedin.com/jobs/view/{currentJobId}/' # > it's possible to use REQUESTS >>> NOPE XXXXX
                
                if i%5==0: #each 5 job post, one execution of 2 pages down
                    tabla_izq.send_keys(Keys.PAGE_DOWN*2)
                    time.sleep(0.1)
                
            except:
                error=True #if an error ocurred when the algorith tried to get a post, this loop finishs and goes to the next page
            finally:
                i+=1 # next one >>>>>>>>>>>>>>>>


df_jobs.head(10)

++++++++++++++++  data analyst +++++++++++++++++++
177 results
<class 'selenium.webdriver.remote.webelement.WebElement'>
8
200
PAGINA: 0
i:1
PAGINA: 25
i:1
Analista de datos Promoted
https://www.linkedin.com/jobs/search/?currentJobId=1744889236&keywords=data%20analyst&location=Madrid&start=25
1744889236
Analista de datos
YUKON IT SPAIN & EUROPE
Madrid y alrededores
1 month

i:2
Backoffice Product Owner Promoted
https://www.linkedin.com/jobs/search/?currentJobId=1822454033&keywords=data%20analyst&location=Madrid&start=25
1822454033
Backoffice Product Owner
SoYou_Bankia
Madrid y alrededores, España
1 day

i:3
Analyst Intern- Group Growth Department Promoted
https://www.linkedin.com/jobs/search/?currentJobId=1766737805&keywords=data%20analyst&location=Madrid&start=25
1766737805
Analyst Intern- Group Growth Department
Interbrand
Madrid, ES
1 week

i:4
Business Data & Operations Analyst
https://www.linkedin.com/jobs/search/?currentJobId=1616514766&keywords=data%20analyst&location=Madrid&start=25
1616514766
Business Data & Operations Analyst
Enghouse Interactive
Madrid, ES
5 months

i:5
Analista De Datos (Python), Madrid
https://www.linkedin.com/jobs/search/?currentJobId=1812956345&keywords=data%20analyst&location=Madrid&start=25
1812956345
Analista De Datos (Python), Madrid
Grupo CMC
Madrid, ES
2 weeks

i:6
Data Analyst -Scientist - Uber Eats (Sector esencial/Teletrabajo)
https://www.linkedin.com/jobs/search/?currentJobId=1747233587&keywords=data%20analyst&location=Madrid&start=25
1747233587
Data Analyst -Scientist - Uber Eats (Sector esencial/Teletrabajo)
Adecco
Madrid, ES
1 month

i:7
Data Analytics
https://www.linkedin.com/jobs/search/?currentJobId=1702574998&keywords=data%20analyst&location=Madrid&start=25
1702574998
Data Analytics
Malthus Darwin
Madrid, ES
3 months

i:8
Python Data Analyst
https://www.linkedin.com/jobs/search/?currentJobId=1794127974&keywords=data%20analyst&location=Madrid&start=25
1794127974
Python Data Analyst
Aplazame
Madrid, Community of Madrid, Spain
1 week

i:9
Data Analytics Manager Madrid
https://www.linkedin.com/jobs/search/?currentJobId=1792597183&keywords=data%20analyst&location=Madrid&start=25
1792597183
Data Analytics Manager Madrid
Accenture España
Madrid, ES
1 month

i:10
Analista de Datos
https://www.linkedin.com/jobs/search/?currentJobId=1813920592&keywords=data%20analyst&location=Madrid&start=25
1813920592
Analista de Datos
Telefónica
Madrid, ES
1 month

i:11
Data Engineer (ETL, Data Analyst and Visualization)
https://www.linkedin.com/jobs/search/?currentJobId=1768494778&keywords=data%20analyst&location=Madrid&start=25
1768494778
Data Engineer (ETL, Data Analyst and Visualization)
DBi Data Business Intelligence
Madrid Area, Spain
3 weeks

i:12
Programmatic Trader & Data Analyst
https://www.linkedin.com/jobs/search/?currentJobId=1746937390&keywords=data%20analyst&location=Madrid&start=25
1746937390
Programmatic Trader & Data Analyst
TAPTAP Digital
Madrid, ES
1 month

i:13
INTERNTIONAL RISK HUB - RISK ANTICIPATION / BUSINESS ANALYST
https://www.linkedin.com/jobs/search/?currentJobId=1767780574&keywords=data%20analyst&location=Madrid&start=25
1767780574
INTERNTIONAL RISK HUB - RISK ANTICIPATION / BUSINESS ANALYST
BNP Paribas
Madrid, ES
1 month

i:14
Programmatic Trader & Data Analyst
https://www.linkedin.com/jobs/search/?currentJobId=1675679034&keywords=data%20analyst&location=Madrid&start=25
1675679034
Programmatic Trader & Data Analyst
Tap for Tap
Madrid, ES
3 months

i:15
Analista de datos
https://www.linkedin.com/jobs/search/?currentJobId=1783706074&keywords=data%20analyst&location=Madrid&start=25
1783706074
Analista de datos
Page Personnel
Madrid, ES
1 month

i:16
Data Load Analyst
https://www.linkedin.com/jobs/search/?currentJobId=1765487686&keywords=data%20analyst&location=Madrid&start=25
1765487686
Data Load Analyst
Keytree
Madrid, ES
2 months

i:17
Analista y categorización de datos Madrid (Madrid)
https://www.linkedin.com/jobs/search/?currentJobId=1825408030&keywords=data%20analyst&location=Madrid&start=25
1825408030
Analista y categorización de datos Madrid (Madrid)
FULLSTEP
Madrid, ES
2 days

i:18
analista senior data managment
https://www.linkedin.com/jobs/search/?currentJobId=1768776717&keywords=data%20analyst&location=Madrid&start=25
1768776717
analista senior data managment
Hays
Madrid, ES
1 month

i:19
Data Analyst & Revenue Management (m/h) | Madrid | Proceso Cerrado
https://www.linkedin.com/jobs/search/?currentJobId=1535954112&keywords=data%20analyst&location=Madrid&start=25
1535954112
Data Analyst & Revenue Management (m/h) | Madrid | Proceso Cerrado
AIRHE Consultoría Estratégica de Recursos Humanos, Selección de Profesionales y Bienestar Laboral.
Madrid, ES
6 months

i:20
Analista de datos (Python), Madrid
https://www.linkedin.com/jobs/search/?currentJobId=1655709490&keywords=data%20analyst&location=Madrid&start=25
1655709490
Analista de datos (Python), Madrid
CMC LTD
Madrid, ES
4 months

i:21
Analista de datos, Madrid
https://www.linkedin.com/jobs/search/?currentJobId=1404383507&keywords=data%20analyst&location=Madrid&start=25
1404383507
Analista de datos, Madrid
Smartme Analytics
Madrid, ES
9 months

i:22
Campaigns & Data Operations Support
https://www.linkedin.com/jobs/search/?currentJobId=1807635286&keywords=data%20analyst&location=Madrid&start=25
1807635286
Campaigns & Data Operations Support
Huawei Empresas España
Madrid, Community of Madrid, Spain
2 weeks

i:23
Big Data Analyst
https://www.linkedin.com/jobs/search/?currentJobId=1792790683&keywords=data%20analyst&location=Madrid&start=25
1792790683
Big Data Analyst
satec
Madrid, Comunidad de Madrid, España
3 weeks

i:24
Analista de datos BI
https://www.linkedin.com/jobs/search/?currentJobId=1723944179&keywords=data%20analyst&location=Madrid&start=25
1723944179
Analista de datos BI
AFS Logistics, LLC
Madrid, ES
2 months

i:25
Senior Data Analyst & Data Scientist
https://www.linkedin.com/jobs/search/?currentJobId=1645918674&keywords=data%20analyst&location=Madrid&start=25
1645918674
Senior Data Analyst & Data Scientist
Ekkiden
Madrid, ES
4 months

PAGINA: 50
i:1
Malware Analyst Promoted
https://www.linkedin.com/jobs/search/?currentJobId=1782509532&keywords=data%20analyst&location=Madrid&start=50
1782509532
Malware Analyst
Deloitte España
Madrid, ES
2 weeks

i:2
Cyber Security Analyst Promoted
https://www.linkedin.com/jobs/search/?currentJobId=1733381424&keywords=data%20analyst&location=Madrid&start=50
1733381424
Cyber Security Analyst
Twilio Inc.
Madrid, ES
4 days

i:3
Finance Systems Business Analyst - GL/FA/AP/AR - Spanish Speaking Promoted
https://www.linkedin.com/jobs/search/?currentJobId=1811532919&keywords=data%20analyst&location=Madrid&start=50
1811532919
Finance Systems Business Analyst - GL/FA/AP/AR - Spanish Speaking
SystemsAccountants
Greater Madrid Metropolitan Area
1 week

i:4
Analista de datos (Python) - Madrid
https://www.linkedin.com/jobs/search/?currentJobId=1780196846&keywords=data%20analyst&location=Madrid&start=50
1780196846
Analista de datos (Python) - Madrid
IT Partner España
Madrid, ES
1 month

i:5
Analista de Datos, Madrid
https://www.linkedin.com/jobs/search/?currentJobId=1803467375&keywords=data%20analyst&location=Madrid&start=50
1803467375
Analista de Datos, Madrid
SEREM Consultoría Empresarial
Madrid, ES
2 weeks

i:6
Business Development Manager - StartUp Data & Analytics
https://www.linkedin.com/jobs/search/?currentJobId=1823418020&keywords=data%20analyst&location=Madrid&start=50
1823418020
Business Development Manager - StartUp Data & Analytics
Robert Walters
Madrid, ES
4 weeks

i:7
Analistas de datos
https://www.linkedin.com/jobs/search/?currentJobId=1758590222&keywords=data%20analyst&location=Madrid&start=50
1758590222
Analistas de datos
GRUPO INVOIN
Madrid, ES
1 month

i:8
Data Analytics Manager Madrid
https://www.linkedin.com/jobs/search/?currentJobId=1788391281&keywords=data%20analyst&location=Madrid&start=50
1788391281
Data Analytics Manager Madrid
jobleads.com - Careers for Senior-Level Professionals
Madrid, ES
3 weeks

i:9
Analistas de datos
https://www.linkedin.com/jobs/search/?currentJobId=1817940217&keywords=data%20analyst&location=Madrid&start=50
1817940217
Analistas de datos
Grupo INVOIN
Madrid, ES
1 month

i:10
Perfil Analista Protección de Datos 2439
https://www.linkedin.com/jobs/search/?currentJobId=1686330636&keywords=data%20analyst&location=Madrid&start=50
1686330636
Perfil Analista Protección de Datos 2439
SERVIZIA BUSINESS GOAL
Madrid, ES
3 months

i:11
Sales Director (Data & Analytics)
https://www.linkedin.com/jobs/search/?currentJobId=1813642277&keywords=data%20analyst&location=Madrid&start=50
1813642277
Sales Director (Data & Analytics)
The Valley Talent
Madrid, Community of Madrid, Spain
1 week

i:12
Sales Manager - Banking (FSI)
https://www.linkedin.com/jobs/search/?currentJobId=1677622063&keywords=data%20analyst&location=Madrid&start=50
1677622063
Sales Manager - Banking (FSI)
Pegasystems
Madrid, ES
4 days

i:13
DOCENTE ANALISTA BIG DATA Y CIENTÃFICO DE DATOS
https://www.linkedin.com/jobs/search/?currentJobId=1755661065&keywords=data%20analyst&location=Madrid&start=50
1755661065
DOCENTE ANALISTA BIG DATA Y CIENTÃFICO DE DATOS
Lider System Grupo - Formación y Consultoría
Madrid, ES
1 month

i:14
Data Analyst Junior
https://www.linkedin.com/jobs/search/?currentJobId=1797126465&keywords=data%20analyst&location=Madrid&start=50
1797126465
Data Analyst Junior
Tempotel
Madrid, ES
1 month

i:15
Junior Data Analyst
https://www.linkedin.com/jobs/search/?currentJobId=1789135389&keywords=data%20analyst&location=Madrid&start=50
1789135389
Junior Data Analyst
Fever
Madrid, ES
1 month

i:16
Senior Data Analyst, Madrid
https://www.linkedin.com/jobs/search/?currentJobId=1821998629&keywords=data%20analyst&location=Madrid&start=50
1821998629
Senior Data Analyst, Madrid
Farmacias Trebol
Provincia de Madrid, ES
5 days

i:17
Data Analyst Intern
https://www.linkedin.com/jobs/search/?currentJobId=1806494044&keywords=data%20analyst&location=Madrid&start=50
1806494044
Data Analyst Intern
Ecolab España
Madrid, ES
3 weeks

i:18
Social You, S.L.: Business data analyst
https://www.linkedin.com/jobs/search/?currentJobId=1820265423&keywords=data%20analyst&location=Madrid&start=50
1820265423
Social You, S.L.: Business data analyst
Social You
Madrid, ES
1 month

i:19
Content Insight Analyst m/f
https://www.linkedin.com/jobs/search/?currentJobId=1820536471&keywords=data%20analyst&location=Madrid&start=50
1820536471
Content Insight Analyst m/f
Amazon
Madrid, ES
2 days

i:20
Strategic Analyst
https://www.linkedin.com/jobs/search/?currentJobId=1528381086&keywords=data%20analyst&location=Madrid&start=50
1528381086
Strategic Analyst
Denodo
Madrid, ES
6 months

i:21
Analista de datos
https://www.linkedin.com/jobs/search/?currentJobId=1784192362&keywords=data%20analyst&location=Madrid&start=50
1784192362
Analista de datos
Michael Page
Madrid, ES
1 month

i:22
Senior Data Analyst
https://www.linkedin.com/jobs/search/?currentJobId=1746829184&keywords=data%20analyst&location=Madrid&start=50
1746829184
Senior Data Analyst
OrbitalAds
Madrid, ES
1 month

i:23
Programmatic Trader & Data Analyst
https://www.linkedin.com/jobs/search/?currentJobId=1675679035&keywords=data%20analyst&location=Madrid&start=50
1675679035
Programmatic Trader & Data Analyst
Tap for Tap
Madrid, ES
3 months

i:24
Digital Data Scientist
https://www.linkedin.com/jobs/search/?currentJobId=1712806429&keywords=data%20analyst&location=Madrid&start=50
1712806429
Digital Data Scientist
JTI (Japan Tobacco International)
Madrid, ES
3 weeks

i:25
Programmatic Trader & Data Analyst
https://www.linkedin.com/jobs/search/?currentJobId=1651627197&keywords=data%20analyst&location=Madrid&start=50
1651627197
Programmatic Trader & Data Analyst
TAPTAP Digital
Madrid, ES
4 months

PAGINA: 75
i:1
PAGINA: 100
i:1
PAGINA: 125
i:1
Business Analyst En Madrid
https://www.linkedin.com/jobs/search/?currentJobId=1824165534&keywords=data%20analyst&location=Madrid&start=125
1824165534
Business Analyst En Madrid
Ing
Madrid, ES
1 week

i:2
BI Developer/Data Analyst
https://www.linkedin.com/jobs/search/?currentJobId=1685155485&keywords=data%20analyst&location=Madrid&start=125
1685155485
BI Developer/Data Analyst
Lola Market
Madrid, ES
3 months

i:3
Data Analyst
https://www.linkedin.com/jobs/search/?currentJobId=1750698387&keywords=data%20analyst&location=Madrid&start=125
1750698387
Data Analyst
Orbital Ads
Madrid, ES
1 month

i:4
Data Analyst + Data Engineering posición mixta
https://www.linkedin.com/jobs/search/?currentJobId=1723959999&keywords=data%20analyst&location=Madrid&start=125
1723959999
Data Analyst + Data Engineering posición mixta
Talento, Innovación y Desarrollo, S.L.
Madrid, ES
2 months

i:5
4P Internal Use Cases Business Data Analyst en Madrid
https://www.linkedin.com/jobs/search/?currentJobId=1768578002&keywords=data%20analyst&location=Madrid&start=125
1768578002
4P Internal Use Cases Business Data Analyst en Madrid
Telefonica
Madrid, ES
1 month

i:6
INFLUENCER DATA ANALYST
https://www.linkedin.com/jobs/search/?currentJobId=1596370832&keywords=data%20analyst&location=Madrid&start=125
1596370832
INFLUENCER DATA ANALYST
Alqua Digital SL
Madrid, ES
5 months

i:7
Analista de datos (Scrum), Madrid
https://www.linkedin.com/jobs/search/?currentJobId=1802274844&keywords=data%20analyst&location=Madrid&start=125
1802274844
Analista de datos (Scrum), Madrid
ALTEN Spain
Madrid, ES
3 weeks

i:8
Product Data Analyst
https://www.linkedin.com/jobs/search/?currentJobId=1768582225&keywords=data%20analyst&location=Madrid&start=125
1768582225
Product Data Analyst
Adevinta
Madrid, ES
1 month

i:9
Analista De Datos
https://www.linkedin.com/jobs/search/?currentJobId=1816560449&keywords=data%20analyst&location=Madrid&start=125
1816560449
Analista De Datos
Aegon
Madrid, ES
1 week

i:10
Business Process Analyst
https://www.linkedin.com/jobs/search/?currentJobId=1738751982&keywords=data%20analyst&location=Madrid&start=125
1738751982
Business Process Analyst
SWIFT (Society for Worldwide Interbank Financial Telecommunications)
Madrid, ES
2 months

i:11
Consultor Data Analyst Senior Madrid
https://www.linkedin.com/jobs/search/?currentJobId=1723960417&keywords=data%20analyst&location=Madrid&start=125
1723960417
Consultor Data Analyst Senior Madrid
Talento, Innovación y Desarrollo, S.L.
Madrid, ES
2 months

i:12
Analista de Datos en Madrid
https://www.linkedin.com/jobs/search/?currentJobId=1781385868&keywords=data%20analyst&location=Madrid&start=125
1781385868
Analista de Datos en Madrid
Azierta Servicios Financieros
Madrid, ES
1 month

i:13
Analista de banco de datos
https://www.linkedin.com/jobs/search/?currentJobId=1794789487&keywords=data%20analyst&location=Madrid&start=125
1794789487
Analista de banco de datos
PRO MUJER BOLIVIA
Madrid, ES
3 weeks

i:14
ANALISTA DE DATOS
https://www.linkedin.com/jobs/search/?currentJobId=1770623122&keywords=data%20analyst&location=Madrid&start=125
1770623122
ANALISTA DE DATOS
Colavoro
Madrid, ES
1 month

i:15
BIG DATA Analyst
https://www.linkedin.com/jobs/search/?currentJobId=1825643625&keywords=data%20analyst&location=Madrid&start=125
1825643625
BIG DATA Analyst
atmira
Madrid, ES
2 days

i:16
Analista y categorización de datos Madrid
https://www.linkedin.com/jobs/search/?currentJobId=1824837855&keywords=data%20analyst&location=Madrid&start=125
1824837855
Analista y categorización de datos Madrid
Fullstep Networks
Madrid, ES
3 days

i:17
Beca Analista de Datos - Microstrategy
https://www.linkedin.com/jobs/search/?currentJobId=1732861736&keywords=data%20analyst&location=Madrid&start=125
1732861736
Beca Analista de Datos - Microstrategy
Innova-tsn
Las Rozas de Madrid, ES
3 months

i:18
Analyst Intern- Group Growth Department
https://www.linkedin.com/jobs/search/?currentJobId=1701087312&keywords=data%20analyst&location=Madrid&start=125
1701087312
Analyst Intern- Group Growth Department
Interbrand
Madrid, ES
2 months

i:19
INTERNTIONAL RISK HUB - RISK ANTICIPATION / BUSINESS ANALYST
https://www.linkedin.com/jobs/search/?currentJobId=1815834495&keywords=data%20analyst&location=Madrid&start=125
1815834495
INTERNTIONAL RISK HUB - RISK ANTICIPATION / BUSINESS ANALYST
BNP Paribas 2
Madrid, ES
1 week

i:20
INTERNTIONAL RISK HUB - RISK ANTICIPATION / BUSINESS ANALYST
https://www.linkedin.com/jobs/search/?currentJobId=1818321271&keywords=data%20analyst&location=Madrid&start=125
1818321271
INTERNTIONAL RISK HUB - RISK ANTICIPATION / BUSINESS ANALYST
BNP Paribas 2
Madrid, ES
1 week

i:21
INTERNTIONAL RISK HUB - RISK ANTICIPATION / BUSINESS ANALYST
https://www.linkedin.com/jobs/search/?currentJobId=1813402156&keywords=data%20analyst&location=Madrid&start=125
1813402156
INTERNTIONAL RISK HUB - RISK ANTICIPATION / BUSINESS ANALYST
BNP Paribas 2
Madrid, ES
1 week

i:22
INTERNTIONAL RISK HUB - RISK ANTICIPATION / BUSINESS ANALYST
https://www.linkedin.com/jobs/search/?currentJobId=1810238247&keywords=data%20analyst&location=Madrid&start=125
1810238247
INTERNTIONAL RISK HUB - RISK ANTICIPATION / BUSINESS ANALYST
BNP Paribas 2
Madrid, ES
2 weeks

i:23
Big Data Analyst
https://www.linkedin.com/jobs/search/?currentJobId=1812956704&keywords=data%20analyst&location=Madrid&start=125
1812956704
Big Data Analyst
Standby Consultores
Madrid, ES
2 weeks

i:24
INTERNTIONAL RISK HUB - RISK ANTICIPATION / BUSINESS ANALYST
https://www.linkedin.com/jobs/search/?currentJobId=1814952733&keywords=data%20analyst&location=Madrid&start=125
1814952733
INTERNTIONAL RISK HUB - RISK ANTICIPATION / BUSINESS ANALYST
BNP Paribas 2
Madrid, ES
1 week

i:25
INTERNTIONAL RISK HUB - RISK ANTICIPATION / BUSINESS ANALYST
https://www.linkedin.com/jobs/search/?currentJobId=1824801594&keywords=data%20analyst&location=Madrid&start=125
1824801594
INTERNTIONAL RISK HUB - RISK ANTICIPATION / BUSINESS ANALYST
BNP Paribas 2
Madrid, ES
3 days

PAGINA: 150
i:1
INTERNTIONAL RISK HUB - RISK ANTICIPATION / BUSINESS ANALYST
https://www.linkedin.com/jobs/search/?currentJobId=1811897236&keywords=data%20analyst&location=Madrid&start=150
1811897236
INTERNTIONAL RISK HUB - RISK ANTICIPATION / BUSINESS ANALYST
BNP Paribas 2
Madrid, ES
1 week

i:2
INTERNTIONAL RISK HUB - RISK ANTICIPATION / BUSINESS ANALYST
https://www.linkedin.com/jobs/search/?currentJobId=1822362264&keywords=data%20analyst&location=Madrid&start=150
1822362264
INTERNTIONAL RISK HUB - RISK ANTICIPATION / BUSINESS ANALYST
BNP Paribas 2
Madrid, ES
5 days

i:3
INTERNTIONAL RISK HUB - RISK ANTICIPATION / BUSINESS ANALYST
https://www.linkedin.com/jobs/search/?currentJobId=1820770635&keywords=data%20analyst&location=Madrid&start=150
1820770635
INTERNTIONAL RISK HUB - RISK ANTICIPATION / BUSINESS ANALYST
BNP Paribas 2
Madrid, ES
6 days

i:4
INTERNTIONAL RISK HUB - RISK ANTICIPATION / BUSINESS ANALYST
https://www.linkedin.com/jobs/search/?currentJobId=1819663582&keywords=data%20analyst&location=Madrid&start=150
1819663582
INTERNTIONAL RISK HUB - RISK ANTICIPATION / BUSINESS ANALYST
BNP Paribas 2
Madrid, ES
1 week

i:5
INTERNTIONAL RISK HUB - RISK ANTICIPATION / BUSINESS ANALYST
https://www.linkedin.com/jobs/search/?currentJobId=1825794275&keywords=data%20analyst&location=Madrid&start=150
1825794275
INTERNTIONAL RISK HUB - RISK ANTICIPATION / BUSINESS ANALYST
BNP Paribas 2
Madrid, ES
2 days

i:6
INTERNTIONAL RISK HUB - RISK ANTICIPATION / BUSINESS ANALYST
https://www.linkedin.com/jobs/search/?currentJobId=1827599565&keywords=data%20analyst&location=Madrid&start=150
1827599565
INTERNTIONAL RISK HUB - RISK ANTICIPATION / BUSINESS ANALYST
BNP Paribas 2
Madrid, ES
10 hours

i:7
Analista visualización de datos
https://www.linkedin.com/jobs/search/?currentJobId=1789980046&keywords=data%20analyst&location=Madrid&start=150
1789980046
Analista visualización de datos
El Corte Inglés
Madrid, ES
1 month

i:8
Commercial Operations
https://www.linkedin.com/jobs/search/?currentJobId=1820306375&keywords=data%20analyst&location=Madrid&start=150
1820306375
Commercial Operations
Quintilesims
Madrid, ES
1 week

i:9
Finance Project Manager/Analyst

NoSuchElementException: Message: no such element: Unable to locate element: {"method":"xpath","selector":"//div[@class='jobs-search-results jobs-search-results--is-two-pane']"}
  (Session info: chrome=80.0.3987.122)

In [151]:
df_jobs.shape

(466, 18)

In [132]:
now_file = now_str.replace(':','.')
now_file

'2020-04-16-20.47'

In [158]:
#df_jobs.to_csv(f'..\\data\\raw\\df_{job_title_df}_{location}_{now_file}.csv',
df_jobs.to_csv(f'..\\data\\raw\\df_jobs_{location}_{now_file}.csv',
              sep = ';',
              encoding= 'utf8',
              index=False,
              )

In [159]:
df_jobs.head(2)

,JOB TITLE,LOCATION,SEARCH DATETIME,Current Job Id,Job htmlJob name,Company name,Company location,Posted date,Estimated post date,Easy apply,Skills match,Seniority Level,Industry,Employment Type,Job Functions,Job info,Job html,Job name
0,data analyst,Madrid,2020-04-16-20:47,1744889236,NaN,YUKON IT SPAIN & EUROPE,Madrid y alrededores,1 month,2020-03-19-20:47,True,NaN,Associate,Information Technology & Services Telecommunic...,Full-time,Information Technology Engineering,Posted Date\nPosted 1 month ago\nNumber of vie...,https://www.linkedin.com/jobs/view/1744889236/,Analista de datos
1,data analyst,Madrid,2020-04-16-20:47,1822454033,NaN,SoYou_Bankia,"Madrid y alrededores, España",1 day,2020-04-15-20:47,True,NaN,Associate,Financial Services,Full-time,Analyst Information Technology Product Management,Posted Date\nPosted 1 day ago\nNumber of views...,https://www.linkedin.com/jobs/view/1822454033/,Backoffice Product Owner

In [135]:
df_jobs['JOB TITLE'].unique()

array(['data analyst', 'data scientist'], dtype=object)

In [136]:
df_jobs[df_jobs['Easy apply']==True].shape

(71, 18)

## TESTING:

***

In [ ]:
# > Trying with one job title
n_pages = n_pages_linkedin(browser, 'data analyst')
n_pages

In [ ]:
# Going to last row 
try:
    pages = browser.find_element_by_xpath\
    ('/html/body/div[5]/div[4]/div[3]/section[1]/div[2]/div/div/div[1]/div[2]/div/section/artdeco-pagination/ul')
except:
    pages = browser.find_element_by_xpath\
    ('/html/body/div[6]/div[4]/div[3]/section[1]/div[2]/div/div/div[1]/div[2]/div/section/artdeco-pagination/ul')
actions = ActionChains(browser)
actions.move_to_element(pages).perform()

In [ ]:
#show MORE skills
izq =  browser.find_element_by_xpath\
("//div[@class='jobs-search-results jobs-search-results--is-two-pane']")
#ActionChains(browser).move_to_element(izq).perform()

In [ ]:
izq.text

In [ ]:
izq.send_keys(Keys.PAGE_UP*10)

In [161]:
trabajo = j_post(browser, 3)
trabajo.text

'Data Analyst Scala H/M Promoted'

In [174]:
job_post_right = browser.find_element_by_xpath("//div[@class='jobs-search-two-pane__details pt4 ph3 jobs-search-two-pane__details ember-view']")   
job_post_right.text

'Consultor/a Data & Analytics - Scrum Master\nCompany Name\nEY\nCompany Location\nMadrid y alrededores, España\nPosted Date\nPosted 4 weeks ago\nNumber of views\n1,765 views\nShare\nShow more options\nSave\nSave Consultor/a Data & Analytics - Scrum Master at EY\nEasy Apply\nSee how you compare to 294 applicants. Reactivate Premium\nJob\n5/10 skills match\n294 applicants\nCompany\n10001+ employees\nFinancial Services\nConnections\n4 alumni\nLa tipología de trabajos a realizar son proyectos especializados en el Sector Financiero, predominantemente banca y seguros, para desarrollar la actividad en clientes de Primer Orden Nacional y que a su vez se encuentran en el Top 5 de entidades financieras a nivel global.\n  El área de actividad son grandes proyectos de transformación, con base en Madrid, pero en muchos casos con un ámbito internacional y por tanto con posibilidad de desarrollar parte del mismo en otras geografías (normalmente UK y USA). Las áreas de actuación, según el trabajo en cada caso, estarían en uno o varios de los siguientes dominios:\n  Gestión de Proyectos de índole Analítica Avanzada/Inteligencia Artificial/Datos/Tecnología.\nDesarrollo de proyectos de Inteligencia Artificial, a través de modelos supervisados y no supervisados.\nDefinición de Estrategia y Roadmap de diferentes áreas analíticas, en las cuales tiene un impacto significativo la Gestión y Explotación del Dato, la definición de los procesos y el modelo operativo de las áreas.\nExplotación de la información con diferentes tipos de herramientas y lenguajes de programación (Python , R, herramientas de visualización, etc.)\n\n\nSerá responsable del cumplimiento de las reglas de un marco de Scrum técnico, asegurándose de que el equipo las entiende y trabaja ajustándose a ellas, tanto dentro del equipo de trabajo como en sus interacciones con el entorno.\n  Conoce los marcos de trabajo de gestión ágil y apoyará a los Product Owner, los equipos de proyecto y a la organización para que sigan mejorando la mentalidad ágil y asegurando que el equipo se adhiera a los principios rectores de esta forma de trabajar, sus prácticas, ceremonias y reglas.\n  También, se encargará de la gestión de grandes proyectos, principalmente en las áreas de datos y analítica, así como de la redacción de ofertas comerciales y creación de materiales de apoyo a la venta.\n  Contará con un nivel fluido de interlocución con los principales contactos dentro de la organización cliente, asegurando el cumplimiento de sus expectativas y participando de forma activa en la identificación y generación de nuevas oportunidades comerciales.\n  Necesario conocimiento del ecosistema de tecnologías y herramientas del mercado (Big Data, Cloud, BI, AutoML, DQ, Gobierno del Dato, etc.) así como de las prácticas técnicas más habituales en los proyectos desarrollados de forma ágil (XP, TDD, BDD, CI/CD…)\n  Se valorará positivamente una buena capacidad de comunicación y storytelling para traducir objetivos de negocio a los equipos de trabajo. También, se valorará positivamente estar familiarizado con OKR.\n  El trabajo se desarrollará en entidades financieras de primer orden, con presencia internacional, por lo que es esencial tener un nivel de ingles C1 o superior.\n \nRequisitos:\n\n- Ingeniería Informática u otras ingenierías; Matemáticas o Estadística.\n\n- Formación y certificación como Scrum Master\n\n- Entre 6-10 de años de experiencia total en el sector, con más de 5 años de experiencia específica como Scrum Master.\n\n- Inglés Alto - C1 mínimo (abstenerse niveles inferiores)\n  - Personas con iniciativa, capacidad de trabajo en equipo y buenas habilidades de comunicación\n\n- Se valorará positivamente la experiencia adquirida en entornos de trabajo ágiles, con metodologías como Scrum y Kanban, así como familiaridad con técnicas como XP, TDD/BDD o CI/CD.”\n     \n        Seniority Level\nMid-Senior level\nIndustry\nInformation Technology & Services Program Development Computer Software\nEmployment Type\nFull-time\nJob Functions\nConsulting Engineering Information Technology\nHow you match\nCriteria provided by job poster\nSkills\nMatch\nScrum\nMatch\nEnglish\nMatch\nTeamwork\nMatch\nProject Management\nMatch\nAnalytics\nNo match\nTechnology Roadmapping\nNo match\nAnalytical Capability\nNo match\nNew Business Opportunities\nNo match\nAgile Methodologies\nNo match\nTender Writing'

In [179]:
#Skills match
if re.search('\nHow you match',job_post_right.text):
#if '\nHow you match' in job_post_right.text:
    y = 'Match\n(.*)\n'
    n = 'No match\n(.*)\n' 
    job_post_skills_match    = re.findall(y,job_post_right.text)
    job_post_skills_nomatch  = re.findall(n,job_post_right.text)
    job_post_skills = {'yes': job_post_skills_match,
                       'no' : job_post_skills_nomatch,
                       'all': job_post_skills_match + job_post_skills_nomatch
                      }
else:
    job_post_skills_match    = {}
    
job_post_skills

{'yes': ['Scrum', 'English', 'Teamwork', 'Project Management', 'Analytics'],
 'no': ['Technology Roadmapping',
  'Analytical Capability',
  'New Business Opportunities',
  'Agile Methodologies'],
 'all': ['Scrum',
  'English',
  'Teamwork',
  'Project Management',
  'Analytics',
  'Technology Roadmapping',
  'Analytical Capability',
  'New Business Opportunities',
  'Agile Methodologies']}

In [ ]:
trabajo = j_post(browser, 10)
trabajo

In [ ]:
actions = ActionChains(trabajo)
actions.move_to_element(trabajo).perform()

In [181]:
job_post_right_ind = \
browser.find_element_by_xpath("//div[@class='jobs-description-details pt4 pt4 ember-view']")   
job_post_right_ind.text

'Seniority Level\nMid-Senior level\nIndustry\nInformation Technology & Services Program Development Computer Software\nEmployment Type\nFull-time\nJob Functions\nConsulting Information Technology'

In [182]:
job_post_right_ind_1 = \
browser.find_element_by_xpath("//ul[@class='jobs-box__list jobs-description-details__list js-formatted-industries-list']")   
job_post_right_ind_1.text

'Information Technology & Services Program Development Computer Software'

In [180]:
#Industry
try:
    job_post_industry        = job_post_right.text.split('Industry\n',1)[1].split('\n')[0]
except:
    job_post_industry        = ""
job_post_industry

'Information Technology & Services Program Development Computer Software'

***

In [ ]:
df_jobs[df_jobs['Company name']=='']

In [ ]:
df_jobs[df_jobs['Easy apply']==True]

In [ ]:
df_jobs[df_jobs['Current Job Id']=='1772020331'].iloc[0,14]

In [ ]:
' skills match\n' in df_jobs[df_jobs['Current Job Id']=='1772020331'].iloc[0,14]

In [ ]:
rigth = browser.find_element_by_xpath('/html/body/div[5]/div[4]/div[3]/section[1]/div[2]/div/div/div[2]').text

In [ ]:
rigth

In [ ]:
rigth.split(' ago',1)[0].split('Posted Date\nPosted ')[1]

In [ ]:
rigth.split('Save\n',1)[1].split('\n',2)[1]

In [ ]:
df_jobs.shape

In [ ]:
df_jobs.dtypes

In [ ]:
df_jobs.iloc[0,6].split(' ago',1)[0].split('Posted Date\nPosted ')[1]

In [ ]:
df_jobs.iloc[0,6]

***
## PUENTE

In [ ]:
#location_input = input("PLEASE ENTER THE LOCATION WHERE YOU'D LIKE TO SEARCH: ")
location_input = 'berlin'

In [ ]:
location = location_input.capitalize()
location

In [ ]:
#job_title_input = input("PLEASE ENTER THE JOB THAT YOU'D LIKE TO SEARCH: ")
job_title_input = 'data analyst'

In [ ]:
job_title_df = job_title_input.lower()
job_title_s    = job_title_input.lower().replace(' ', '%20')
job_title_s

#### >>> GO TO > JOB SEARCH :

*** 
# OLD TESTING
***

In [ ]:
#tabla_grande = \
#browser.find_element_by_xpath("/html/body/div[5]/div[4]/div[3]/section[1]/div[2]/div/div")

#                               html/body/div[5]/div[4]/div[3]/section[1]/div[2]
#                               /html/body/div[5]/div[4]/div[3]/section[1]/div[2]/div/div/div[1]

In [ ]:
#Taking table of job posts
try:
    tabla_izq = \
    browser.find_element_by_xpath("/html/body/div[5]/div[4]/div[3]/section[1]/div[2]/div/div/div[1]")
                                  #/html/body/div[6]/div[4]/div[3]/section[1]/div[2]/div/div/div[1]
                                  #/html/body/div[6]/div[4]/div[3]/section[1]/div[2]/div/div/div[1]/div[2]
                                  #/html/body/div[5]/div[4]/div[3]/section[1]/div[2]/div/div/div[1]/div[2]
    #browser.find_element_by_class_name("jobs-search-two-pane__results display-flex")
    #                              /html/body/div[5]/div[4]/div[3]/section[1]/div[2]/div/div/div[1]
except:
    tabla_izq = \
    browser.find_element_by_xpath("/html/body/div[6]/div[4]/div[3]/section[1]/div[2]/div/div/div[1]")
    
time.sleep(0.5)
tabla_izq.text

In [ ]:
tabla_izq.text.split('\n')

In [ ]:
current_p = int(browser.current_url.split('&start=')[1])//25+1
current_p

In [ ]:
#are_you = browser.find_element_by_class_name("jobs-search-feedback-card")
#are_you.is_enabled()

In [ ]:
#for last page there is another logic (not 'Close')
if current_p < n_pages:
    job_list = tabla_izq.text.split('Manage alerts\n')[1].split('Close\n')[0].split('ago')
else:
    job_list = \
    tabla_izq.text.split('Manage alerts\n')[1].split('Close\n')[0].split('Create alert for this search\n')[0].split('ago')

n_job_list = len(job_list)-1
print(n_job_list) 
job_list

In [ ]:
# TESTING - clicking one selected job
n = n_job_list # max 25

# Selecting job post in order
try:
    job_post = browser.find_element_by_xpath\
    (f'/html/body/div[5]/div[4]/div[3]/section[1]/div[2]/div/div/div[1]/div[2]/div/ul/li[{n}]/div/artdeco-entity-lockup/artdeco-entity-lockup-content/h3/a')
except:
    job_post = browser.find_element_by_xpath\
    (f'/html/body/div[6]/div[4]/div[3]/section[1]/div[2]/div/div/div[1]/div[2]/div/ul/li[{n}]/div/artdeco-entity-lockup/artdeco-entity-lockup-content/h3/a')
#     /html/body/div[5]/div[4]/div[3]/section[1]/div[2]/div/div/div[1]/div[2]/div/ul/li[1]/div/artdeco-entity-lockup/artdeco-entity-lockup-content/h3/a
#  (f'/html/body/div[5]/div[4]/div[3]/section[1]/div[2]/div/div/div[1]/div[2]/div/ul/li[{n}]')
job_post.click()

# Getting job post ID
currentJobId = browser.current_url.split('currentJobId=')[1].split('&')[0]
#currentJobId = browser.current_url.split('?')[1].split('&')[0].split('=')[1]
print(currentJobId)

# Extracting job information
try:
    job_post_right = browser.find_element_by_xpath\
        ('/html/body/div[5]/div[4]/div[3]/section[1]/div[2]/div/div/div[2]')
except:
    job_post_right = browser.find_element_by_xpath\
        ('/html/body/div[6]/div[4]/div[3]/section[1]/div[2]/div/div/div[2]')
job_post_right_content = job_post_right.text.split('\n',16)
print(len(job_post_right_content))
print(f'{job_post_right_content}')
#print(f'{job_post_right.text.split('\n',15)}')

# 200402 21.00 (Session info: chrome=80.0.3987.162)
# 200403 21.00 (Session info: chrome=80.0.3987.162)
# 200404 17.00  (Session info: chrome=80.0.3987.162)

In [ ]:
list(range(0,n_pages*25,25))

In [ ]:
browser.get_log

In [ ]:
izq = browser.find_element_by_class_name('jobs-search-results jobs-search-results--is-two-pane')
izq.text()

In [ ]:
tabla_izq.text

In [ ]:
import requests
from bs4 import BeautifulSoup

In [ ]:
#with requests.Session() as s:

with requests.Session() as session:
    
    response = session.get(LOGIN_URL)
    session = session.cookies.get_dict()
    bcookie = session.get('bcookie')
    print(bcookie)
    cookie = bcookie.split('&')[1].split('"')[0]
    print(f'\n{cookie}')
    
    LoginCsrfParam   = cookie
    Session_key      = "cristopher.rojas.lepe@gmail.com" # "cristopher.rojas.lepe%40gmail.com"
    Session_password = "M3t4n01@" # "M3t4n01%40"
    Session_redirect = "https%3A%2F%2Fwww.linkedin.com%2Fjobs" # "https://www.linkedin.com/jobs" #"https%3A%2F%2Fwww.linkedin.com%2Fjobs"
    Trk              = "guest_homepage-jobseeker_sign-in-submit"
    
    payload = {'loginCsrfParam'  : LoginCsrfParam,
               'session_key'     : Session_key,
               'session_password': Session_password,
               'session_redirect': Session_redirect,
               'trk'             : Trk
              }
    print(f'\n{payload}')
    p = requests.post(LOGIN_URL, data = payload)  
    #p = session.post(LOGIN_URL, data = payload) 
    # print the html returned or something more intelligent to see if it's a successful login page.
    print(f'\n{p.content}')
    soup = BeautifulSoup(p.content,'html.parser')
    print(f'\n{soup}')

    # An authorised request.
#     r = s.get('A protected web page url')
#     print r.text