# Step 1: ACQUIRE DATA

In [275]:
from selenium import webdriver
from selenium.webdriver.common.action_chains import ActionChains
from selenium.webdriver.common.keys import Keys
from selenium.common.exceptions import ElementClickInterceptedException
import os
from dotenv import load_dotenv
import time
import re
import requests

In [276]:
import pandas as pd
from datetime import datetime, timedelta

> ## SEARCH

In [277]:
#job_title_input = input("PLEASE ENTER THE JOB THAT YOU'D LIKE TO SEARCH: ")
job_title_input = 'data analyst'

In [278]:
job_title_df = job_title_input.lower()
job_title_s    = job_title_input.lower().replace(' ', '%20')
job_title_s

'data%20analyst'

In [279]:
# geoId="100994331"

> ## WEB SCRAPPING

### SELENIUM >

In [280]:
#import requests
#from bs4 import BeautifulSoup

#### DRIVER PATH:

In [281]:
#LINUX
#os.environ['PATH'] = f'{os.environ["PATH"]}:/home/cristopherrl/Documents/program/selenium/drivers/'
#WINDOWS
os.environ['PATH'] = f'{os.environ["PATH"]};C:\\Users\\x385645\\Documents\\Selenium'

In [282]:
os.environ['PATH']

'C:\\Users\\x385645\\AppData\\Local\\Continuum\\anaconda3\\envs\\final_project;C:\\Users\\x385645\\AppData\\Local\\Continuum\\anaconda3\\envs\\final_project\\Library\\mingw-w64\\bin;C:\\Users\\x385645\\AppData\\Local\\Continuum\\anaconda3\\envs\\final_project\\Library\\usr\\bin;C:\\Users\\x385645\\AppData\\Local\\Continuum\\anaconda3\\envs\\final_project\\Library\\bin;C:\\Users\\x385645\\AppData\\Local\\Continuum\\anaconda3\\envs\\final_project\\Scripts;C:\\Users\\x385645\\AppData\\Local\\Continuum\\anaconda3\\envs\\final_project\\bin;C:\\Users\\x385645\\AppData\\Local\\Continuum\\anaconda3\\condabin;C:\\ARQDISP;C:\\PROGRA~1\\7-ZIP;C:\\PROGRAM FILES (X86)\\IBM\\TRACE FACILITY;C:\\PROGRAM FILES (X86)\\IBM\\PERSONAL COMMUNICATIONS;C:\\PROGRAM FILES (X86)\\JAVA\\JRE1.8.0_91\\BIN\\CLIENT;C:\\PROGRAMDATA\\ORACLE\\JAVA\\JAVAPATH;C:\\WINDOWS\\SYSTEM32;C:\\WINDOWS;C:\\WINDOWS\\SYSTEM32\\WBEM;C:\\WINDOWS\\SYSTEM32\\WINDOWSPOWERSHELL\\V1.0;.;C:\\WINDOWS\\system32;C:\\WINDOWS;C:\\WINDOWS\\System32\\Wbem;C:\\WINDOWS\\System32\\WindowsPowerShell\\v1.0;C:\\WINDOWS\\System32\\OpenSSH;C:\\Users\\x385645\\AppData\\Local\\Microsoft\\WindowsApps;C:\\Users\\x385645\\AppData\\Local\\Programs\\Azure Data Studio\\bin;C:\\Users\\x385645\\AppData\\Local\\Programs\\Git\\cmd;C:\\Users\\x385645\\Documents\\Selenium;C:\\Users\\x385645\\Documents\\Selenium;C:\\Users\\x385645\\Documents\\Selenium;C:\\Users\\x385645\\Documents\\Selenium'

#### .ENV PATH:

In [283]:
load_dotenv(dotenv_path='../.env')

True

#### SIGN IN:

In [284]:
browser = webdriver.Chrome()
URL = 'https://www.linkedin.com/login'
browser.get(URL)

In [285]:
SECRET_USER = os.getenv("SESSION_KEY")
SECRET_PASS = os.getenv("SESSION_PASSWORD")

In [286]:
user     = browser.find_element_by_xpath('/html/body/div/main/div/form/div[1]/input')
user.send_keys(SECRET_USER)
time.sleep(1)

In [287]:
password = browser.find_element_by_xpath('/html/body/div/main/div/form/div[2]/input')
password.send_keys(SECRET_PASS)
time.sleep(1)

In [288]:
#sign_in  = browser.find_element_by_xpath('/html/body/div/main/div/form/div[3]/button')
sign_in  = browser.find_element_by_class_name('login__form_action_container')
sign_in.click()
time.sleep(1)

***
***
#### LINKEDIN PROFILE :

In [289]:
profile = browser.find_element_by_xpath\
('/html/body/header/div/nav/ul/li[6]/div/artdeco-dropdown/artdeco-dropdown-trigger/div')
profile.click()

In [290]:
link_profile = browser.find_element_by_xpath\
('/html/body/header/div/nav/ul/li[6]/div/artdeco-dropdown/artdeco-dropdown-content/div/ul/li[1]/a/div[2]/span')
link_profile.click()

#### Profile page >

In [291]:
browser.current_url

'https://www.linkedin.com/feed/'

In [292]:
linkedin_profile = browser.current_url.split('/')[4]
linkedin_profile

''

#### Headline:

In [293]:
browser.maximize_window()

In [294]:
profile_headline = browser.find_element_by_xpath("//h2[@class='mt1 t-18 t-black t-normal']")
profile_headline.text

'Data Scientist & Analyst | Python ( Pandas , NumPy , SciPy , Matplolib ) | ML | Tableau | SQL | Git'

In [295]:
#try:
#if browser.find_element_by_xpath\
#    ('/html/body/div[6]/div[4]/div[3]/div/div/div/div/div[2]/main/div[1]/section/div[2]/div[2]/div[1]/h2'):
#    profile_headline = browser.find_element_by_xpath\
#    ('/html/body/div[6]/div[4]/div[3]/div/div/div/div/div[2]/main/div[1]/section/div[2]/div[2]/div[1]/h2')
#    # /html/body/div[6]/div[4]/div[3]/div/div/div/div/div[2]/main/div[1]/section/div[2]/div[2]/div[1]/h2
#    print('opcion 1')#
#
#elif   browser.find_element_by_xpath\
#    ('/html/body/div[5]/div[3]/div[3]/div/div/div/div/div[2]/main/div[1]/section/div[2]/div[2]/div[1]/h2'):
#    profile_headline = browser.find_element_by_xpath\
#    ('/html/body/div[5]/div[3]/div[3]/div/div/div/div/div[2]/main/div[1]/section/div[2]/div[2]/div[1]/h2')
#    print('opcion 2')#
#
##except:
#elif browser.find_element_by_xpath\
#    ('/html/body/div[5]/div[4]/div[3]/div/div/div/div/div[2]/main/div[1]/section/div[2]/div[2]/div[1]/h2'):
#    profile_headline = browser.find_element_by_xpath\
#    ('/html/body/div[5]/div[4]/div[3]/div/div/div/div/div[2]/main/div[1]/section/div[2]/div[2]/div[1]/h2')
#    print('opcion 3')
#    
#profile_headline.text

#### Job experience:

In [296]:
html_body = browser.find_element_by_xpath ('/html/body')
html_body.send_keys(Keys.PAGE_DOWN * 5)
time.sleep(0.5)
html_body.send_keys(Keys.PAGE_DOWN * 5)
time.sleep(0.5)
html_body.send_keys(Keys.PAGE_DOWN * 5)
time.sleep(0.5)

In [297]:
# id='profile-content' >>   /html/body/div[5]/div[4]/div[3]
# class='profile-detail' >> /html/body/div[5]/div[4]/div[3]/div/div/div/div/div[2]/main/div[7]
#/html/body/div[5]/div[4]/div[3]/div/div/div/div/div[2]/main/div[7]/div[2]/span/div/section/div[1]

In [298]:
# show more experiences
#try:    
#if   browser.find_element_by_xpath('/html/body/div[5]/div[4]/div[3]/div/div/div/div/div[2]/main/div[7]/div[2]/span/div/section/div[1]/section/div/button'):
#                                   #/html/body/div[5]/div[4]/div[3]/div/div/div/div/div[2]/main/div[7]/div[2]/span/div/section/div[1]/section/div/button
#    profile_show_experience = browser.find_element_by_xpath('/html/body/div[5]/div[4]/div[3]/div/div/div/div/div[2]/main/div[7]/div[2]/span/div/section/div[1]/section/div/button')
#    print(1)
##except:
#elif browser.find_element_by_xpath('/html/body/div[5]/div[3]/div[3]/div/div/div/div/div[2]/main/div[7]/div[2]/span/div/section/div[1]/section/div/button'):
#    profile_show_experience = browser.find_element_by_xpath ('/html/body/div[5]/div[3]/div[3]/div/div/div/div/div[2]/main/div[7]/div[2]/span/div/section/div[1]/section/div/button')
#    print(2)
#    #actions = ActionChains(browser)
#    #actions.move_to_element(profile_show_experience).perform()##
#
##except:
#    #actions = ActionChains(browser)
#    #actions.move_to_element(profile_show_experience).perform()
#time.sleep(1)

In [299]:
# show MORE experiences
profile_show_experience = browser.find_element_by_xpath\
("//button[@class='pv-profile-section__see-more-inline pv-profile-section__text-truncate-toggle link link-without-hover-state']")
ActionChains(browser).move_to_element(profile_show_experience).perform()
profile_show_experience.click()
html_body.send_keys(Keys.PAGE_UP)

In [300]:
#try:
#  # Tries to click an element
#  profile_show_experience.click()
#except ElementClickInterceptedException:
#  # Use Javascript to scroll down to bottom of page
#  browser.execute_script("window.scrollTo(0, document.body.scrollHeight);")

In [301]:
# experiences > text
if browser.find_element_by_xpath('/html/body/div[5]/div[4]/div[3]/div/div/div/div/div[2]/main/div[7]/div[2]/span/div/section/div[1]'):
    profile_experience = browser.find_element_by_xpath\
    ('/html/body/div[5]/div[4]/div[3]/div/div/div/div/div[2]/main/div[7]/div[2]/span/div/section/div[1]')

elif browser.find_element_by_xpath(  '/html/body/div[5]/div[3]/div[3]/div/div/div/div/div[2]/main/div[7]/div[2]/span/div/section/div[1]'):
    profile_experience = browser.find_element_by_xpath\
    ('/html/body/div[5]/div[3]/div[3]/div/div/div/div/div[2]/main/div[7]/div[2]/span/div/section/div[1]')
    
profile_experience.text

'Experience\nCollection Coordination Analyst\nCompany Name\nGrupo CIL Marketing Directo Full-time\nDates Employed\nMar 2019 – Present\nEmployment Duration\n1 yr 2 mos\nLocation\nMadrid Area, Spain\nAnalyze the customer payment behavior to create and manage the development of new processes and projects.\n\nResponsible for the coordination of the collection processes in Spain, France and Portugal, ensuring the proper functioning in all countries.\nReal Estate Agent\nCompany Name\nRedpiso Grupo Inmobiliario y Financiero\nDates Employed\nApr 2018 – Mar 2019\nEmployment Duration\n1 yr\nLocation\nMadrid Area, Spain\nManage a portfolio of properties, negotiating to catch new products and offering them to others clients.\n\nBringing assistance to sellers and buyers to close transactions from the beginning to the end of the process.\n…\nsee more\nPricing Analyst\nCompany Name\nClaro Chile S.A.\nDates Employed\nFeb 2015 – Feb 2017\nEmployment Duration\n2 yrs 1 mo\nLocation\nSantiago, Chile\nDefine and upgrade the cost and pricing model of different TELECOM and IT products of the Enterprises Market area, also helping to product areas on launching of new products, supporting to sellers in sales processes, and advising to engineers checking the design of standard projects.\n\nDesign special offers to promote the sales of specific products, checking in parallel the prices of the products in the market.\n\n• Implementation of new evaluation tools for sales team, optimizing response time to clients from 2 weeks to 1 day.\n• Development of new standard offer of products based on demand from different customer segments.\n…\nsee more\nFinancial Analyst\nCompany Name\nSupermercados Tottus.\nDates Employed\nFeb 2014 – Sep 2014\nEmployment Duration\n8 mos\nLocation\nSantiago, Chile\nGenerate commercial relationship with different entities involved, attending to their needs, evaluating indicators for cost optimization and detecting deviations.\n\nElaborate financial reports for Tottus’ Management and Directory.\n\n• Improvement and optimization in Financial Reporting, reducing reporting time process in 20%.\n…\nsee more\nContinuous Improvement Engineer\nCompany Name\nFinning South America\nDates Employed\nJul 2013 – Jan 2014\nEmployment Duration\n7 mos\nLocation\nSantiago, Chile\nModel and redesign the processes that formed the different Finning businesses, in order to achieve connected and efficient process flows.\n\nDetect opportunities for improvement in different areas.\n\n• Redesign of Equipment Logistic process with SCOR methodology, eliminating waste and optimizing process time.\n…\nsee more\nCompany Name\nARAUCO, planta Horcones I\nTotal Duration\n3 yrs 5 mos\nTitle\nOperational Excellence Lead\nDates Employed\nJul 2011 – Jan 2013\nEmployment Duration\n1 yr 7 mos\nLocation\nArauco, Chile\nGenerate, control and manage the projects created in base of the methodology of Operational Excellence (OE), ensuring these are focused in three principal items: Safety, Environment and Business\n\nWorking to reduce process gaps with the goal to improve the Processes Management Indicator (PMI).\n\nTrain staff in concepts of Continuous Improvement and Operational Excellence\n\n• Annual record in project generation (25) / Fourth place in the national project competition of OE.\n• Implementation of training plan for workers in each area of the plant, in addition to a plan to expand the philosophy of Continuous Improvement.\n• Definition and work with EO leaders in each area.\n…\nsee more\nTitle\nProcess Management Consultant\nDates Employed\nSep 2010 – Jul 2011\nEmployment Duration\n11 mos\nLocation\nArauco, Chile\nGenerate, control and manage the improvement of operational KPI on each area of the company (Yield, Factor of Operation, Variable Costs), in order to reduce the gap by comparing with optimal scenarios of each process indicator.\n\n• Improvement of PMI from 10% to 7% through the management and control of the project portfolio.\n…\nsee more\nShow 1 more role\nShow fewer experiences'

In [302]:
# getting info: time experience
pattern_1 = 'Employment Duration\n(.*)\nLocation'
time_experience = list(re.findall(pattern_1 , profile_experience.text))
time_experience

['1 yr 2 mos', '1 yr', '2 yrs 1 mo', '8 mos', '7 mos', '1 yr 7 mos', '11 mos']

In [303]:
y, m = 0 , 0
for t in time_experience:
    print(t)
    if re.findall('[0-9] yr', t):
        year  = re.findall('[0-9] yr', t)[0].split(" ")[0]
        y += int(year)
    if re.findall('[0-9] mo', t):
        month = re.findall('[0-9] mo', t)[0].split(" ")[0]
        m += int(month)
print(y, "years -", m,"months")
m_nuevo = m//12
y_nuevo = y + m%12
print(y_nuevo , "years -", m_nuevo ,"months")

1 yr 2 mos
1 yr
2 yrs 1 mo
8 mos
7 mos
1 yr 7 mos
11 mos
5 years - 26 months
7 years - 2 months

#### Skills:

html_body.send_keys(Keys.PAGE_DOWN * 5)
time.sleep(0.5)
html_body.send_keys(Keys.PAGE_DOWN * 5)
time.sleep(0.5)

In [304]:
#show MORE skills
profile_more_skills =  browser.find_element_by_xpath\
("//button[@data-control-name='skill_details']")
ActionChains(browser).move_to_element(profile_more_skills).perform()
profile_more_skills.click()
html_body.send_keys(Keys.PAGE_UP)

In [305]:
# skill > text
profile_skills_details = browser.find_element_by_xpath\
('/html/body/div[5]/div[4]/div[3]/div/div/div/div/div[2]/main/div[7]/div[3]/div/section')
profile_skills_details.text

'Skills & Endorsements\nAdd a new skill\nTake skill quiz\nMicrosoft Excel\nSee 5 endorsements for Microsoft Excel\n5\nEndorsed by Reinaldo Alarcón Campos, who is highly skilled at this\nEndorsed by 2 of Cristopher’s colleagues at ARAUCO\nPassed: LinkedIn Assessments\nData Analytics\nSee 1 endorsement for Data Analytics\n1\nVictor Galan Vaquerizo has given an endorsement for this skill\nPython (Programming Language)\nSee 2 endorsements for Python (Programming Language)\n2\nVictor Galan Vaquerizo and 1 connection have given endorsements for this skill\nIndustry Knowledge\nProject Management\nBusiness Process Improvement\nContinuous Improvement\nSix Sigma\nLean manufacturing\nSee 1 endorsement for Lean manufacturing\n1\nBusiness Analysis\nData Analysis\nSee 1 endorsement for Data Analysis\n1\nProgramming\nEngineering\nBusiness Intelligence\nAnalytical Skills\nScrum\nFinancial Analysis\nStatistics\nProcess Optimization\nProcess Engineering\nMachine Learning\nData Modeling\nData Visualization\nData Science\nTools & Technologies\nMicrosoft Office\nSee 7 endorsements for Microsoft Office\n7\nMicrosoft Project\nSee 1 endorsement for Microsoft Project\n1\nVBA\nSAP\nSee 2 endorsements for SAP\n2\nSQL\nR\nTableau\nBash\nGit\nMySQL\nInterpersonal Skills\nTeam Management\nTeamwork\nNegotiation\nSee 1 endorsement for Negotiation\n1\nLeadership\nLanguages\nEnglish\nEspañol\nOther Skills\nMicrosoft Power BI\nTelco\nMicrosoft Power Query\nPower Pivot\nData Pipelines\nWeb Scraping\nVisual Basic for Applications (VBA)\nNumPy\nPandas (Software)\nSeaborn\nJupyter\nShow less\nShow only Cristopher’s featured skills'

In [306]:
skills = profile_skills_details.text.split("\n")
print(skills)
not_needed_words = ['Skills & Endorsements', 
                    'Add a new skill', 
                    'Take skill quiz', 
                    'Passed: LinkedIn Assessments',
                    'Tools & Technologies',
                    'Interpersonal Skills',
                    'Languages',
                    'Other Skills',
                    'Show less',
                   ]

['Skills & Endorsements', 'Add a new skill', 'Take skill quiz', 'Microsoft Excel', 'See 5 endorsements for Microsoft Excel', '5', 'Endorsed by Reinaldo Alarcón Campos, who is highly skilled at this', 'Endorsed by 2 of Cristopher’s colleagues at ARAUCO', 'Passed: LinkedIn Assessments', 'Data Analytics', 'See 1 endorsement for Data Analytics', '1', 'Victor Galan Vaquerizo has given an endorsement for this skill', 'Python (Programming Language)', 'See 2 endorsements for Python (Programming Language)', '2', 'Victor Galan Vaquerizo and 1 connection have given endorsements for this skill', 'Industry Knowledge', 'Project Management', 'Business Process Improvement', 'Continuous Improvement', 'Six Sigma', 'Lean manufacturing', 'See 1 endorsement for Lean manufacturing', '1', 'Business Analysis', 'Data Analysis', 'See 1 endorsement for Data Analysis', '1', 'Programming', 'Engineering', 'Business Intelligence', 'Analytical Skills', 'Scrum', 'Financial Analysis', 'Statistics', 'Process Optimization', 'Process Engineering', 'Machine Learning', 'Data Modeling', 'Data Visualization', 'Data Science', 'Tools & Technologies', 'Microsoft Office', 'See 7 endorsements for Microsoft Office', '7', 'Microsoft Project', 'See 1 endorsement for Microsoft Project', '1', 'VBA', 'SAP', 'See 2 endorsements for SAP', '2', 'SQL', 'R', 'Tableau', 'Bash', 'Git', 'MySQL', 'Interpersonal Skills', 'Team Management', 'Teamwork', 'Negotiation', 'See 1 endorsement for Negotiation', '1', 'Leadership', 'Languages', 'English', 'Español', 'Other Skills', 'Microsoft Power BI', 'Telco', 'Microsoft Power Query', 'Power Pivot', 'Data Pipelines', 'Web Scraping', 'Visual Basic for Applications (VBA)', 'NumPy', 'Pandas (Software)', 'Seaborn', 'Jupyter', 'Show less', 'Show only Cristopher’s featured skills']

In [307]:
#I need to do it 3 times to get the correct list ??????
skills_delete = []
for s in skills:
    #if (s in not_needed_words) or ('ndorse' in s) or ('Show only' in s) or s.isdigit():
    if (s in not_needed_words) or re.search('ndorse',s) or re.search('Show only',s) or re.search('[0-9]',s):
        #print(s)
        skills_delete.append(s)
        
        #skills.remove(s)
print(skills_delete)
skills_clean = list(set(skills)-set(skills_delete))
skills_clean = [ x.lower().split(' (')[0] for x in skills_clean]
sorted(skills_clean)

['Skills & Endorsements', 'Add a new skill', 'Take skill quiz', 'See 5 endorsements for Microsoft Excel', '5', 'Endorsed by Reinaldo Alarcón Campos, who is highly skilled at this', 'Endorsed by 2 of Cristopher’s colleagues at ARAUCO', 'Passed: LinkedIn Assessments', 'See 1 endorsement for Data Analytics', '1', 'Victor Galan Vaquerizo has given an endorsement for this skill', 'See 2 endorsements for Python (Programming Language)', '2', 'Victor Galan Vaquerizo and 1 connection have given endorsements for this skill', 'See 1 endorsement for Lean manufacturing', '1', 'See 1 endorsement for Data Analysis', '1', 'Tools & Technologies', 'See 7 endorsements for Microsoft Office', '7', 'See 1 endorsement for Microsoft Project', '1', 'See 2 endorsements for SAP', '2', 'Interpersonal Skills', 'See 1 endorsement for Negotiation', '1', 'Languages', 'Other Skills', 'Show less', 'Show only Cristopher’s featured skills']

['analytical skills',
 'bash',
 'business analysis',
 'business intelligence',
 'business process improvement',
 'continuous improvement',
 'data analysis',
 'data analytics',
 'data modeling',
 'data pipelines',
 'data science',
 'data visualization',
 'engineering',
 'english',
 'español',
 'financial analysis',
 'git',
 'industry knowledge',
 'jupyter',
 'leadership',
 'lean manufacturing',
 'machine learning',
 'microsoft excel',
 'microsoft office',
 'microsoft power bi',
 'microsoft power query',
 'microsoft project',
 'mysql',
 'negotiation',
 'numpy',
 'pandas',
 'power pivot',
 'process engineering',
 'process optimization',
 'programming',
 'project management',
 'python',
 'r',
 'sap',
 'scrum',
 'seaborn',
 'six sigma',
 'sql',
 'statistics',
 'tableau',
 'team management',
 'teamwork',
 'telco',
 'vba',
 'visual basic for applications',
 'web scraping']

In [308]:
#skills_1 = re.findall( '\n(.*)\nSee' , profile_skills_details.text.split("\nIndustry Knowledge")[0])
#skills_1

In [309]:
#skills_2_delete = re.findall('\nShow less\nShow only(.*)featured skills', profile_skills_details.text.split("\nIndustry Knowledge")[1])[0]
#skills_2_delete

In [310]:
#skills_2 = profile_skills_details.text.split("\nIndustry Knowledge")[1]\
#                                    .replace("\nTools & Technologies","")\
#                                    .replace("\nInterpersonal Skills","")\
#                                    .replace("\nLanguages","")\
#                                    .replace("\nOther Skills","")\
#                                    .split("\n")
#.replace(f"\nShow less\nShow only{skills_2_delete}featured skills'","")\
#skills_2

#### Languages:

In [311]:
profile_languages = browser.find_element_by_id('languages-expandable-content').text.split(' ')
profile_languages

['English', 'Spanish']

***
#### JOB SEARCH :

In [312]:
#location_input = input("PLEASE ENTER THE LOCATION WHERE YOU'D LIKE TO SEARCH: ")
location_input = 'MADRID'

In [313]:
location = location_input.capitalize()
location

'Madrid'

#### GETTING JOB POSTS :

#### Functions >

In [314]:
#number of pages with job posts considering job title given to thi
def n_pages_linkedin(browser,job_title_s):
    
    JOB_URL = f'https://www.linkedin.com/jobs/search/?keywords={job_title_s}&location={location}'
    browser.get(JOB_URL)
    
    # Total results
    if   browser.find_element_by_xpath("/html/body/div[5]/div[4]/div[3]/section[1]/div[2]/div/div/div[1]/div[1]/div[1]/small"):
        results = int(browser.find_element_by_xpath\
        ("/html/body/div[5]/div[4]/div[3]/section[1]/div[2]/div/div/div[1]/div[1]/div[1]/small").text.split(" ")[0])
    elif browser.find_element_by_xpath("/html/body/div[6]/div[4]/div[3]/section[1]/div[2]/div/div/div[1]/div[1]/div[1]/small"):
        results = int(browser.find_element_by_xpath\
        ("/html/body/div[5]/div[4]/div[3]/section[1]/div[2]/div/div/div[1]/div[1]/div[1]/small").text.split(" ")[0])
    
    # More than 25 results > More than 1 page
    if results > 25:
        try:
            pages = browser.find_element_by_xpath\
            ('/html/body/div[5]/div[4]/div[3]/section[1]/div[2]/div/div/div[1]/div[2]/div/section/artdeco-pagination/ul')
        except:
            pages = browser.find_element_by_xpath\
            ('/html/body/div[6]/div[4]/div[3]/section[1]/div[2]/div/div/div[1]/div[2]/div/section/artdeco-pagination/ul')
        print(type(pages))
        n_pages = int(pages.text.split('\n')[-1])
        print(n_pages)
        return n_pages
    
    else:
        n_pages = 1
        return n_pages

In [315]:
#Iterator of job posts
def j_post(browser, i):
    if   browser.find_element_by_xpath\
        (f'/html/body/div[5]/div[4]/div[3]/section[1]/div[2]/div/div/div[1]/div[2]/div/ul/li[{i}]/div/artdeco-entity-lockup/artdeco-entity-lockup-content/h3/a'):
        job_post = browser.find_element_by_xpath\
        (f'/html/body/div[5]/div[4]/div[3]/section[1]/div[2]/div/div/div[1]/div[2]/div/ul/li[{i}]/div/artdeco-entity-lockup/artdeco-entity-lockup-content/h3/a')
                                                        #  /html/body/div[5]/div[4]/div[3]/section[1]/div[2]/div/div/div[1]/div[2]/div/ul/li[ 1 ]/div/artdeco-entity-lockup/artdeco-entity-lockup-content/h3/a
                                                        #  /html/body/div[5]/div[4]/div[3]/section[1]/div[2]/div/div/div[1]/div[2]/div/ul/li[ 1 ]/div/artdeco-entity-lockup/artdeco-entity-lockup-content/h3/a
    elif browser.find_element_by_xpath\
        (f'/html/body/div[6]/div[4]/div[3]/section[1]/div[2]/div/div/div[1]/div[2]/div/ul/li[{i}]/div/artdeco-entity-lockup/artdeco-entity-lockup-content/h3/a'):
        job_post = browser.find_element_by_xpath\
        ( '/html/body/div[6]/div[4]/div[3]/section[1]/div[2]/div/div/div[1]/div[2]/div/ul/li[{i}]/div/artdeco-entity-lockup/artdeco-entity-lockup-content/h3/a')

    elif browser.find_element_by_xpath\
        (f'/html/body/div[5]/div[4]/div[3]/section[1]/div[2]/div/div/div[1]/div[2]/div[2]/ul/li[{i}]/div/artdeco-entity-lockup/artdeco-entity-lockup-content/h3/a'):
        job_post = browser.find_element_by_xpath\
        (f'/html/body/div[5]/div[4]/div[3]/section[1]/div[2]/div/div/div[1]/div[2]/div[2]/ul/li[{i}]/div/artdeco-entity-lockup/artdeco-entity-lockup-content/h3/a')

    elif browser.find_element_by_xpath\
        (f'/html/body/div[6]/div[4]/div[3]/section[1]/div[2]/div/div/div[1]/div[2]/div[2]/ul/li[{i}]/div/artdeco-entity-lockup/artdeco-entity-lockup-content/h3/a'):
        job_post = browser.find_element_by_xpath\
        (f'/html/body/div[6]/div[4]/div[3]/section[1]/div[2]/div/div/div[1]/div[2]/div[2]/ul/li[{i}]/div/artdeco-entity-lockup/artdeco-entity-lockup-content/h3/a')
    
    return job_post

In [316]:
#last = browser.find_element_by_xpath()'/html/body/div[6]/div[4]/div[3]/section[1]/div[2]/div/div/div[1]/div[2]/div/section/artdeco-pagination/ul')

In [317]:
#pages.location_once_scrolled_into_view

***

In [318]:
# Defining current date time
now = datetime.now()
now_str = datetime.now().strftime('%Y-%m-%d-%H:%M')

In [319]:
# Creating df
df_jobs = pd.DataFrame(columns=['JOB TITLE',
                                'LOCATION',
                                'SEARCH DATETIME',
                                'Current Job Id',
                                'Job name',
                                'Company name',
                                'Company location',
                                'Posted date',
                                'Estimated post date',
                                'Easy apply',
                                'Skills match',
                                
                                'Seniority Level',
                                'Industry',
                                'Employment Type',
                                'Job Functions',
                                'Job info'                                
                               ])

In [320]:
# Jobs search
jobs_list = ['data analyst', 'data scientist', 'data engineer']

In [321]:
dic_key_words = \
{   'data analyst'  : ['sql', 
                        'python', 
                        'business intelligence', 'bi' , 'excel'
                        'dashboard', 'reporting',
                        'tableau', 'powerbi', 'power bi', 'qlik', 'sportfire', 
                        'business analyst'
                      ],
 
    'data scientist': ['sql', 
                        'python', 'r', 
                        'ml', 'machine learning','dl','deep learning', 'nn','neuronal networks', 
                        'pandas', 'numpy', 
                        'data visualization', 'matplotlib', 'seaborn', 
                        'spss',  'advanced statistics','statistics',
                        'sklearn','sk learn', 'scikit learn', 'scikit-learn' ,'tensorflow', 'keras', 
                        'data wrangling', 'nlp', 'a/b testing','a b testing'
                      ],
 
    'data engineer':  ['sql', 'nosql', 'no sql', 
                        'python', 'r', 'scala', 'java', 'spark', 'hadoop', 'hive', 'impala', 'kafka', 
                        'data wrangling', 'etl','extract, transform and load', 'map reduce','mapreduce', 'data acquisition',
                        'big data', 'bigdata', 'data warehouse', 'aws',
                        'software engineering'
                      ]
}

***

> #### TESTING

In [322]:
# > Trying with one job title
n_pages = n_pages_linkedin(browser, 'data analyst')
n_pages

<class 'selenium.webdriver.remote.webelement.WebElement'>
5

5

In [323]:
# Going to last row 
try:
    pages = browser.find_element_by_xpath\
    ('/html/body/div[5]/div[4]/div[3]/section[1]/div[2]/div/div/div[1]/div[2]/div/section/artdeco-pagination/ul')
except:
    pages = browser.find_element_by_xpath\
    ('/html/body/div[6]/div[4]/div[3]/section[1]/div[2]/div/div/div[1]/div[2]/div/section/artdeco-pagination/ul')
actions = ActionChains(browser)
actions.move_to_element(pages).perform()

In [324]:
#show MORE skills
izq =  browser.find_element_by_xpath\
("//div[@class='jobs-search-results jobs-search-results--is-two-pane']")
#ActionChains(browser).move_to_element(izq).perform()

In [329]:
izq.text

'Data Analyst Scala H/M Promoted\nExperis IT\nMadrid, Comunidad de Madrid, España\n5 hours ago\nEasy Apply\nDigital Data Analyst (Customer) Promoted\nJTI (Japan Tobacco International)\nMadrid, ES\n2 weeks ago\nData Analyst Promoted\nNexthink\nProvincia de Madrid, ES\nYou have a preferred skill badge\n5 days ago\nEasy Apply\nData Analyst Junior\nTempotel\nMadrid, ES\n1 month ago\nData Analyst\nCigna\nMadrid, ES\nYou have a preferred skill badge\n1 week ago\n12 applicants\nSenior Data Analyst, Madrid\nFarmacias Trebol\nProvincia de Madrid, ES\n1 day ago\n8 applicants\nJunior Data Analyst\nFever\nMadrid, ES\n4 weeks ago\nData Analyst\nAmazon\nMadrid, ES\n2 connections work here\n3 weeks ago\n0 applicants\nData Analytics & Insights Consultant, ACOE (R1119786)\nIQVIA\nMadrid, ES\n1 alum works here\n1 month ago\n8 applicants\nData Analyst h/m\nMichael Page\nMadrid, ES\n1 month ago\n13 applicants\nDigital Marketing Data Analyst\nOCU\nMadrid y alrededores, España\nYou have a preferred skill badge\n4 weeks ago\nEasy Apply\nData Analyst\nES3\nMadrid, ES\nYou have a preferred skill badge\n1 week ago\n12 applicants\nData Analyst\nTeva Pharmaceuticals\nMadrid, ES\nYou have a preferred skill badge\n5 days ago\nData Analyst A Coruña\nKabel\nMadrid, ES\n1 connection works here\n3 weeks ago\n15 applicants\nData Analyst\nOrbitalAds\nMadrid, ES\n1 alum works here\n1 month ago\nConsultor/a Data & Analytics - Scrum Master\nEY\nMadrid y alrededores, España\n4 alumni work here\n3 weeks ago\nEasy Apply\nAnalista de datos Python Madrid\nGrupo CMC\nMadrid, ES\n1 alum works here\n3 days ago\n16 applicants\nGame Data Analyst - Barcelona\nInteractive - Global Games Executive Search\nMadrid, ES\n1 month ago\nBusiness Data & Operations Analyst\nEnghouse Interactive\nMadrid, ES\n5 months ago\nData Analytics\nMalthus Darwin\nMadrid, ES\n3 months ago\nData Analyst -Scientist - Uber Eats (Sector esencial/Teletrabajo)\nAdecco\nMadrid, ES\nYou have a preferred skill badge\n1 month ago\nPython Data Analyst\nAplazame\nMadrid, Community of Madrid, Spain\n1 alum works here\n6 days ago\nEasy Apply\nClose\nAre you finding what you’re looking for?\nWe’ll use your feedback to improve your job search experience.\nYes\nNo\nCreate alert for this search\nGet notified when new jobs become available.\nOff\n1\n2\n3\n4\n5'

In [330]:
izq.send_keys(Keys.PAGE_UP*10)

In [333]:
trabajo = j_post(browser, 2)
trabajo.text

'Digital Data Analyst (Customer) Promoted'

In [335]:
trabajo = j_post(browser, 10)
trabajo

NoSuchElementException: Message: no such element: Unable to locate element: {"method":"xpath","selector":"/html/body/div[5]/div[4]/div[3]/section[1]/div[2]/div/div/div[1]/div[2]/div/ul/li[10]/div/artdeco-entity-lockup/artdeco-entity-lockup-content/h3/a"}
  (Session info: chrome=80.0.3987.122)

In [217]:
actions = ActionChains(trabajo)
actions.move_to_element(trabajo).perform()

AttributeError: 'WebElement' object has no attribute 'w3c'

***

In [336]:
# iterator of JOB LIST
for j in jobs_list:
    
    # Getting each job for the search
    print(f'++++++++++++++++  {job_title_df} +++++++++++++++++++')
    job_title_df  = j
    job_title_s   = j.replace(' ', '%20')
    
    # Getting number of pages for each search
    n_pages = n_pages_linkedin(browser,job_title_s)
    last_job_page = n_pages*25
    print(last_job_page)  
    
    
    
    # iterator of JOB PAGES
    for p in range(0,last_job_page,25):
    #for p in range(0,1):

        print(f'PAGINA: {p}')

        #Exploring each page with maximum 25 job posts
        JOB_URL = f'https://www.linkedin.com/jobs/search/?keywords={job_title_s}&location={location}&start={p}'
        browser.get(JOB_URL)
        time.sleep(0.5)

        """
        #activate all job posts in each page 
        if results > 25:
            try:
                pages = browser.find_element_by_xpath\
                ('/html/body/div[5]/div[4]/div[3]/section[1]/div[2]/div/div/div[1]/div[2]/div/section/artdeco-pagination/ul')
            except:
                pages = browser.find_element_by_xpath\
                ('/html/body/div[6]/div[4]/div[3]/section[1]/div[2]/div/div/div[1]/div[2]/div/section/artdeco-pagination/ul')
        actions = ActionChains(browser)
        actions.move_to_element(pages).perform()
        """

        # Taking table of job posts
        tabla_izq = browser.find_element_by_xpath\
        ("//div[@class='jobs-search-results jobs-search-results--is-two-pane']")
        
        """
        try:
            if browser.find_element_by_xpath("/html/body/div[5]/div[4]/div[3]/section[1]/div[2]/div/div/div[1]"):
                tabla_izq = browser.find_element_by_xpath("/html/body/div[5]/div[4]/div[3]/section[1]/div[2]/div/div/div[1]")
            elif browser.find_element_by_xpath("/html/body/div[6]/div[4]/div[3]/section[1]/div[2]/div/div/div[1]"):
                tabla_izq = browser.find_element_by_xpath("/html/body/div[6]/div[4]/div[3]/section[1]/div[2]/div/div/div[1]") 
        except:
            JOB_URL = f'https://www.linkedin.com/jobs/search/?keywords={job_title_s}&location={location}&start={p}'
            browser.get(JOB_URL)
            time.sleep(0.2)

            if browser.find_element_by_xpath("/html/body/div[5]/div[4]/div[3]/section[1]/div[2]/div/div/div[1]"):
                tabla_izq = browser.find_element_by_xpath("/html/body/div[5]/div[4]/div[3]/section[1]/div[2]/div/div/div[1]")
            elif browser.find_element_by_xpath("/html/body/div[6]/div[4]/div[3]/section[1]/div[2]/div/div/div[1]"):
                tabla_izq = browser.find_element_by_xpath("/html/body/div[6]/div[4]/div[3]/section[1]/div[2]/div/div/div[1]") 
        """

        #try:
        #    tabla_izq = \
        #        browser.find_element_by_xpath("/html/body/div[5]/div[4]/div[3]/section[1]/div[2]/div/div/div[1]")
        #except:
        #    tabla_izq = \
        #        browser.find_element_by_xpath("/html/body/div[6]/div[4]/div[3]/section[1]/div[2]/div/div/div[1]")         
        #time.sleep(0.5)

        """
        # Getting quantity of job posts that you CAN SEE directly in each page
        if p < (last_job_page-25):
            job_list = \
            tabla_izq.text.split('Manage alerts\n')[1].split('Close\n')[0].split('ago')    
        else:
            job_list = \
            tabla_izq.text.split('Manage alerts\n')[1].split('Close\n')[0].split('Create alert for this search\n')[0].split('ago')
        
        n_job_list = len(job_list)-1
        print(f'Lista de trabajos visibles:{n_job_list}') 
        time.sleep(0.1)
        """
        
        # iterator of JOB LIST
        # iterator of jobs posts
        i=1
        error=False
        
        while i<=25 and error==False:
        #for i in range(1,n_job_list+1):
            
            try:

                print(f'i:{i}')
                
                # Selecting job post in order to click on it
                job_post = j_post(browser, i)
                
                """
                # Selecting job post in order to click on it
                if   browser.find_element_by_xpath\
                    (f'/html/body/div[5]/div[4]/div[3]/section[1]/div[2]/div/div/div[1]/div[2]/div/ul/li[{i}]/div/artdeco-entity-lockup/artdeco-entity-lockup-content/h3/a'):
                    job_post = browser.find_element_by_xpath\
                    (f'/html/body/div[5]/div[4]/div[3]/section[1]/div[2]/div/div/div[1]/div[2]/div/ul/li[{i}]/div/artdeco-entity-lockup/artdeco-entity-lockup-content/h3/a')
                    #  /html/body/div[5]/div[4]/div[3]/section[1]/div[2]/div/div/div[1]/div[2]/div/ul/li[ 1 ]/div/artdeco-entity-lockup/artdeco-entity-lockup-content/h3/a
                    #  /html/body/div[5]/div[4]/div[3]/section[1]/div[2]/div/div/div[1]/div[2]/div/ul/li[ 1 ]/div/artdeco-entity-lockup/artdeco-entity-lockup-content/h3/a
                elif browser.find_element_by_xpath\
                    (f'/html/body/div[6]/div[4]/div[3]/section[1]/div[2]/div/div/div[1]/div[2]/div/ul/li[{i}]/div/artdeco-entity-lockup/artdeco-entity-lockup-content/h3/a'):
                    job_post = browser.find_element_by_xpath\
                    (f'/html/body/div[6]/div[4]/div[3]/section[1]/div[2]/div/div/div[1]/div[2]/div/ul/li[{i}]/div/artdeco-entity-lockup/artdeco-entity-lockup-content/h3/a')

                elif browser.find_element_by_xpath\
                    (f'/html/body/div[5]/div[4]/div[3]/section[1]/div[2]/div/div/div[1]/div[2]/div[2]/ul/li[{i}]/div/artdeco-entity-lockup/artdeco-entity-lockup-content/h3/a'):
                    job_post = browser.find_element_by_xpath\
                    (f'/html/body/div[5]/div[4]/div[3]/section[1]/div[2]/div/div/div[1]/div[2]/div[2]/ul/li[{i}]/div/artdeco-entity-lockup/artdeco-entity-lockup-content/h3/a')

                elif browser.find_element_by_xpath\
                    (f'/html/body/div[6]/div[4]/div[3]/section[1]/div[2]/div/div/div[1]/div[2]/div[2]/ul/li[{i}]/div/artdeco-entity-lockup/artdeco-entity-lockup-content/h3/a'):
                    job_post = browser.find_element_by_xpath\
                    (f'/html/body/div[6]/div[4]/div[3]/section[1]/div[2]/div/div/div[1]/div[2]/div[2]/ul/li[{i}]/div/artdeco-entity-lockup/artdeco-entity-lockup-content/h3/a')
                """
                
                #try:
                #    job_post = browser.find_element_by_xpath\
                #    (f'/html/body/div[5]/div[4]/div[3]/section[1]/div[2]/div/div/div[1]/div[2]/div/ul/li[{i}]/div/artdeco-entity-lockup/artdeco-entity-lockup-content/h3/a')
                #except:
                #    job_post = browser.find_element_by_xpath\
                #    (f'/html/body/div[6]/div[4]/div[3]/section[1]/div[2]/div/div/div[1]/div[2]/div/ul/li[{i}]/div/artdeco-entity-lockup/artdeco-entity-lockup-content/h3/a')

                print(job_post.text)
                job_post.click()
                time.sleep(0.1)

                # Getting current job ID
                print(browser.current_url)      
                currentJobId = browser.current_url.split('currentJobId=')[1].split('&')[0] #col1_pd
                print(f'{currentJobId}')

                # Extracting job information on the right side
                try:
                    job_post_right = browser.find_element_by_xpath\
                        ('/html/body/div[5]/div[4]/div[3]/section[1]/div[2]/div/div/div[2]')
                except:
                    job_post_right = browser.find_element_by_xpath\
                        ('/html/body/div[6]/div[4]/div[3]/section[1]/div[2]/div/div/div[2]')

                #getting info and only separating: job name, company name, company location
                #job_post_right_content    = job_post_right.text.split('\n', 5)

                #Job name
                job_post_name             = job_post_right.text.split('\n', 1)[0]

                #Company name > Sometimes there is no info here
                if job_post_right.text.split('Company Name\n',1)[1].split('\n')[0] == 'Company Location':
                    job_post_company_name = ""
                else:
                    job_post_company_name = job_post_right.text.split('Company Name\n',1)[1].split('\n')[0]

                #Location
                job_post_company_location = job_post_right.text.split('Company Location\n',1)[1].split('\n')[0]

                #Posted date
                job_post_posted_date      = job_post_right.text.split(' ago',1)[0].split('Posted Date\nPosted ')[1]
                if   job_post_posted_date.split(" ")[1] in ['hour', 'hours']:
                    job_post_estimated_date = now - timedelta(hours =     int(job_post_posted_date.split(" ")[0]))
                elif job_post_posted_date.split(" ")[1] in ['day', 'days']:
                    job_post_estimated_date = now - timedelta(days  =     int(job_post_posted_date.split(" ")[0]))
                elif job_post_posted_date.split(" ")[1] in ['week', 'weeks']:
                    job_post_estimated_date = now - timedelta(weeks =     int(job_post_posted_date.split(" ")[0]))
                elif job_post_posted_date.split(" ")[1] in ['month', 'months']:
                    job_post_estimated_date = now - timedelta(weeks =   4*int(job_post_posted_date.split(" ")[0]))
                elif job_post_posted_date.split(" ")[1] in ['year', 'years']:
                    job_post_estimated_date = now - timedelta(weeks = 365*int(job_post_posted_date.split(" ")[0]))

                #Easy apply: T/F
                try:
                    if job_post_right.text.split('Save\n',1)[1].split('\n',2)[1] == 'Easy Apply':
                        job_post_easy_apply = True
                    else:
                        job_post_easy_apply = False
                except:
                    if job_post_right.text.split('Unsave\n',1)[1].split('\n',2)[1] == 'Easy Apply':
                        job_post_easy_apply = True
                    else:
                        job_post_easy_apply = False
                
                """
                #Skills match
                if ' skills match\n' in job_post_right.text:
                    job_post_skills_match    = 
                else:
                    job_post_skills_match    = ""
                """
                
                ####

                #Seniority Level
                try:
                    job_post_seniority_level = job_post_right.text.split('Seniority Level\n',1)[1].split('\n')[0]
                except:
                    job_post_seniority_level = ""

                #Industry
                try:
                    job_post_industry        = job_post_right.text.split('Industry\n',1)[1].split('\n')[0]
                except:
                    job_post_industry        = ""

                #Employment Type
                try:
                    job_post_employment_type = job_post_right.text.split('Employment Type\n',1)[1].split('\n')[0]
                except:
                    job_post_employment_type = ""

                #Job Functions > maybe this is the last
                try:
                    job_post_job_functions   = job_post_right.text.split('Job Functions\n',1)[1].split('\n')[0]
                except:
                    job_post_job_functions   = ""


                #job info
                job_post_info             = job_post_right.text.split('\n', 5)[5]

                #Dataframe
                df_jobs = df_jobs.append({
                                            'JOB TITLE'          : job_title_df,
                                            'LOCATION'           : location,
                                            'SEARCH DATETIME'    : now,
                                            'Current Job Id'     : currentJobId,
                                            'Job name'           : job_post_name,
                                            'Company name'       : job_post_company_name,
                                            'Company location'   : job_post_company_location,
                                            'Posted date'        : job_post_posted_date,
                                            'Estimated post date': job_post_estimated_date,
                                            'Easy apply'         : job_post_easy_apply,

                                            'Seniority Level'    : job_post_seniority_level,
                                            'Industry'           : job_post_industry ,
                                            'Employment Type'    : job_post_employment_type,
                                            'Job Functions'      : job_post_job_functions,
                                            'Job info'           : job_post_info,
                                         }, ignore_index=True)

                #print(len(job_post_right_content))
                print(job_post_name)
                print(job_post_company_name)
                print(job_post_company_location)
                print(job_post_posted_date)
                #print(f'{job_post_info}\n')
                print("")

                # if you wanna watch the job page
                # job_html = f'https://www.linkedin.com/jobs/view/{currentJobId}/' # > it's possible to use REQUESTS >>> NOPE XXXXX
                
                if i%5==0: #each 5 job post, one execution
                    tabla_izq.send_keys(Keys.PAGE_DOWN*2)
                
            except:
                error=True #if an error ocurred when the algorith tried to get a post, this loop finishs and goes to the next page
            finally:
                i+=1 # next one >>>>>>>>>>>>>>>>


df_jobs.head(10)

++++++++++++++++  data analyst +++++++++++++++++++
<class 'selenium.webdriver.remote.webelement.WebElement'>
5
125
PAGINA: 0
i:1
Data Analyst Scala H/M Promoted
https://www.linkedin.com/jobs/search/?currentJobId=1821611516&keywords=data%20analyst&location=Madrid
1821611516
Data Analyst Scala H/M
Experis IT
Madrid, Comunidad de Madrid, España
5 hours

i:2
Digital Data Analyst (Customer) Promoted
https://www.linkedin.com/jobs/search/?currentJobId=1723494932&keywords=data%20analyst&location=Madrid
1723494932
Digital Data Analyst (Customer)
JTI (Japan Tobacco International)
Madrid, ES
2 weeks

i:3
Data Analyst Promoted
https://www.linkedin.com/jobs/search/?currentJobId=1596615973&keywords=data%20analyst&location=Madrid
1596615973
Data Analyst
Nexthink
Provincia de Madrid, ES
5 days

i:4
Data Analyst Junior
https://www.linkedin.com/jobs/search/?currentJobId=1757287796&keywords=data%20analyst&location=Madrid
1757287796
Data Analyst Junior
Tempotel
Madrid, ES
1 month

i:5
Data Analyst
https://www.linkedin.com/jobs/search/?currentJobId=1819420835&keywords=data%20analyst&location=Madrid
1819420835
Data Analyst
Cigna
Madrid, ES
1 week

i:6
Senior Data Analyst, Madrid
PAGINA: 25
i:1
Analista de datos Promoted
https://www.linkedin.com/jobs/search/?currentJobId=1744889236&keywords=data%20analyst&location=Madrid&start=25
1744889236
Analista de datos
YUKON IT SPAIN & EUROPE
Madrid y alrededores
4 weeks

i:2
Data Engineer (ETL, Data Analyst and Visualization) Promoted
https://www.linkedin.com/jobs/search/?currentJobId=1768494778&keywords=data%20analyst&location=Madrid&start=25
1768494778
Data Engineer (ETL, Data Analyst and Visualization)
DBi Data Business Intelligence
Madrid Area, Spain
3 weeks

i:3
Big Data Analyst Promoted
https://www.linkedin.com/jobs/search/?currentJobId=1792790683&keywords=data%20analyst&location=Madrid&start=25
1792790683
Big Data Analyst
satec
Madrid, Comunidad de Madrid, España
3 weeks

i:4
Analista de Datos
https://www.linkedin.com/jobs/search/?currentJobId=1813920592&keywords=data%20analyst&location=Madrid&start=25
1813920592
Analista de Datos
Telefónica
Madrid, ES
1 month

i:5
Analista de datos
https://www.linkedin.com/jobs/search/?currentJobId=1783706074&keywords=data%20analyst&location=Madrid&start=25
1783706074
Analista de datos
Page Personnel
Madrid, ES
1 month

i:6
Programmatic Trader & Data Analyst
https://www.linkedin.com/jobs/search/?currentJobId=1746937390&keywords=data%20analyst&location=Madrid&start=25
1746937390
Programmatic Trader & Data Analyst
TAPTAP Digital
Madrid, ES
1 month

i:7
Programmatic Trader & Data Analyst
https://www.linkedin.com/jobs/search/?currentJobId=1675679034&keywords=data%20analyst&location=Madrid&start=25
1675679034
Programmatic Trader & Data Analyst
Tap for Tap
Madrid, ES
3 months

i:8
Data Load Analyst
https://www.linkedin.com/jobs/search/?currentJobId=1765487686&keywords=data%20analyst&location=Madrid&start=25
1765487686
Data Load Analyst
Keytree
Madrid, ES
2 months

i:9
Data Analytics Manager Madrid
https://www.linkedin.com/jobs/search/?currentJobId=1792597183&keywords=data%20analyst&location=Madrid&start=25
1792597183
Data Analytics Manager Madrid
Accenture España
Madrid, ES
1 month

i:10
Senior Consultant, Data & Analytics (Level 6)
https://www.linkedin.com/jobs/search/?currentJobId=1802884618&keywords=data%20analyst&location=Madrid&start=25
1802884618
Senior Consultant, Data & Analytics (Level 6)
Amazon Web Services (AWS)
Madrid, ES
1 month

i:11
Analista y categorización de datos Madrid (Madrid)
https://www.linkedin.com/jobs/search/?currentJobId=1802884618&keywords=data%20analyst&location=Madrid&start=25
1802884618
Senior Consultant, Data & Analytics (Level 6)
Amazon Web Services (AWS)
Madrid, ES
1 month

i:12
Data Analyst & Revenue Management (m/h) | Madrid | Proceso Cerrado
https://www.linkedin.com/jobs/search/?currentJobId=1535954112&keywords=data%20analyst&location=Madrid&start=25
1535954112
Data Analyst & Revenue Management (m/h) | Madrid | Proceso Cerrado
AIRHE Consultoría Estratégica de Recursos Humanos, Selección de Profesionales y Bienestar Laboral.
Madrid, ES
6 months

i:13
analista senior data managment
https://www.linkedin.com/jobs/search/?currentJobId=1768776717&keywords=data%20analyst&location=Madrid&start=25
1768776717
analista senior data managment
Hays
Madrid, ES
1 month

i:14
Analista de datos (Python), Madrid
https://www.linkedin.com/jobs/search/?currentJobId=1655709490&keywords=data%20analyst&location=Madrid&start=25
1655709490
Analista de datos (Python), Madrid
CMC LTD
Madrid, ES
3 months

i:15
Analista de datos, Madrid
https://www.linkedin.com/jobs/search/?currentJobId=1404383507&keywords=data%20analyst&location=Madrid&start=25
1404383507
Analista de datos, Madrid
Smartme Analytics
Madrid, ES
9 months

i:16
Analista de datos BI
PAGINA: 50
i:1
Big Data and Analytics Specialist Solutions Architect (Madrid or Paris) Promoted
https://www.linkedin.com/jobs/search/?currentJobId=1796064556&keywords=data%20analyst&location=Madrid&start=50
1796064556
Big Data and Analytics Specialist Solutions Architect (Madrid or Paris)
Amazon
Madrid, ES
2 weeks

i:2
Data Analytics Manager Madrid Promoted
https://www.linkedin.com/jobs/search/?currentJobId=1786901267&keywords=data%20analyst&location=Madrid&start=50
1786901267
Data Analytics Manager Madrid
Accenture España
Madrid, ES
3 weeks

i:3
docente analista big data y cientfico de datos
https://www.linkedin.com/jobs/search/?currentJobId=1822291988&keywords=data%20analyst&location=Madrid&start=50
1822291988
docente analista big data y cientfico de datos
Lider System Grupo - Formación y Consultoría
Getafe, ES
3 days

i:4
Data Measurement & Reporting Lead Analyst
https://www.linkedin.com/jobs/search/?currentJobId=1687697353&keywords=data%20analyst&location=Madrid&start=50
1687697353
Data Measurement & Reporting Lead Analyst
Cigna
Madrid, ES
3 months

i:5
Data Analyst Junior
https://www.linkedin.com/jobs/search/?currentJobId=1797126465&keywords=data%20analyst&location=Madrid&start=50
1797126465
Data Analyst Junior
Tempotel
Madrid, ES
1 month

i:6
Senior Data Analyst, Madrid
https://www.linkedin.com/jobs/search/?currentJobId=1797126465&keywords=data%20analyst&location=Madrid&start=50
1797126465
Data Analyst Junior
Tempotel
Madrid, ES
1 month

i:7
Data Analyst Intern
https://www.linkedin.com/jobs/search/?currentJobId=1806494044&keywords=data%20analyst&location=Madrid&start=50
1806494044
Data Analyst Intern
Ecolab España
Madrid, ES
2 weeks

i:8
Social You, S.L.: Business data analyst
https://www.linkedin.com/jobs/search/?currentJobId=1820265423&keywords=data%20analyst&location=Madrid&start=50
1820265423
Social You, S.L.: Business data analyst
Social You
Madrid, ES
4 weeks

i:9
Analista De Datos (Python), Madrid
https://www.linkedin.com/jobs/search/?currentJobId=1812956345&keywords=data%20analyst&location=Madrid&start=50
1812956345
Analista De Datos (Python), Madrid
Grupo CMC
Madrid, ES
1 week

i:10
Analista de datos
https://www.linkedin.com/jobs/search/?currentJobId=1784192362&keywords=data%20analyst&location=Madrid&start=50
1784192362
Analista de datos
Michael Page
Madrid, ES
1 month

i:11
Senior Data Analyst
PAGINA: 75
i:1
Data Analyst
https://www.linkedin.com/jobs/search/?currentJobId=1793008025&keywords=data%20analyst&location=Madrid&start=75
1793008025
Data Analyst
Parallel
Madrid, ES
3 weeks

i:2
Senior Data Analyst, Madrid
https://www.linkedin.com/jobs/search/?currentJobId=1821998629&keywords=data%20analyst&location=Madrid&start=75
1821998629
Senior Data Analyst, Madrid
Farmacias Trebol
Provincia de Madrid, ES
3 days

i:3
Business Data & Operations Analyst
https://www.linkedin.com/jobs/search/?currentJobId=1808212653&keywords=data%20analyst&location=Madrid&start=75
1808212653
Business Data & Operations Analyst
Enghouse Interactive
Madrid, ES
2 weeks

i:4
Senior Data Analyst, Madrid
https://www.linkedin.com/jobs/search/?currentJobId=1810136176&keywords=data%20analyst&location=Madrid&start=75
1810136176
Senior Data Analyst, Madrid
Farmacias Trebol
Provincia de Madrid, ES
1 week

i:5
Data Analytics Consultant
https://www.linkedin.com/jobs/search/?currentJobId=1538485742&keywords=data%20analyst&location=Madrid&start=75
1538485742
Data Analytics Consultant
Making Science
Madrid, ES
6 months

i:6
Senior Data Analyst, Madrid
https://www.linkedin.com/jobs/search/?currentJobId=1538485742&keywords=data%20analyst&location=Madrid&start=75
1538485742
Data Analytics Consultant
Making Science
Madrid, ES
6 months

i:7
Data Analyst Intern
https://www.linkedin.com/jobs/search/?currentJobId=1805141598&keywords=data%20analyst&location=Madrid&start=75
1805141598
Data Analyst Intern
Ecolab Eña
Madrid, ES
2 weeks

i:8
Senior Data Analyst, Madrid
https://www.linkedin.com/jobs/search/?currentJobId=1807073037&keywords=data%20analyst&location=Madrid&start=75
1807073037
Senior Data Analyst, Madrid
Farmacias Trebol
Provincia de Madrid, ES
2 weeks

i:9
Internship Data Analytics
https://www.linkedin.com/jobs/search/?currentJobId=1298845523&keywords=data%20analyst&location=Madrid&start=75
1298845523
Internship Data Analytics
Easy Virtual Fair
Madrid, ES
10 months

i:10
Senior Data Analyst, Madrid
https://www.linkedin.com/jobs/search/?currentJobId=1816787817&keywords=data%20analyst&location=Madrid&start=75
1816787817
Senior Data Analyst, Madrid
Farmacias Trebol
Provincia de Madrid, ES
1 week

i:11
Data Analyst
https://www.linkedin.com/jobs/search/?currentJobId=1816787817&keywords=data%20analyst&location=Madrid&start=75
1816787817
Senior Data Analyst, Madrid
Farmacias Trebol
Provincia de Madrid, ES
1 week

i:12
Senior Data Analyst, Madrid
https://www.linkedin.com/jobs/search/?currentJobId=1814730857&keywords=data%20analyst&location=Madrid&start=75
1814730857
Senior Data Analyst, Madrid
Farmacias Trebol
Provincia de Madrid, ES
1 week

i:13
Data Analyst
https://www.linkedin.com/jobs/search/?currentJobId=1795731582&keywords=data%20analyst&location=Madrid&start=75
1795731582
Data Analyst
MSX International Techservices S.L.
Madrid, ES
1 month

i:14
Senior Data Analyst, Madrid
https://www.linkedin.com/jobs/search/?currentJobId=1811498586&keywords=data%20analyst&location=Madrid&start=75
1811498586
Senior Data Analyst, Madrid
Farmacias Trebol
Provincia de Madrid, ES
1 week

i:15
Analista senior de datos móviles (H/M)
https://www.linkedin.com/jobs/search/?currentJobId=1811275372&keywords=data%20analyst&location=Madrid&start=75
1811275372
Analista senior de datos móviles (H/M)
Eurofirms
Madrid, ES
1 week

i:16
Senior Data Analyst, Madrid
https://www.linkedin.com/jobs/search/?currentJobId=1811275372&keywords=data%20analyst&location=Madrid&start=75
1811275372
Analista senior de datos móviles (H/M)
Eurofirms
Madrid, ES
1 week

i:17
Analista de Datos
https://www.linkedin.com/jobs/search/?currentJobId=1801229644&keywords=data%20analyst&location=Madrid&start=75
1801229644
Analista de Datos
Keepler Data Tech
Madrid, ES
2 weeks

i:18
Senior Data Analyst, Madrid
https://www.linkedin.com/jobs/search/?currentJobId=1819399165&keywords=data%20analyst&location=Madrid&start=75
1819399165
Senior Data Analyst, Madrid
Farmacias Trebol
Provincia de Madrid, ES
5 days

i:19
Junior Consultant Data Analytics
https://www.linkedin.com/jobs/search/?currentJobId=1298846568&keywords=data%20analyst&location=Madrid&start=75
1298846568
Junior Consultant Data Analytics
Easy Virtual Fair
Madrid, ES
10 months

i:20
BI Developer/Data Analyst
https://www.linkedin.com/jobs/search/?currentJobId=1685155485&keywords=data%20analyst&location=Madrid&start=75
1685155485
BI Developer/Data Analyst
Lola Market
Madrid, ES
3 months

i:21
Senior Data Analyst, Madrid
https://www.linkedin.com/jobs/search/?currentJobId=1823537519&keywords=data%20analyst&location=Madrid&start=75
1823537519
Senior Data Analyst, Madrid
Farmacias Trebol
Provincia de Madrid, ES
2 days

i:22
Data Analyst
https://www.linkedin.com/jobs/search/?currentJobId=1816554666&keywords=data%20analyst&location=Madrid&start=75
1816554666
Data Analyst
Es3 Esp Cigna European Services
Madrid, ES
1 week

i:23
Finance Data Analyst En Madrid
https://www.linkedin.com/jobs/search/?currentJobId=1820238516&keywords=data%20analyst&location=Madrid&start=75
1820238516
Finance Data Analyst En Madrid
Ing
Madrid, ES
6 days

i:24
Data Analyst
https://www.linkedin.com/jobs/search/?currentJobId=1750698387&keywords=data%20analyst&location=Madrid&start=75
1750698387
Data Analyst
Orbital Ads
Madrid, ES
1 month

i:25
Data Analyst + Data Engineering posición mixta
https://www.linkedin.com/jobs/search/?currentJobId=1723959999&keywords=data%20analyst&location=Madrid&start=75
1723959999
Data Analyst + Data Engineering posición mixta
Talento, Innovación y Desarrollo, S.L.
Madrid, ES
2 months

PAGINA: 100
i:1
++++++++++++++++  data analyst +++++++++++++++++++
<class 'selenium.webdriver.remote.webelement.WebElement'>
15
375
PAGINA: 0
i:1
Data Scientist & Project Administrator Promoted
https://www.linkedin.com/jobs/search/?currentJobId=1800986416&keywords=data%20scientist&location=Madrid
1800986416
Data Scientist & Project Administrator
CHEP
Madrid, ES
5 hours

i:2
Data Analyst Scala H/M Promoted
https://www.linkedin.com/jobs/search/?currentJobId=1821611516&keywords=data%20scientist&location=Madrid
1821611516
Data Analyst Scala H/M
Experis IT
Madrid, Comunidad de Madrid, España
5 hours

i:3
Full time Internship Data Scientist-Client Services Promoted
https://www.linkedin.com/jobs/search/?currentJobId=1817572532&keywords=data%20scientist&location=Madrid
1817572532
Full time Internship Data Scientist-Client Services
IQVIA Spain
Madrid y alrededores, España
1 week

i:4
Data Analyst Junior
https://www.linkedin.com/jobs/search/?currentJobId=1757287796&keywords=data%20scientist&location=Madrid
1757287796
Data Analyst Junior
Tempotel
Madrid, ES
1 month

i:5
Data Analyst
https://www.linkedin.com/jobs/search/?currentJobId=1819420835&keywords=data%20scientist&location=Madrid
1819420835
Data Analyst
Cigna
Madrid, ES
1 week

i:6
Senior Data Analyst, Madrid
https://www.linkedin.com/jobs/search/?currentJobId=1819420835&keywords=data%20scientist&location=Madrid
1819420835
PAGINA: 25
i:1
Senior Data Scientist (AWS) Promoted
https://www.linkedin.com/jobs/search/?currentJobId=1785055076&keywords=data%20scientist&location=Madrid&start=25
1785055076
Senior Data Scientist (AWS)
Keepler Data Tech
Madrid y alrededores
3 weeks

i:2
Data Scientist I+D+I Python Promoted
https://www.linkedin.com/jobs/search/?currentJobId=1813615308&keywords=data%20scientist&location=Madrid&start=25
1813615308
Data Scientist I+D+I Python
Quental
Boadilla del Monte, Comunidad de Madrid, España
6 days

i:3
Consultor Data Scientist Promoted
https://www.linkedin.com/jobs/search/?currentJobId=1793291346&keywords=data%20scientist&location=Madrid&start=25
1793291346
Consultor Data Scientist
Bip Spain
Madrid y alrededores, España
1 week

i:4
Data Scientist Junior
https://www.linkedin.com/jobs/search/?currentJobId=1822293096&keywords=data%20scientist&location=Madrid&start=25
1822293096
Data Scientist Junior
Open Sistemas
Madrid, ES
3 days

i:5
DATA SCIENTIST
https://www.linkedin.com/jobs/search/?currentJobId=1787912084&keywords=data%20scientist&location=Madrid&start=25
1787912084
DATA SCIENTIST
SEBASTIÁN CONSULTORES
Madrid, ES
4 weeks

i:6
Data Scientist
https://www.linkedin.com/jobs/search/?currentJobId=1794127974&keywords=data%20scientist&location=Madrid&start=25
1794127974
Python Data Analyst
Aplazame
Madrid, Community of Madrid, Spain
6 days

i:7
Python Data Analyst
https://www.linkedin.com/jobs/search/?currentJobId=1794127974&keywords=data%20scientist&location=Madrid&start=25
1794127974
Python Data Analyst
Aplazame
Madrid, Community of Madrid, Spain
6 days

i:8
Data Scientist
https://www.linkedin.com/jobs/search/?currentJobId=1754232529&keywords=data%20scientist&location=Madrid&start=25
1754232529
Data Scientist
Unlimiteck | Open Innovation
Madrid, ES
1 month

i:9
Data Scientist
https://www.linkedin.com/jobs/search/?currentJobId=1481247261&keywords=data%20scientist&location=Madrid&start=25
1481247261
Data Scientist
Alstom
Madrid, ES
7 months

i:10
Data Scientist
https://www.linkedin.com/jobs/search/?currentJobId=1659285650&keywords=data%20scientist&location=Madrid&start=25
1659285650
Data Scientist
zooplus
Madrid, ES
2 months

i:11
DATA SCIENCE
https://www.linkedin.com/jobs/search/?currentJobId=1768494778&keywords=data%20scientist&location=Madrid&start=25
1768494778
Data Engineer (ETL, Data Analyst and Visualization)
DBi Data Business Intelligence
Madrid Area, Spain
3 weeks

i:12
Data Scientist
https://www.linkedin.com/jobs/search/?currentJobId=1560384217&keywords=data%20scientist&location=Madrid&start=25
1560384217
Data Scientist
Malthus Darwin
Madrid, ES
6 months

i:13
Data Scientist
https://www.linkedin.com/jobs/search/?currentJobId=1630928060&keywords=data%20scientist&location=Madrid&start=25
1630928060
Data Scientist
Logicalis
Madrid, ES
4 months

i:14
Data Engineer (ETL, Data Analyst and Visualization)
https://www.linkedin.com/jobs/search/?currentJobId=1768494778&keywords=data%20scientist&location=Madrid&start=25
1768494778
Data Engineer (ETL, Data Analyst and Visualization)
DBi Data Business Intelligence
Madrid Area, Spain
3 weeks

i:15
Programmatic Trader & Data Analyst
https://www.linkedin.com/jobs/search/?currentJobId=1675679034&keywords=data%20scientist&location=Madrid&start=25
1675679034
Programmatic Trader & Data Analyst
Tap for Tap
Madrid, ES
3 months

i:16
Data Scientist & Analytics CRM
https://www.linkedin.com/jobs/search/?currentJobId=1675679034&keywords=data%20scientist&location=Madrid&start=25
1675679034
Programmatic Trader & Data Analyst
Tap for Tap
Madrid, ES
3 months

i:17
Data Science R y Python
https://www.linkedin.com/jobs/search/?currentJobId=1810055462&keywords=data%20scientist&location=Madrid&start=25
1810055462
Data Science R y Python
Gfi España
Madrid y alrededores, España
1 week

i:18
Programmatic Trader & Data Analyst
https://www.linkedin.com/jobs/search/?currentJobId=1746937390&keywords=data%20scientist&location=Madrid&start=25
1746937390
Programmatic Trader & Data Analyst
TAPTAP Digital
Madrid, ES
1 month

i:19
Data Engineer - SQL / Big Data / Cloud
https://www.linkedin.com/jobs/search/?currentJobId=1738965127&keywords=data%20scientist&location=Madrid&start=25
1738965127
Data Engineer - SQL / Big Data / Cloud
Denodo
Madrid, ES
1 month

i:20
Data Scientist - NLP & Computer Vision
https://www.linkedin.com/jobs/search/?currentJobId=1779339415&keywords=data%20scientist&location=Madrid&start=25
1779339415
Data Scientist - NLP & Computer Vision
Altran
Madrid, ES
2 weeks

i:21
Data Science
PAGINA: 50
i:1
ES- Consultor Big Data | AWS Promoted
https://www.linkedin.com/jobs/search/?currentJobId=1737039929&keywords=data%20scientist&location=Madrid&start=50
1737039929
ES- Consultor Big Data | AWS
Devoteam
Madrid, ES
1 week

i:2
Big Data Architect Promoted
https://www.linkedin.com/jobs/search/?currentJobId=1712815769&keywords=data%20scientist&location=Madrid&start=50
1712815769
Big Data Architect
everis
Madrid y alrededores, España
2 weeks

i:3
Big Data Engineer Promoted
https://www.linkedin.com/jobs/search/?currentJobId=1530613115&keywords=data%20scientist&location=Madrid&start=50
1530613115
Big Data Engineer
ADEREN
Madrid, Comunidad de Madrid, España
3 weeks

i:4
Business Analyst BIG DATA Qaracter
https://www.linkedin.com/jobs/search/?currentJobId=1783166890&keywords=data%20scientist&location=Madrid&start=50
1783166890
Business Analyst BIG DATA Qaracter
qaracter
Madrid, ES
1 month

i:5
Data Scientist
https://www.linkedin.com/jobs/search/?currentJobId=1734623656&keywords=data%20scientist&location=Madrid&start=50
1734623656
Data Scientist
e-Frontiers Ltd
Madrid, ES
4 weeks

i:6
Big Data Technical Lead
PAGINA: 75
i:1
Cloud operations Senior Engineer (Big Data) Promoted
https://www.linkedin.com/jobs/search/?currentJobId=1776819643&keywords=data%20scientist&location=Madrid&start=75
1776819643
Cloud operations Senior Engineer (Big Data)
ERNI
Madrid y alrededores
2 weeks

i:2

,JOB TITLE,LOCATION,SEARCH DATETIME,Current Job Id,Job name,Company name,Company location,Posted date,Estimated post date,Easy apply,Skills match,Seniority Level,Industry,Employment Type,Job Functions,Job info
0,data analyst,Madrid,2020-04-14 22:04:53.504050,1821611516,Data Analyst Scala H/M,Experis IT,"Madrid, Comunidad de Madrid, España",5 hours,2020-04-14 17:04:53.504050,True,NaN,Mid-Senior level,Information Services Telecommunications Banking,Full-time,Information Technology Consulting Project Mana...,New\nPosted Date\nPosted 5 hours ago\nNumber o...
1,data analyst,Madrid,2020-04-14 22:04:53.504050,1723494932,Digital Data Analyst (Customer),JTI (Japan Tobacco International),"Madrid, ES",2 weeks,2020-03-31 22:04:53.504050,False,NaN,Associate,Consumer Goods Food & Beverages Tobacco,Full-time,Information Technology,Posted Date\nPosted 2 weeks ago\nNumber of vie...
2,data analyst,Madrid,2020-04-14 22:04:53.504050,1596615973,Data Analyst,Nexthink,"Provincia de Madrid, ES",5 days,2020-04-09 22:04:53.504050,True,NaN,Mid-Senior level,Information Technology & Services Computer Sof...,Full-time,Customer Service,Posted Date\nPosted 5 days ago\nNumber of view...
3,data analyst,Madrid,2020-04-14 22:04:53.504050,1757287796,Data Analyst Junior,Tempotel,"Madrid, ES",1 month,2020-03-17 22:04:53.504050,False,NaN,Associate,Marketing & Advertising Staffing & Recruiting ...,Full-time,Information Technology,Posted Date\nPosted 1 month ago\nNumber of vie...
4,data analyst,Madrid,2020-04-14 22:04:53.504050,1819420835,Data Analyst,Cigna,"Madrid, ES",1 week,2020-04-07 22:04:53.504050,False,NaN,Entry level,Insurance Financial Services Hospital & Health...,Full-time,Information Technology,Posted Date\nPosted 1 week ago\nNumber of view...
5,data analyst,Madrid,2020-04-14 22:04:53.504050,1744889236,Analista de datos,YUKON IT SPAIN & EUROPE,Madrid y alrededores,4 weeks,2020-03-17 22:04:53.504050,True,NaN,Associate,Information Technology & Services Telecommunic...,Full-time,Information Technology Engineering,Posted Date\nPosted 4 weeks ago\nNumber of vie...
6,data analyst,Madrid,2020-04-14 22:04:53.504050,1768494778,"Data Engineer (ETL, Data Analyst and Visualiza...",DBi Data Business Intelligence,"Madrid Area, Spain",3 weeks,2020-03-24 22:04:53.504050,True,NaN,Associate,Marketing & Advertising Computer Software,Full-time,Advertising Marketing,Posted Date\nPosted 3 weeks ago\nNumber of vie...
7,data analyst,Madrid,2020-04-14 22:04:53.504050,1792790683,Big Data Analyst,satec,"Madrid, Comunidad de Madrid, España",3 weeks,2020-03-24 22:04:53.504050,True,NaN,Mid-Senior level,Information Technology & Services,Full-time,Information Technology Analyst Design,Posted Date\nPosted 3 weeks ago\nNumber of vie...
8,data analyst,Madrid,2020-04-14 22:04:53.504050,1813920592,Analista de Datos,Telefónica,"Madrid, ES",1 month,2020-03-17 22:04:53.504050,False,NaN,Entry level,Information Technology & Services Telecommunic...,Full-time,Information Technology,Posted Date\nPosted 1 month ago\nNumber of vie...
9,data analyst,Madrid,2020-04-14 22:04:53.504050,1783706074,Analista de datos,Page Personnel,"Madrid, ES",1 month,2020-03-17 22:04:53.504050,False,NaN,Entry level,Electrical & Electronic Manufacturing Machiner...,Full-time,Information Technology,Posted Date\nPosted 1 month ago\nNumber of vie...

In [337]:
df_jobs.shape

(306, 16)

In [338]:
now_file = now_str.replace(':','.')
now_file

'2020-04-14-22.04'

In [339]:
df_jobs.to_csv(f'..\\data\\raw\\df_{job_title_df}_{location}_{now_file}')

## TESTING:

In [ ]:
df_jobs[df_jobs['Company name']=='']

In [ ]:
df_jobs[df_jobs['Easy apply']==True]

In [ ]:
df_jobs[df_jobs['Current Job Id']=='1772020331'].iloc[0,14]

In [ ]:
' skills match\n' in df_jobs[df_jobs['Current Job Id']=='1772020331'].iloc[0,14]

In [ ]:
rigth = browser.find_element_by_xpath('/html/body/div[5]/div[4]/div[3]/section[1]/div[2]/div/div/div[2]').text

In [ ]:
rigth

In [ ]:
rigth.split(' ago',1)[0].split('Posted Date\nPosted ')[1]

In [ ]:
rigth.split('Save\n',1)[1].split('\n',2)[1]

In [ ]:
df_jobs.shape

In [ ]:
df_jobs.dtypes

In [ ]:
df_jobs.iloc[0,6].split(' ago',1)[0].split('Posted Date\nPosted ')[1]

In [ ]:
df_jobs.iloc[0,6]

***
## PUENTE

In [ ]:
#location_input = input("PLEASE ENTER THE LOCATION WHERE YOU'D LIKE TO SEARCH: ")
location_input = 'berlin'

In [ ]:
location = location_input.capitalize()
location

In [ ]:
#job_title_input = input("PLEASE ENTER THE JOB THAT YOU'D LIKE TO SEARCH: ")
job_title_input = 'data analyst'

In [ ]:
job_title_df = job_title_input.lower()
job_title_s    = job_title_input.lower().replace(' ', '%20')
job_title_s

#### >>> GO TO > JOB SEARCH :

*** 
# OLD TESTING
***

In [ ]:
#tabla_grande = \
#browser.find_element_by_xpath("/html/body/div[5]/div[4]/div[3]/section[1]/div[2]/div/div")

#                               html/body/div[5]/div[4]/div[3]/section[1]/div[2]
#                               /html/body/div[5]/div[4]/div[3]/section[1]/div[2]/div/div/div[1]

In [ ]:
#Taking table of job posts
try:
    tabla_izq = \
    browser.find_element_by_xpath("/html/body/div[5]/div[4]/div[3]/section[1]/div[2]/div/div/div[1]")
                                  #/html/body/div[6]/div[4]/div[3]/section[1]/div[2]/div/div/div[1]
                                  #/html/body/div[6]/div[4]/div[3]/section[1]/div[2]/div/div/div[1]/div[2]
                                  #/html/body/div[5]/div[4]/div[3]/section[1]/div[2]/div/div/div[1]/div[2]
    #browser.find_element_by_class_name("jobs-search-two-pane__results display-flex")
    #                              /html/body/div[5]/div[4]/div[3]/section[1]/div[2]/div/div/div[1]
except:
    tabla_izq = \
    browser.find_element_by_xpath("/html/body/div[6]/div[4]/div[3]/section[1]/div[2]/div/div/div[1]")
    
time.sleep(0.5)
tabla_izq.text

In [ ]:
tabla_izq.text.split('\n')

In [ ]:
current_p = int(browser.current_url.split('&start=')[1])//25+1
current_p

In [ ]:
#are_you = browser.find_element_by_class_name("jobs-search-feedback-card")
#are_you.is_enabled()

In [ ]:
#for last page there is another logic (not 'Close')
if current_p < n_pages:
    job_list = tabla_izq.text.split('Manage alerts\n')[1].split('Close\n')[0].split('ago')
else:
    job_list = \
    tabla_izq.text.split('Manage alerts\n')[1].split('Close\n')[0].split('Create alert for this search\n')[0].split('ago')

n_job_list = len(job_list)-1
print(n_job_list) 
job_list

In [ ]:
# TESTING - clicking one selected job
n = n_job_list # max 25

# Selecting job post in order
try:
    job_post = browser.find_element_by_xpath\
    (f'/html/body/div[5]/div[4]/div[3]/section[1]/div[2]/div/div/div[1]/div[2]/div/ul/li[{n}]/div/artdeco-entity-lockup/artdeco-entity-lockup-content/h3/a')
except:
    job_post = browser.find_element_by_xpath\
    (f'/html/body/div[6]/div[4]/div[3]/section[1]/div[2]/div/div/div[1]/div[2]/div/ul/li[{n}]/div/artdeco-entity-lockup/artdeco-entity-lockup-content/h3/a')
#     /html/body/div[5]/div[4]/div[3]/section[1]/div[2]/div/div/div[1]/div[2]/div/ul/li[1]/div/artdeco-entity-lockup/artdeco-entity-lockup-content/h3/a
#  (f'/html/body/div[5]/div[4]/div[3]/section[1]/div[2]/div/div/div[1]/div[2]/div/ul/li[{n}]')
job_post.click()

# Getting job post ID
currentJobId = browser.current_url.split('currentJobId=')[1].split('&')[0]
#currentJobId = browser.current_url.split('?')[1].split('&')[0].split('=')[1]
print(currentJobId)

# Extracting job information
try:
    job_post_right = browser.find_element_by_xpath\
        ('/html/body/div[5]/div[4]/div[3]/section[1]/div[2]/div/div/div[2]')
except:
    job_post_right = browser.find_element_by_xpath\
        ('/html/body/div[6]/div[4]/div[3]/section[1]/div[2]/div/div/div[2]')
job_post_right_content = job_post_right.text.split('\n',16)
print(len(job_post_right_content))
print(f'{job_post_right_content}')
#print(f'{job_post_right.text.split('\n',15)}')

# 200402 21.00 (Session info: chrome=80.0.3987.162)
# 200403 21.00 (Session info: chrome=80.0.3987.162)
# 200404 17.00  (Session info: chrome=80.0.3987.162)

In [ ]:
list(range(0,n_pages*25,25))

In [ ]:
browser.get_log

In [ ]:
izq = browser.find_element_by_class_name('jobs-search-results jobs-search-results--is-two-pane')
izq.text()

In [ ]:
tabla_izq.text

In [ ]:
import requests
from bs4 import BeautifulSoup

In [ ]:
#with requests.Session() as s:

with requests.Session() as session:
    
    response = session.get(LOGIN_URL)
    session = session.cookies.get_dict()
    bcookie = session.get('bcookie')
    print(bcookie)
    cookie = bcookie.split('&')[1].split('"')[0]
    print(f'\n{cookie}')
    
    LoginCsrfParam   = cookie
    Session_key      = "cristopher.rojas.lepe@gmail.com" # "cristopher.rojas.lepe%40gmail.com"
    Session_password = "M3t4n01@" # "M3t4n01%40"
    Session_redirect = "https%3A%2F%2Fwww.linkedin.com%2Fjobs" # "https://www.linkedin.com/jobs" #"https%3A%2F%2Fwww.linkedin.com%2Fjobs"
    Trk              = "guest_homepage-jobseeker_sign-in-submit"
    
    payload = {'loginCsrfParam'  : LoginCsrfParam,
               'session_key'     : Session_key,
               'session_password': Session_password,
               'session_redirect': Session_redirect,
               'trk'             : Trk
              }
    print(f'\n{payload}')
    p = requests.post(LOGIN_URL, data = payload)  
    #p = session.post(LOGIN_URL, data = payload) 
    # print the html returned or something more intelligent to see if it's a successful login page.
    print(f'\n{p.content}')
    soup = BeautifulSoup(p.content,'html.parser')
    print(f'\n{soup}')

    # An authorised request.
#     r = s.get('A protected web page url')
#     print r.text