# Step 1: ACQUIRE DATA

In [1]:
from selenium import webdriver
from selenium.webdriver.common.action_chains import ActionChains
from selenium.webdriver.common.keys import Keys
from selenium.common.exceptions import ElementClickInterceptedException
import os
from dotenv import load_dotenv
import time
import re
import pandas as pd
from datetime import datetime, timedelta

> ## SEARCH

In [2]:
#job_title_input = input("PLEASE ENTER THE JOB THAT YOU'D LIKE TO SEARCH: ")
job_title_input = 'data scientist'

In [3]:
job_title_df = job_title_input.lower()
job_title_s  = job_title_input.lower().replace(' ', '%20')
job_title_s

'data%20scientist'

In [4]:
# geoId="100994331"

> ## WEB SCRAPPING

### SELENIUM >

In [5]:
#import requests
#from bs4 import BeautifulSoup

#### DRIVER PATH:

In [6]:
#LINUX
#os.environ['PATH'] = f'{os.environ["PATH"]}:/home/cristopherrl/Documents/program/selenium/drivers/'
#WINDOWS
os.environ['PATH'] = f'{os.environ["PATH"]};C:\\Users\\x385645\\Documents\\Selenium'

In [7]:
os.environ['PATH']

'C:\\Users\\x385645\\AppData\\Local\\Continuum\\anaconda3\\envs\\final_project;C:\\Users\\x385645\\AppData\\Local\\Continuum\\anaconda3\\envs\\final_project\\Library\\mingw-w64\\bin;C:\\Users\\x385645\\AppData\\Local\\Continuum\\anaconda3\\envs\\final_project\\Library\\usr\\bin;C:\\Users\\x385645\\AppData\\Local\\Continuum\\anaconda3\\envs\\final_project\\Library\\bin;C:\\Users\\x385645\\AppData\\Local\\Continuum\\anaconda3\\envs\\final_project\\Scripts;C:\\Users\\x385645\\AppData\\Local\\Continuum\\anaconda3\\envs\\final_project\\bin;C:\\Users\\x385645\\AppData\\Local\\Continuum\\anaconda3\\condabin;C:\\ARQDISP;C:\\PROGRA~1\\7-ZIP;C:\\PROGRAM FILES (X86)\\IBM\\TRACE FACILITY;C:\\PROGRAM FILES (X86)\\IBM\\PERSONAL COMMUNICATIONS;C:\\PROGRAM FILES (X86)\\JAVA\\JRE1.8.0_91\\BIN\\CLIENT;C:\\PROGRAMDATA\\ORACLE\\JAVA\\JAVAPATH;C:\\WINDOWS\\SYSTEM32;C:\\WINDOWS;C:\\WINDOWS\\SYSTEM32\\WBEM;C:\\WINDOWS\\SYSTEM32\\WINDOWSPOWERSHELL\\V1.0;.;C:\\WINDOWS\\system32;C:\\WINDOWS;C:\\WINDOWS\\System32\\Wbem;C:\\WINDOWS\\System32\\WindowsPowerShell\\v1.0;C:\\WINDOWS\\System32\\OpenSSH;C:\\Users\\x385645\\AppData\\Local\\Microsoft\\WindowsApps;C:\\Users\\x385645\\AppData\\Local\\Programs\\Azure Data Studio\\bin;C:\\Users\\x385645\\AppData\\Local\\Programs\\Git\\cmd;C:\\Users\\x385645\\Documents\\Selenium'

#### .ENV PATH:

In [8]:
load_dotenv(dotenv_path='../.env')

True

#### SIGN IN:

In [9]:
browser = webdriver.Chrome()
URL = 'https://www.linkedin.com/login'
browser.get(URL)

In [10]:
SECRET_USER = os.getenv("SESSION_KEY")
SECRET_PASS = os.getenv("SESSION_PASSWORD")

In [11]:
# user box
user     = browser.find_element_by_xpath('/html/body/div/main/div/form/div[1]/input')
user.send_keys(SECRET_USER)
time.sleep(1)

In [12]:
# password box
password = browser.find_element_by_xpath('/html/body/div/main/div/form/div[2]/input')
password.send_keys(SECRET_PASS)
time.sleep(1)

In [13]:
#sign_in  = browser.find_element_by_xpath('/html/body/div/main/div/form/div[3]/button')
# sign in button
sign_in  = browser.find_element_by_class_name('login__form_action_container')
sign_in.click()
time.sleep(1)

In [14]:
browser.maximize_window()

***
***
#### LINKEDIN PROFILE :

In [201]:
# Click on profile button (up-rigth)
profile = browser.find_element_by_id('profile-nav-item')
#profile = browser.find_element_by_xpath('/html/body/header/div/nav/ul/li[6]/div/artdeco-dropdown/artdeco-dropdown-trigger/div')
profile.click()

In [202]:
# Click on View profile button
#link_profile = browser.find_element_by_xpath('/html/body/header/div/nav/ul/li[6]/div/artdeco-dropdown/artdeco-dropdown-content/div/ul/li[1]/a/div[2]/span')
link_profile = browser.find_element_by_xpath("//span[@class='artdeco-button artdeco-button--tertiary artdeco-button--fluid']")
link_profile.click()

#### Profile page >

In [203]:
html_body = browser.find_element_by_xpath ('/html/body')
html_body.send_keys(Keys.PAGE_DOWN)
time.sleep(0.5)

In [204]:
browser.current_url

'https://www.linkedin.com/in/cristopherrojaslepe/'

In [205]:
linkedin_profile = browser.current_url.split('/')[4]
linkedin_profile

'cristopherrojaslepe'

#### Headline:

In [206]:
# Getting HEADLINE table
profile_headline = browser.find_element_by_xpath("//h2[@class='mt1 t-18 t-black t-normal']")
headline = profile_headline.text.lower()
headline

'data scientist & analyst | python | pandas | numpy | matplotlib | web scrapping | machine learning | tableau | sql | git'

In [207]:
#try:
#if browser.find_element_by_xpath\
#    ('/html/body/div[6]/div[4]/div[3]/div/div/div/div/div[2]/main/div[1]/section/div[2]/div[2]/div[1]/h2'):
#    profile_headline = browser.find_element_by_xpath\
#    ('/html/body/div[6]/div[4]/div[3]/div/div/div/div/div[2]/main/div[1]/section/div[2]/div[2]/div[1]/h2')
#    # /html/body/div[6]/div[4]/div[3]/div/div/div/div/div[2]/main/div[1]/section/div[2]/div[2]/div[1]/h2
#    print('opcion 1')#
#
#elif   browser.find_element_by_xpath\
#    ('/html/body/div[5]/div[3]/div[3]/div/div/div/div/div[2]/main/div[1]/section/div[2]/div[2]/div[1]/h2'):
#    profile_headline = browser.find_element_by_xpath\
#    ('/html/body/div[5]/div[3]/div[3]/div/div/div/div/div[2]/main/div[1]/section/div[2]/div[2]/div[1]/h2')
#    print('opcion 2')#
#
##except:
#elif browser.find_element_by_xpath\
#    ('/html/body/div[5]/div[4]/div[3]/div/div/div/div/div[2]/main/div[1]/section/div[2]/div[2]/div[1]/h2'):
#    profile_headline = browser.find_element_by_xpath\
#    ('/html/body/div[5]/div[4]/div[3]/div/div/div/div/div[2]/main/div[1]/section/div[2]/div[2]/div[1]/h2')
#    print('opcion 3')
#    
#profile_headline.text

In [208]:
profile_open = browser.find_element_by_xpath("//artdeco-carousel-content[@class='artdeco-carousel__content']")
print(profile_open.text)

if profile_open.text.split(" ")[0] == 'Open':
    open_status = True
else:
    open_status = False
open_status

Open to job opportunities
Data Analyst, Data Scientist and Business Analyst roles
See all details
Only recruiters

True

#### About:

In [209]:
# show MORE > button "see more "
profile_show_about = browser.find_element_by_xpath("//span[@class='lt-line-clamp__line lt-line-clamp__line--last']")
ActionChains(browser).move_to_element(profile_show_about).perform()
profile_show_about.click()

In [210]:
# Getting HEADLINE table
profile_about = browser.find_element_by_xpath("//p[@class='pv-about__summary-text mt4 t-14 ember-view']")
about = profile_about.text.lower()
about

'data scientist & analyst and industrial engineer, 7 years of experience in data analysis, project management, process management and business intelligence.\n\ngreat motivation and knowledge in data science and innovation. high analytic, problem solving skill and focused on achievements.\n\ngood learning capacity with high disposition to teach and concerned about good labour relations.\n\ni am interested in taking part of teams who want to take on new challenges.'

#### Job experience:

In [211]:
html_body.send_keys(Keys.PAGE_DOWN * 5)
time.sleep(0.2)
html_body.send_keys(Keys.PAGE_DOWN * 5)
time.sleep(0.2)

In [212]:
# id='profile-content' >>   /html/body/div[5]/div[4]/div[3]
# class='profile-detail' >> /html/body/div[5]/div[4]/div[3]/div/div/div/div/div[2]/main/div[7]
#/html/body/div[5]/div[4]/div[3]/div/div/div/div/div[2]/main/div[7]/div[2]/span/div/section/div[1]

In [213]:
# show more experiences
#try:    
#if   browser.find_element_by_xpath('/html/body/div[5]/div[4]/div[3]/div/div/div/div/div[2]/main/div[7]/div[2]/span/div/section/div[1]/section/div/button'):
#                                   #/html/body/div[5]/div[4]/div[3]/div/div/div/div/div[2]/main/div[7]/div[2]/span/div/section/div[1]/section/div/button
#    profile_show_experience = browser.find_element_by_xpath('/html/body/div[5]/div[4]/div[3]/div/div/div/div/div[2]/main/div[7]/div[2]/span/div/section/div[1]/section/div/button')
#    print(1)
##except:
#elif browser.find_element_by_xpath('/html/body/div[5]/div[3]/div[3]/div/div/div/div/div[2]/main/div[7]/div[2]/span/div/section/div[1]/section/div/button'):
#    profile_show_experience = browser.find_element_by_xpath ('/html/body/div[5]/div[3]/div[3]/div/div/div/div/div[2]/main/div[7]/div[2]/span/div/section/div[1]/section/div/button')
#    print(2)
#    #actions = ActionChains(browser)
#    #actions.move_to_element(profile_show_experience).perform()##
#
##except:
#    #actions = ActionChains(browser)
#    #actions.move_to_element(profile_show_experience).perform()
#time.sleep(1)

In [214]:
# show MORE experiences > button "show more experience"
profile_show_experience = browser.find_element_by_xpath\
("//button[@class='pv-profile-section__see-more-inline pv-profile-section__text-truncate-toggle link link-without-hover-state']")
ActionChains(browser).move_to_element(profile_show_experience).perform()
profile_show_experience.click()
html_body.send_keys(Keys.PAGE_UP)

In [215]:
#try:
#  # Tries to click an element
#  profile_show_experience.click()
#except ElementClickInterceptedException:
#  # Use Javascript to scroll down to bottom of page
#  browser.execute_script("window.scrollTo(0, document.body.scrollHeight);")

In [216]:
# experiences > text
#if browser.find_element_by_xpath('/html/body/div[5]/div[4]/div[3]/div/div/div/div/div[2]/main/div[7]/div[2]/span/div/section/div[1]'):
#    profile_experience = browser.find_element_by_xpath\
#    ('/html/body/div[5]/div[4]/div[3]/div/div/div/div/div[2]/main/div[7]/div[2]/span/div/section/div[1]')##
#
#elif browser.find_element_by_xpath(  '/html/body/div[5]/div[3]/div[3]/div/div/div/div/div[2]/main/div[7]/div[2]/span/div/section/div[1]'):
#    profile_experience = browser.find_element_by_xpath\
#    ('/html/body/div[5]/div[3]/div[3]/div/div/div/div/div[2]/main/div[7]/div[2]/span/div/section/div[1]')
#    
#profile_experience.text

In [217]:
# experiences > text
profile_experience = browser.find_element_by_id('experience-section')
profile_experience.text

'Experience\nCollection Coordination Analyst\nCompany Name\nGrupo CIL Marketing Directo Full-time\nDates Employed\nMar 2019 – Present\nEmployment Duration\n1 yr 2 mos\nLocation\nMadrid Area, Spain\nAnalyze the customer payment behavior to create and manage the development of new processes and projects.\n\nResponsible for the coordination of the collection processes in Spain, France and Portugal, ensuring the proper functioning in all countries.\nReal Estate Agent\nCompany Name\nRedpiso Grupo Inmobiliario y Financiero Full-time\nDates Employed\nApr 2018 – Mar 2019\nEmployment Duration\n1 yr\nLocation\nMadrid Area, Spain\nManage a portfolio of properties, negotiating to catch new products and offering them to others clients.\n\nBringing assistance to sellers and buyers to close transactions from the beginning to the end of the process.\n…\nsee more\nPricing Analyst\nCompany Name\nClaro Chile S.A. Full-time\nDates Employed\nFeb 2015 – Feb 2017\nEmployment Duration\n2 yrs 1 mo\nLocation\nSantiago, Chile\nDefine and upgrade the cost and pricing model of different TELECOM and IT products of the Enterprises Market area, also helping to product areas on launching of new products, supporting to sellers in sales processes, and advising to engineers checking the design of standard projects.\n\nDesign special offers to promote the sales of specific products, checking in parallel the prices of the products in the market.\n\n• Implementation of new evaluation tools for sales team, optimizing response time to clients from 2 weeks to 1 day.\n• Development of new standard offer of products based on demand from different customer segments.\n…\nsee more\nFinancial Analyst\nCompany Name\nSupermercados Tottus. Full-time\nDates Employed\nFeb 2014 – Sep 2014\nEmployment Duration\n8 mos\nLocation\nSantiago, Chile\nGenerate commercial relationship with different entities involved, attending to their needs, evaluating indicators for cost optimization and detecting deviations.\n\nElaborate financial reports for Tottus’ Management and Directorate.\n\n• Improvement and optimization in Financial Reporting, reducing reporting time process in 20%.\n…\nsee more\nContinuous Improvement Engineer\nCompany Name\nFinning South America Full-time\nDates Employed\nJul 2013 – Jan 2014\nEmployment Duration\n7 mos\nLocation\nSantiago, Chile\nModel and redesign the processes that formed the different Finning businesses, in order to achieve connected and efficient process flows.\n\nDetect opportunities for improvement in different areas.\n\n• Redesign of Equipment Logistic process with SCOR methodology, eliminating waste and optimizing process time.\n…\nsee more\nCompany Name\nARAUCO, planta Horcones I\nTotal Duration\n3 yrs 5 mos\nTitle\nOperational Excellence Lead\nFull-time\nDates Employed\nJul 2011 – Jan 2013\nEmployment Duration\n1 yr 7 mos\nLocation\nArauco, Chile\nGenerate, control and manage the projects created in base of the methodology of Operational Excellence (OE), ensuring these are focused in three principal items: Safety, Environment and Business\n\nWorking to reduce process gaps with the goal to improve the Processes Management Indicator (PMI).\n\nTrain staff in concepts of Continuous Improvement and Operational Excellence\n\n• Annual record in project generation (25) / Fourth place in the national project competition of OE.\n• Implementation of training plan for workers in each area of the plant, in addition to a plan to expand the philosophy of Continuous Improvement.\n• Definition and work with EO leaders in each area.\n…\nsee more\nTitle\nProcess Management Consultant\nFull-time\nDates Employed\nSep 2010 – Jul 2011\nEmployment Duration\n11 mos\nLocation\nArauco, Chile\nGenerate, control and manage the improvement of operational KPI on each area of the company (Yield, Factor of Operation, Variable Costs), in order to reduce the gap by comparing with optimal scenarios of each process indicator.\n\n• Improvement of PMI from 10% to 7% through the management and control of the project portfolio.\n…\nsee more\nShow 1 more role\nShow fewer experiences'

In [218]:
# getting info: time experience
pattern_1 = 'Employment Duration\n(.*)\nLocation'
time_experience = list(re.findall(pattern_1 , profile_experience.text))
time_experience

['1 yr 2 mos', '1 yr', '2 yrs 1 mo', '8 mos', '7 mos', '1 yr 7 mos', '11 mos']

In [219]:
# getting info: name experience
pattern_n1 = '\n(.*)\ncompany name'
name_experience1 = list(re.findall(pattern_n1 , profile_experience.text.lower()))
pattern_n2 = 'title\n(.*)\n'
name_experience2 = list(re.findall(pattern_n2 , profile_experience.text.lower()))
name_experience = name_experience1 + name_experience2 
name_experience.remove('see more')
name_experience

['collection coordination analyst',
 'real estate agent',
 'pricing analyst',
 'financial analyst',
 'continuous improvement engineer',
 'operational excellence lead',
 'process management consultant']

In [220]:
y, m = 0 , 0
for t in time_experience:
    print(t)
    if re.findall('[0-9] yr', t):
        year  = re.findall('[0-9] yr', t)[0].split(" ")[0]
        y += int(year)
    if re.findall('[0-9] mo', t):
        month = re.findall('[0-9] mo', t)[0].split(" ")[0]
        m += int(month)
print(y, "years -", m,"months")
m_nuevo = m//12
y_nuevo = y + m%12
print(y_nuevo , "years -", m_nuevo ,"months")

1 yr 2 mos
1 yr
2 yrs 1 mo
8 mos
7 mos
1 yr 7 mos
11 mos
5 years - 26 months
7 years - 2 months

#### Education:

In [221]:
profile_education = browser.find_element_by_id('education-section')
profile_education.text.lower()

"education\nironhack\ndegree name\nmaster's degree\nfield of study\ndata analytics\ndates attended or expected graduation\n2019 – 2020\n- tools and technologies: git, mysql, python, pandas, numpy, web scraping, matplotlib, seaborn, scipy, scikit-learn, tableau\n- good development practices: data cleaning, data manipulation, data interpretation (apis, web scraping), data visualization, data pipelines, descriptive statistics, business intelligence, supervised and unsupervised learning\nuniversidad de concepción\ndegree name\nbachelor of engineering - be\nfield of study\nindustrial engineering\ngrade\napproved with maximum distinction. grade 6.0 of 7.0\ndates attended or expected graduation\n2003 – 2009\nactivities and societies: - participation in a student center - drummer in a band - basketball, capoeira, taekwondo\ncivil industrial engineer, universidad de concepción\nsubjects as :\n- project evaluation and management\n- quality management and six sigma\n- logistic management\n- operations research\n- planning and scheduling of production\n- financial management\n- process simulation\n- advanced statistics"

In [222]:
# getting info: degrees
pattern_2 = 'degree name\n(.*)\n'
degrees = re.findall(pattern_2 , profile_education.text.lower())
degrees

["master's degree", 'bachelor of engineering - be']

In [223]:
# getting info: grades
pattern_3 = 'field of study\n(.*)\n'
fields = re.findall(pattern_3 , profile_education.text.lower())
fields

['data analytics', 'industrial engineering']

#### Skills:

In [224]:
#show MORE skills > > button "show more..."
profile_more_skills =  browser.find_element_by_xpath("//button[@data-control-name='skill_details']")
ActionChains(browser).move_to_element(profile_more_skills).perform()
profile_more_skills.click()
html_body.send_keys(Keys.PAGE_UP)

In [225]:
# skill table> text
profile_skills_details = browser.find_element_by_xpath\
("//section[@class='pv-profile-section pv-skill-categories-section artdeco-container-card ember-view']")
profile_skills_details.text

'Skills & Endorsements\nAdd a new skill\nTake skill quiz\nMicrosoft Excel\nSee 5 endorsements for Microsoft Excel\n5\nEndorsed by Reinaldo Alarcón Campos, who is highly skilled at this\nEndorsed by 2 of Cristopher’s colleagues at ARAUCO\nPassed: LinkedIn Assessments\nData Analytics\nSee 1 endorsement for Data Analytics\n1\nVictor Galan Vaquerizo has given an endorsement for this skill\nPython (Programming Language)\nSee 2 endorsements for Python (Programming Language)\n2\nVictor Galan Vaquerizo and 1 connection have given endorsements for this skill\nIndustry Knowledge\nProject Management\nBusiness Process Improvement\nContinuous Improvement\nSix Sigma\nLean manufacturing\nSee 1 endorsement for Lean manufacturing\n1\nBusiness Analysis\nData Analysis\nSee 1 endorsement for Data Analysis\n1\nProgramming\nEngineering\nBusiness Intelligence\nAnalytical Skills\nScrum\nFinancial Analysis\nStatistics\nProcess Optimization\nProcess Engineering\nMachine Learning\nData Modeling\nData Visualization\nData Science\nTools & Technologies\nMicrosoft Office\nSee 7 endorsements for Microsoft Office\n7\nMicrosoft Project\nSee 1 endorsement for Microsoft Project\n1\nVBA\nSAP\nSee 2 endorsements for SAP\n2\nSQL\nR\nTableau\nBash\nGit\nMySQL\nInterpersonal Skills\nTeam Management\nTeamwork\nNegotiation\nSee 1 endorsement for Negotiation\n1\nLeadership\nLanguages\nEnglish\nEspañol\nOther Skills\nMicrosoft Power BI\nTelco\nMicrosoft Power Query\nPower Pivot\nData Pipelines\nWeb Scraping\nVisual Basic for Applications (VBA)\nNumPy\nPandas (Software)\nSeaborn\nJupyter\nShow less\nShow only Cristopher’s featured skills'

In [226]:
skills = profile_skills_details.text.split("\n")
print(skills)
not_needed_words = ['Skills & Endorsements', 
                    'Add a new skill', 
                    'Take skill quiz', 
                    'Passed: LinkedIn Assessments',
                    'Tools & Technologies',
                    'Interpersonal Skills',
                    'Languages',
                    'Other Skills',
                    'Show less',
                   ]

['Skills & Endorsements', 'Add a new skill', 'Take skill quiz', 'Microsoft Excel', 'See 5 endorsements for Microsoft Excel', '5', 'Endorsed by Reinaldo Alarcón Campos, who is highly skilled at this', 'Endorsed by 2 of Cristopher’s colleagues at ARAUCO', 'Passed: LinkedIn Assessments', 'Data Analytics', 'See 1 endorsement for Data Analytics', '1', 'Victor Galan Vaquerizo has given an endorsement for this skill', 'Python (Programming Language)', 'See 2 endorsements for Python (Programming Language)', '2', 'Victor Galan Vaquerizo and 1 connection have given endorsements for this skill', 'Industry Knowledge', 'Project Management', 'Business Process Improvement', 'Continuous Improvement', 'Six Sigma', 'Lean manufacturing', 'See 1 endorsement for Lean manufacturing', '1', 'Business Analysis', 'Data Analysis', 'See 1 endorsement for Data Analysis', '1', 'Programming', 'Engineering', 'Business Intelligence', 'Analytical Skills', 'Scrum', 'Financial Analysis', 'Statistics', 'Process Optimization', 'Process Engineering', 'Machine Learning', 'Data Modeling', 'Data Visualization', 'Data Science', 'Tools & Technologies', 'Microsoft Office', 'See 7 endorsements for Microsoft Office', '7', 'Microsoft Project', 'See 1 endorsement for Microsoft Project', '1', 'VBA', 'SAP', 'See 2 endorsements for SAP', '2', 'SQL', 'R', 'Tableau', 'Bash', 'Git', 'MySQL', 'Interpersonal Skills', 'Team Management', 'Teamwork', 'Negotiation', 'See 1 endorsement for Negotiation', '1', 'Leadership', 'Languages', 'English', 'Español', 'Other Skills', 'Microsoft Power BI', 'Telco', 'Microsoft Power Query', 'Power Pivot', 'Data Pipelines', 'Web Scraping', 'Visual Basic for Applications (VBA)', 'NumPy', 'Pandas (Software)', 'Seaborn', 'Jupyter', 'Show less', 'Show only Cristopher’s featured skills']

In [227]:
#Getting just necesary skills
skills_delete = []
for s in skills:
    #if (s in not_needed_words) or ('ndorse' in s) or ('Show only' in s) or s.isdigit():
    if (s in not_needed_words) or re.search('ndorse',s) or re.search('Show only',s) or re.search('[0-9]',s):
        #print(s)
        skills_delete.append(s)
        
        #skills.remove(s)
print(skills_delete)
skills_clean = list(set(skills)-set(skills_delete))
skills_clean = [ x.lower().split(' (')[0] for x in skills_clean]
sorted(skills_clean)

['Skills & Endorsements', 'Add a new skill', 'Take skill quiz', 'See 5 endorsements for Microsoft Excel', '5', 'Endorsed by Reinaldo Alarcón Campos, who is highly skilled at this', 'Endorsed by 2 of Cristopher’s colleagues at ARAUCO', 'Passed: LinkedIn Assessments', 'See 1 endorsement for Data Analytics', '1', 'Victor Galan Vaquerizo has given an endorsement for this skill', 'See 2 endorsements for Python (Programming Language)', '2', 'Victor Galan Vaquerizo and 1 connection have given endorsements for this skill', 'See 1 endorsement for Lean manufacturing', '1', 'See 1 endorsement for Data Analysis', '1', 'Tools & Technologies', 'See 7 endorsements for Microsoft Office', '7', 'See 1 endorsement for Microsoft Project', '1', 'See 2 endorsements for SAP', '2', 'Interpersonal Skills', 'See 1 endorsement for Negotiation', '1', 'Languages', 'Other Skills', 'Show less', 'Show only Cristopher’s featured skills']

['analytical skills',
 'bash',
 'business analysis',
 'business intelligence',
 'business process improvement',
 'continuous improvement',
 'data analysis',
 'data analytics',
 'data modeling',
 'data pipelines',
 'data science',
 'data visualization',
 'engineering',
 'english',
 'español',
 'financial analysis',
 'git',
 'industry knowledge',
 'jupyter',
 'leadership',
 'lean manufacturing',
 'machine learning',
 'microsoft excel',
 'microsoft office',
 'microsoft power bi',
 'microsoft power query',
 'microsoft project',
 'mysql',
 'negotiation',
 'numpy',
 'pandas',
 'power pivot',
 'process engineering',
 'process optimization',
 'programming',
 'project management',
 'python',
 'r',
 'sap',
 'scrum',
 'seaborn',
 'six sigma',
 'sql',
 'statistics',
 'tableau',
 'team management',
 'teamwork',
 'telco',
 'vba',
 'visual basic for applications',
 'web scraping']

In [228]:
#skills_1 = re.findall( '\n(.*)\nSee' , profile_skills_details.text.split("\nIndustry Knowledge")[0])
#skills_1

In [229]:
#skills_2_delete = re.findall('\nShow less\nShow only(.*)featured skills', profile_skills_details.text.split("\nIndustry Knowledge")[1])[0]
#skills_2_delete

In [230]:
#skills_2 = profile_skills_details.text.split("\nIndustry Knowledge")[1]\
#                                    .replace("\nTools & Technologies","")\
#                                    .replace("\nInterpersonal Skills","")\
#                                    .replace("\nLanguages","")\
#                                    .replace("\nOther Skills","")\
#                                    .split("\n")
#.replace(f"\nShow less\nShow only{skills_2_delete}featured skills'","")\
#skills_2

#### Languages:

In [231]:
languages = browser.find_element_by_id('languages-expandable-content').text.split(' ')
languages = [x.lower() for x in languages]
languages

['english', 'spanish']

In [232]:
# Creating df_profile
profile = [linkedin_profile, headline, open_status, about, name_experience, time_experience ,
           y_nuevo, degrees, fields, skills_clean, languages]

df_profile = pd.DataFrame(profile,
                          index = ['profile',
                                   'headline',
                                   'open new jobs',
                                   'about',
                                   'experiences',
                                   'years of experiences',
                                   'total years',
                                   'degrees',
                                   'fields',
                                   'skills',
                                   'languages'
                                  ],
                          columns= ['info']
                         )
df_profile

                                                                   info
profile                                             cristopherrojaslepe
headline              data scientist & analyst | python | pandas | n...
open new jobs                                                      True
about                 data scientist & analyst and industrial engine...
experiences           [collection coordination analyst, real estate ...
years of experiences  [1 yr 2 mos, 1 yr, 2 yrs 1 mo, 8 mos, 7 mos, 1...
total years                                                           7
degrees                 [master's degree, bachelor of engineering - be]
fields                         [data analytics, industrial engineering]
skills                [analytical skills, pandas, team management, b...
languages                                            [english, spanish]

In [233]:
df_profile.to_csv(f'..\\data\\raw\\df_profile.csv',
                  sep = ';',
                  encoding= 'utf8'
              )

***
***
#### JOB SEARCH :

In [234]:
#location_input = input("PLEASE ENTER THE LOCATION WHERE YOU'D LIKE TO SEARCH: ")
location_input = 'berlin'

In [235]:
location = location_input.capitalize()
location

'Berlin'

#### GETTING JOB POSTS :

#### Functions >

In [236]:
#number of pages with job posts considering job title given to thi
def n_pages_linkedin(browser,job_title_s, location):
    
    JOB_URL = f'https://www.linkedin.com/jobs/search/?keywords={job_title_s}&location={location}'
    browser.get(JOB_URL)
    time.sleep(1)
    
    # Total results 
    results = browser.find_element_by_xpath("//small[@class='display-flex t-12 t-black--light t-normal']").text
    print(results)
    results = int(results.split(" ")[0])
    #if   browser.find_element_by_xpath("/html/body/div[5]/div[4]/div[3]/section[1]/div[2]/div/div/div[1]/div[1]/div[1]/small"):
    #    results = int(browser.find_element_by_xpath\
    #    ("/html/body/div[5]/div[4]/div[3]/section[1]/div[2]/div/div/div[1]/div[1]/div[1]/small").text.split(" ")[0])
    #elif browser.find_element_by_xpath("/html/body/div[6]/div[4]/div[3]/section[1]/div[2]/div/div/div[1]/div[1]/div[1]/small"):
    #    results = int(browser.find_element_by_xpath\
    #    ("/html/body/div[5]/div[4]/div[3]/section[1]/div[2]/div/div/div[1]/div[1]/div[1]/small").text.split(" ")[0])
    
    # More than 25 results > More than 1 page
    if results > 25:
        pages = browser.find_element_by_xpath("//ul[@class='artdeco-pagination__pages artdeco-pagination__pages--number']")
        #try:
        #    pages = browser.find_element_by_xpath\
        #    ('/html/body/div[5]/div[4]/div[3]/section[1]/div[2]/div/div/div[1]/div[2]/div/section/artdeco-pagination/ul')
        #except:
        #    pages = browser.find_element_by_xpath\
        #    ('/html/body/div[6]/div[4]/div[3]/section[1]/div[2]/div/div/div[1]/div[2]/div/section/artdeco-pagination/ul')
        
        print(type(pages))
        n_pages = int(pages.text.split('\n')[-1])
        print(n_pages)
        return n_pages
    
    else:
        n_pages = 1
        return n_pages

In [237]:
n_pages_linkedin(browser,'data%20analyst', 'Madrid')

176 results
<class 'selenium.webdriver.remote.webelement.WebElement'>
8

8

In [238]:
#Iterator of job posts > the only wayt is considering XPATH with an iteration
def j_post(browser, i):
    if   browser.find_element_by_xpath\
        (f'/html/body/div[5]/div[4]/div[3]/section[1]/div[2]/div/div/div[1]/div[2]/div/ul/li[{i}]/div/artdeco-entity-lockup/artdeco-entity-lockup-content/h3/a'):
        job_post = browser.find_element_by_xpath\
        (f'/html/body/div[5]/div[4]/div[3]/section[1]/div[2]/div/div/div[1]/div[2]/div/ul/li[{i}]/div/artdeco-entity-lockup/artdeco-entity-lockup-content/h3/a')
                                                        #  /html/body/div[5]/div[4]/div[3]/section[1]/div[2]/div/div/div[1]/div[2]/div/ul/li[ 1 ]/div/artdeco-entity-lockup/artdeco-entity-lockup-content/h3/a
                                                        #  /html/body/div[5]/div[4]/div[3]/section[1]/div[2]/div/div/div[1]/div[2]/div/ul/li[ 1 ]/div/artdeco-entity-lockup/artdeco-entity-lockup-content/h3/a
    elif browser.find_element_by_xpath\
        (f'/html/body/div[6]/div[4]/div[3]/section[1]/div[2]/div/div/div[1]/div[2]/div/ul/li[{i}]/div/artdeco-entity-lockup/artdeco-entity-lockup-content/h3/a'):
        job_post = browser.find_element_by_xpath\
        ( '/html/body/div[6]/div[4]/div[3]/section[1]/div[2]/div/div/div[1]/div[2]/div/ul/li[{i}]/div/artdeco-entity-lockup/artdeco-entity-lockup-content/h3/a')

    elif browser.find_element_by_xpath\
        (f'/html/body/div[5]/div[4]/div[3]/section[1]/div[2]/div/div/div[1]/div[2]/div[2]/ul/li[{i}]/div/artdeco-entity-lockup/artdeco-entity-lockup-content/h3/a'):
        job_post = browser.find_element_by_xpath\
        (f'/html/body/div[5]/div[4]/div[3]/section[1]/div[2]/div/div/div[1]/div[2]/div[2]/ul/li[{i}]/div/artdeco-entity-lockup/artdeco-entity-lockup-content/h3/a')

    elif browser.find_element_by_xpath\
        (f'/html/body/div[6]/div[4]/div[3]/section[1]/div[2]/div/div/div[1]/div[2]/div[2]/ul/li[{i}]/div/artdeco-entity-lockup/artdeco-entity-lockup-content/h3/a'):
        job_post = browser.find_element_by_xpath\
        (f'/html/body/div[6]/div[4]/div[3]/section[1]/div[2]/div/div/div[1]/div[2]/div[2]/ul/li[{i}]/div/artdeco-entity-lockup/artdeco-entity-lockup-content/h3/a')
    
    return job_post

In [239]:
#last = browser.find_element_by_xpath()'/html/body/div[6]/div[4]/div[3]/section[1]/div[2]/div/div/div[1]/div[2]/div/section/artdeco-pagination/ul')

In [240]:
#pages.location_once_scrolled_into_view

***

In [241]:
# Defining current date time
now = datetime.now()
now_str = datetime.now().strftime('%Y-%m-%d %H:%M')

In [242]:
# Creating df
df_jobs = pd.DataFrame(columns=['JOB TITLE',
                                'LOCATION',
                                'SEARCH DATETIME',
                                'Current Job Id',
                                'Job html',
                                'Job name',
                                'Company name',
                                'Company location',
                                'Posted date',
                                'Estimated post date',
                                'Easy apply',
                                'Skills match',
            
                                'Seniority Level',
                                'Industry',
                                'Employment Type',
                                'Job Functions',
                                'Job info'                                
                               ])

In [243]:
# Jobs search
jobs_list = ['data analyst', 'data scientist', 'data engineer']

In [244]:
dic_key_words = \
{   'data analyst'  : ['sql', 
                        'python', 
                        'business intelligence', 'bi' , 'excel'
                        'dashboard', 'reporting',
                        'tableau', 'powerbi', 'power bi', 'qlik', 'sportfire', 
                        'business analyst'
                      ],
 
    'data scientist': ['sql', 
                        'python', 'r', 
                        'ml', 'machine learning','dl','deep learning', 'nn','neuronal networks', 
                        'pandas', 'numpy', 
                        'data visualization', 'matplotlib', 'seaborn', 
                        'spss',  'advanced statistics','statistics',
                        'sklearn','sk learn', 'scikit learn', 'scikit-learn' ,'tensorflow', 'keras', 
                        'data wrangling', 'nlp', 'a/b testing','a b testing'
                      ],
 
    'data engineer':  ['sql', 'nosql', 'no sql', 
                        'python', 'r', 'scala', 'java', 'spark', 'hadoop', 'hive', 'impala', 'kafka', 
                        'data wrangling', 'etl','extract, transform and load', 'map reduce','mapreduce', 'data acquisition',
                        'big data', 'bigdata', 'data warehouse', 'aws',
                        'software engineering'
                      ]
}

In [245]:
location

'Berlin'

In [246]:
# iterator of JOB LIST
for j in jobs_list:
    
    # Getting each job for the search
    print(f'++++++++++++++++  {j} +++++++++++++++++++')
    job_title_df  = j
    job_title_s   = j.replace(' ', '%20')
    
    # Getting number of pages for each search
    n_pages = n_pages_linkedin(browser,job_title_s, location)
    last_job_page = n_pages*25
    print(last_job_page)  
    
    
    
    # iterator of JOB PAGES
    for p in range(0,last_job_page,25):
    #for p in range(0,1):

        print(f'PAGINA: {p}')

        #Exploring each page with maximum 25 job posts
        JOB_URL = f'https://www.linkedin.com/jobs/search/?keywords={job_title_s}&location={location}&start={p}'
        browser.get(JOB_URL)
        
        if p==0:
            time.sleep(2)
        else:
            time.sleep(0.5)

        """
        #activate all job posts in each page 
        if results > 25:
            try:
                pages = browser.find_element_by_xpath\
                ('/html/body/div[5]/div[4]/div[3]/section[1]/div[2]/div/div/div[1]/div[2]/div/section/artdeco-pagination/ul')
            except:
                pages = browser.find_element_by_xpath\
                ('/html/body/div[6]/div[4]/div[3]/section[1]/div[2]/div/div/div[1]/div[2]/div/section/artdeco-pagination/ul')
        actions = ActionChains(browser)
        actions.move_to_element(pages).perform()
        """

        # Taking table of job posts
        tabla_izq = browser.find_element_by_xpath\
        ("//div[@class='jobs-search-results jobs-search-results--is-two-pane']")
        
        
        """
        try:
            if browser.find_element_by_xpath("/html/body/div[5]/div[4]/div[3]/section[1]/div[2]/div/div/div[1]"):
                tabla_izq = browser.find_element_by_xpath("/html/body/div[5]/div[4]/div[3]/section[1]/div[2]/div/div/div[1]")
            elif browser.find_element_by_xpath("/html/body/div[6]/div[4]/div[3]/section[1]/div[2]/div/div/div[1]"):
                tabla_izq = browser.find_element_by_xpath("/html/body/div[6]/div[4]/div[3]/section[1]/div[2]/div/div/div[1]") 
        except:
            JOB_URL = f'https://www.linkedin.com/jobs/search/?keywords={job_title_s}&location={location}&start={p}'
            browser.get(JOB_URL)
            time.sleep(0.2)

            if browser.find_element_by_xpath("/html/body/div[5]/div[4]/div[3]/section[1]/div[2]/div/div/div[1]"):
                tabla_izq = browser.find_element_by_xpath("/html/body/div[5]/div[4]/div[3]/section[1]/div[2]/div/div/div[1]")
            elif browser.find_element_by_xpath("/html/body/div[6]/div[4]/div[3]/section[1]/div[2]/div/div/div[1]"):
                tabla_izq = browser.find_element_by_xpath("/html/body/div[6]/div[4]/div[3]/section[1]/div[2]/div/div/div[1]") 
        """

        #try:
        #    tabla_izq = \
        #        browser.find_element_by_xpath("/html/body/div[5]/div[4]/div[3]/section[1]/div[2]/div/div/div[1]")
        #except:
        #    tabla_izq = \
        #        browser.find_element_by_xpath("/html/body/div[6]/div[4]/div[3]/section[1]/div[2]/div/div/div[1]")         
        #time.sleep(0.5)

        """
        # Getting quantity of job posts that you CAN SEE directly in each page
        if p < (last_job_page-25):
            job_list = \
            tabla_izq.text.split('Manage alerts\n')[1].split('Close\n')[0].split('ago')    
        else:
            job_list = \
            tabla_izq.text.split('Manage alerts\n')[1].split('Close\n')[0].split('Create alert for this search\n')[0].split('ago')
        
        n_job_list = len(job_list)-1
        print(f'Lista de trabajos visibles:{n_job_list}') 
        time.sleep(0.1)
        """
        
        # iterator of JOB LIST
        # iterator of jobs posts
        i=1
        error=False
        
        while i<=25 and error==False:
        #for i in range(1,n_job_list+1):
            
            try:

                print(f'i:{i}')
                
                # Selecting job post in order to click on it
                job_post = j_post(browser, i)
                
                """
                # Selecting job post in order to click on it
                if   browser.find_element_by_xpath\
                    (f'/html/body/div[5]/div[4]/div[3]/section[1]/div[2]/div/div/div[1]/div[2]/div/ul/li[{i}]/div/artdeco-entity-lockup/artdeco-entity-lockup-content/h3/a'):
                    job_post = browser.find_element_by_xpath\
                    (f'/html/body/div[5]/div[4]/div[3]/section[1]/div[2]/div/div/div[1]/div[2]/div/ul/li[{i}]/div/artdeco-entity-lockup/artdeco-entity-lockup-content/h3/a')
                    #  /html/body/div[5]/div[4]/div[3]/section[1]/div[2]/div/div/div[1]/div[2]/div/ul/li[ 1 ]/div/artdeco-entity-lockup/artdeco-entity-lockup-content/h3/a
                    #  /html/body/div[5]/div[4]/div[3]/section[1]/div[2]/div/div/div[1]/div[2]/div/ul/li[ 1 ]/div/artdeco-entity-lockup/artdeco-entity-lockup-content/h3/a
                elif browser.find_element_by_xpath\
                    (f'/html/body/div[6]/div[4]/div[3]/section[1]/div[2]/div/div/div[1]/div[2]/div/ul/li[{i}]/div/artdeco-entity-lockup/artdeco-entity-lockup-content/h3/a'):
                    job_post = browser.find_element_by_xpath\
                    (f'/html/body/div[6]/div[4]/div[3]/section[1]/div[2]/div/div/div[1]/div[2]/div/ul/li[{i}]/div/artdeco-entity-lockup/artdeco-entity-lockup-content/h3/a')

                elif browser.find_element_by_xpath\
                    (f'/html/body/div[5]/div[4]/div[3]/section[1]/div[2]/div/div/div[1]/div[2]/div[2]/ul/li[{i}]/div/artdeco-entity-lockup/artdeco-entity-lockup-content/h3/a'):
                    job_post = browser.find_element_by_xpath\
                    (f'/html/body/div[5]/div[4]/div[3]/section[1]/div[2]/div/div/div[1]/div[2]/div[2]/ul/li[{i}]/div/artdeco-entity-lockup/artdeco-entity-lockup-content/h3/a')

                elif browser.find_element_by_xpath\
                    (f'/html/body/div[6]/div[4]/div[3]/section[1]/div[2]/div/div/div[1]/div[2]/div[2]/ul/li[{i}]/div/artdeco-entity-lockup/artdeco-entity-lockup-content/h3/a'):
                    job_post = browser.find_element_by_xpath\
                    (f'/html/body/div[6]/div[4]/div[3]/section[1]/div[2]/div/div/div[1]/div[2]/div[2]/ul/li[{i}]/div/artdeco-entity-lockup/artdeco-entity-lockup-content/h3/a')
                """
                
                #try:
                #    job_post = browser.find_element_by_xpath\
                #    (f'/html/body/div[5]/div[4]/div[3]/section[1]/div[2]/div/div/div[1]/div[2]/div/ul/li[{i}]/div/artdeco-entity-lockup/artdeco-entity-lockup-content/h3/a')
                #except:
                #    job_post = browser.find_element_by_xpath\
                #    (f'/html/body/div[6]/div[4]/div[3]/section[1]/div[2]/div/div/div[1]/div[2]/div/ul/li[{i}]/div/artdeco-entity-lockup/artdeco-entity-lockup-content/h3/a')

                print(job_post.text)
                job_post.click()
                time.sleep(0.1)

                # Getting current job ID
                print(browser.current_url)      
                currentJobId = browser.current_url.split('currentJobId=')[1].split('&')[0] #col1_pd
                # if you wanna watch the job page
                job_html = f'https://www.linkedin.com/jobs/view/{currentJobId}/'
                print(f'{currentJobId}')

                # Extracting job information on the right side
                job_post_right = browser.find_element_by_xpath("//div[@class='jobs-search-two-pane__details pt4 ph3 jobs-search-two-pane__details ember-view']")   
                
                """
                try:
                    job_post_right = browser.find_element_by_xpath\
                        ('/html/body/div[5]/div[4]/div[3]/section[1]/div[2]/div/div/div[2]')
                except:
                    job_post_right = browser.find_element_by_xpath\
                        ('/html/body/div[6]/div[4]/div[3]/section[1]/div[2]/div/div/div[2]')
                """
                #getting info and only separating: job name, company name, company location
                #job_post_right_content    = job_post_right.text.split('\n', 5)
                
                ##################################################################################################
                #Job name
                job_post_name             = job_post_right.text.split('\n', 1)[0]

                #Company name > Sometimes there is no info here
                if job_post_right.text.split('Company Name\n',1)[1].split('\n')[0] == 'Company Location':
                    job_post_company_name = ""
                else:
                    job_post_company_name = job_post_right.text.split('Company Name\n',1)[1].split('\n')[0]

                #Location
                job_post_company_location = job_post_right.text.split('Company Location\n',1)[1].split('\n')[0]

                #Posted date
                job_post_posted_date      = job_post_right.text.split(' ago',1)[0].split('Posted Date\nPosted ')[1]
                if   job_post_posted_date.split(" ")[1] in ['hour', 'hours']:
                    job_post_estimated_date = now - timedelta(hours =     int(job_post_posted_date.split(" ")[0]))
                elif job_post_posted_date.split(" ")[1] in ['day', 'days']:
                    job_post_estimated_date = now - timedelta(days  =     int(job_post_posted_date.split(" ")[0]))
                elif job_post_posted_date.split(" ")[1] in ['week', 'weeks']:
                    job_post_estimated_date = now - timedelta(weeks =     int(job_post_posted_date.split(" ")[0]))
                elif job_post_posted_date.split(" ")[1] in ['month', 'months']:
                    job_post_estimated_date = now - timedelta(weeks =   4*int(job_post_posted_date.split(" ")[0]))
                elif job_post_posted_date.split(" ")[1] in ['year', 'years']:
                    job_post_estimated_date = now - timedelta(weeks = 365*int(job_post_posted_date.split(" ")[0]))

                #Easy apply: T/F
                try:
                    if job_post_right.text.split('Save\n',1)[1].split('\n',2)[1] == 'Easy Apply':
                        job_post_easy_apply = True
                    else:
                        job_post_easy_apply = False
                except:
                    if job_post_right.text.split('Unsave\n',1)[1].split('\n',2)[1] == 'Easy Apply':
                        job_post_easy_apply = True
                    else:
                        job_post_easy_apply = False
                
               
                #Skills match
                if re.search('\nHow you match',job_post_right.text):
                #if '\nHow you match' in job_post_right.text:
                    y = 'Match\n(.*)\n'
                    n = 'No match\n(.*)\n' 
                    job_post_skills_match    = re.findall(y,job_post_right.text)
                    job_post_skills_nomatch  = re.findall(n,job_post_right.text)
                    job_post_skills = {'yes': job_post_skills_match,
                                       'no' : job_post_skills_nomatch,
                                       'all': job_post_skills_match + job_post_skills_nomatch
                                      }
                else:
                    job_post_skills_match    = {}
                
                
                ####

                #Seniority Level
                try:
                    job_post_seniority_level = job_post_right.text.split('Seniority Level\n',1)[1].split('\n')[0]
                except:
                    job_post_seniority_level = ""

                #Industry
                try:
                    job_post_industry        = job_post_right.text.split('Industry\n',1)[1].split('\n')[0]
                except:
                    job_post_industry        = ""

                #Employment Type
                try:
                    job_post_employment_type = job_post_right.text.split('Employment Type\n',1)[1].split('\n')[0]
                except:
                    job_post_employment_type = ""

                #Job Functions > maybe this is the last
                try:
                    job_post_job_functions   = job_post_right.text.split('Job Functions\n',1)[1].split('\n')[0]
                except:
                    job_post_job_functions   = ""


                #job info
                job_post_info             = job_post_right.text.split('\n', 5)[5]

                #Dataframe
                df_jobs = df_jobs.append({
                                            'JOB TITLE'          : job_title_df,
                                            'LOCATION'           : location,
                                            'SEARCH DATETIME'    : now_str,
                                            'Current Job Id'     : currentJobId,
                                            'Job html'           : job_html,
                                            'Job name'           : job_post_name,
                                            'Company name'       : job_post_company_name,
                                            'Company location'   : job_post_company_location,
                                            'Posted date'        : job_post_posted_date,
                                            'Estimated post date': job_post_estimated_date.strftime('%Y-%m-%d %H:%M'),
                                            'Easy apply'         : job_post_easy_apply,
                                            'Skills match'       : job_post_skills,

                                            'Seniority Level'    : job_post_seniority_level,
                                            'Industry'           : job_post_industry ,
                                            'Employment Type'    : job_post_employment_type,
                                            'Job Functions'      : job_post_job_functions,
                                            'Job info'           : job_post_info,
                                         }, ignore_index=True)

                #print(len(job_post_right_content))
                print(job_post_name)
                print(job_post_company_name)
                print(job_post_company_location)
                print(job_post_posted_date)
                #print(f'{job_post_info}\n')
                print("")

                # if you wanna watch the job page
                # job_html = f'https://www.linkedin.com/jobs/view/{currentJobId}/' # > it's possible to use REQUESTS >>> NOPE XXXXX
                
                if i%5==0: #each 5 job post, one execution of 2 pages down
                    tabla_izq.send_keys(Keys.PAGE_DOWN*2)
                    time.sleep(0.1)
                
            except:
                error=True #if an error ocurred when the algorith tried to get a post, this loop finishs and goes to the next page
            finally:
                i+=1 # next one >>>>>>>>>>>>>>>>


df_jobs.head(10)

++++++++++++++++  data analyst +++++++++++++++++++
207 results
<class 'selenium.webdriver.remote.webelement.WebElement'>
9
225
PAGINA: 0
i:1
Business Intelligence Engineer Promoted
https://www.linkedin.com/jobs/search/?currentJobId=1811546874&keywords=data%20analyst&location=Berlin
1811546874
Business Intelligence Engineer
Amazon
Berlin, DE
1 week

i:2
Data Analyst (m/f/x) Promoted
https://www.linkedin.com/jobs/search/?currentJobId=1825585559&keywords=data%20analyst&location=Berlin
1825585559
Data Analyst (m/f/x)
Audible, Inc.
Berlin, DE
7 hours

i:3
Data Analyst (m/w/d) Promoted
https://www.linkedin.com/jobs/search/?currentJobId=1826854641&keywords=data%20analyst&location=Berlin
1826854641
Data Analyst (m/w/d)
Sony Music Entertainment
Berlin, Germany
2 days

i:4
Data Analyst (m/f/d)
https://www.linkedin.com/jobs/search/?currentJobId=1799953797&keywords=data%20analyst&location=Berlin
1799953797
Data Analyst (m/f/d)
BASF
Berlin, DE
1 week

i:5
Junior Data Analyst (f/m/d)
https://www.linkedin.com/jobs/search/?currentJobId=1596009820&keywords=data%20analyst&location=Berlin
1596009820
Junior Data Analyst (f/m/d)
Delivery Hero
Berlin, DE
1 week

i:6
Data Quality Analyst (m/f/d)
https://www.linkedin.com/jobs/search/?currentJobId=1825534998&keywords=data%20analyst&location=Berlin
1825534998
Data Quality Analyst (m/f/d)
CENTOGENE
Berlin, Germany
11 hours

i:7
Data Analyst
https://www.linkedin.com/jobs/search/?currentJobId=1801697885&keywords=data%20analyst&location=Berlin
1801697885
Data Analyst
Harnham
Berlin, Berlin, Germany
3 days

i:8
Senior Data Analyst (w/m/d)
https://www.linkedin.com/jobs/search/?currentJobId=1800983508&keywords=data%20analyst&location=Berlin
1800983508
Senior Data Analyst (w/m/d)
heycater!
Berlin, DE
3 days

i:9
Junior Data Analyst (m/w/d)
https://www.linkedin.com/jobs/search/?currentJobId=1788383295&keywords=data%20analyst&location=Berlin
1788383295
Junior Data Analyst (m/w/d)
factorymarket
Berlin, DE
2 weeks

i:10
Data / Business Analyst (m/f/d)
https://www.linkedin.com/jobs/search/?currentJobId=1795717663&keywords=data%20analyst&location=Berlin
1795717663
Data / Business Analyst (m/f/d)
Simplifa GmbH
Berlin, DE
3 weeks

i:11
Data/Business Analyst (m/f/d)
https://www.linkedin.com/jobs/search/?currentJobId=1828660771&keywords=data%20analyst&location=Berlin
1828660771
Data/Business Analyst (m/f/d)
Simplifa
Berlin, DE
3 weeks

i:12
Junior Data Analyst (m/w/d)
https://www.linkedin.com/jobs/search/?currentJobId=1815652095&keywords=data%20analyst&location=Berlin
1815652095
Junior Data Analyst (m/w/d)
The Retail Factory Pty Ltd
Berlin, DE
1 week

i:13
Game Data Analyst (f/m/d)
https://www.linkedin.com/jobs/search/?currentJobId=1794144538&keywords=data%20analyst&location=Berlin
1794144538
Game Data Analyst (f/m/d)
Kolibri Games
Berlin, Berlin, Germany
1 week

i:14
Data Analyst
https://www.linkedin.com/jobs/search/?currentJobId=1730742962&keywords=data%20analyst&location=Berlin
1730742962
Data Analyst
FY International
Berlin, DE
3 months

i:15
Data Analyst Marketing (m/w/d)
https://www.linkedin.com/jobs/search/?currentJobId=1823877574&keywords=data%20analyst&location=Berlin
1823877574
Data Analyst Marketing (m/w/d)
Characters Recruiting GmbH
Berlin, DE
5 days

i:16
Data Analyst Rental (w/m/d)
https://www.linkedin.com/jobs/search/?currentJobId=1779370384&keywords=data%20analyst&location=Berlin
1779370384
Data Analyst Rental (w/m/d)
Arjo
Kleinmachnow, DE
2 weeks

i:17
Data Analyst
https://www.linkedin.com/jobs/search/?currentJobId=1678078929&keywords=data%20analyst&location=Berlin
1678078929
Data Analyst
Jam City
Berlin, DE
5 days

i:18
Data & Business Analyst and Strategist (m/w/d)
https://www.linkedin.com/jobs/search/?currentJobId=1818777378&keywords=data%20analyst&location=Berlin
1818777378
Data & Business Analyst and Strategist (m/w/d)
Ottobock
Berlin, DE
1 month

i:19
Digital Reporting Analyst (m/w/d) Data Analytics/SQL (Leiter/in - Programmierung)
https://www.linkedin.com/jobs/search/?currentJobId=1818700558&keywords=data%20analyst&location=Berlin
1818700558
Digital Reporting Analyst (m/w/d) Data Analytics/SQL (Leiter/in - Programmierung)
Campusjäger
Berlin, DE
1 month

i:20
Data Engineer - Operations (m/f/x)
https://www.linkedin.com/jobs/search/?currentJobId=1807808824&keywords=data%20analyst&location=Berlin
1807808824
Data Engineer - Operations (m/f/x)
HelloFresh
Berlin, DE
2 weeks

i:21
Business Intelligence Analyst
https://www.linkedin.com/jobs/search/?currentJobId=1782589134&keywords=data%20analyst&location=Berlin
1782589134
Business Intelligence Analyst
Durstexpress GmbH
Berlin, Berlin, Germany
2 weeks

i:22
Senior Analyst
https://www.linkedin.com/jobs/search/?currentJobId=1810267497&keywords=data%20analyst&location=Berlin
1810267497
Senior Analyst
AKQA
Berlin, DE
2 weeks

i:23
Senior Fraud Data Analyst
https://www.linkedin.com/jobs/search/?currentJobId=1636079179&keywords=data%20analyst&location=Berlin
1636079179
Senior Fraud Data Analyst
Klarna
Berlin, DE
1 week

i:24
Data Analyst (m/f/d)
https://www.linkedin.com/jobs/search/?currentJobId=1760737426&keywords=data%20analyst&location=Berlin
1760737426
Data Analyst (m/f/d)
Cortado
Berlin, DE
1 month

i:25
Data Analyst (m/w)
https://www.linkedin.com/jobs/search/?currentJobId=1815544139&keywords=data%20analyst&location=Berlin
1815544139
Data Analyst (m/w)
junokai GmbH
Berlin, DE
1 month

PAGINA: 25
i:1
Manager/Team Lead Data Analytics (f/m/x) Promoted
https://www.linkedin.com/jobs/search/?currentJobId=1791961084&keywords=data%20analyst&location=Berlin&start=25
1791961084
Manager/Team Lead Data Analytics (f/m/x)
travel audience GmbH - an Amadeus Company
Berlin Area, Germany
3 weeks

i:2
Associate IT with focus on Data Analytics (m/f/d) Promoted
https://www.linkedin.com/jobs/search/?currentJobId=1750932445&keywords=data%20analyst&location=Berlin&start=25
1750932445
Associate IT with focus on Data Analytics (m/f/d)
KWS Group
Berlin, Deutschland
1 week

i:3
Data Analyst - Marketing/Finance Promoted
https://www.linkedin.com/jobs/search/?currentJobId=1643281430&keywords=data%20analyst&location=Berlin&start=25
1643281430
Data Analyst - Marketing/Finance
Blinkist
Berlin, Germany
1 month

i:4
Senior Game Data Analyst (f/m/x)
https://www.linkedin.com/jobs/search/?currentJobId=1828427573&keywords=data%20analyst&location=Berlin&start=25
1828427573
Senior Game Data Analyst (f/m/x)
SOFTGAMES - Mobile Entertainment Services GmbH
Berlin, DE
3 weeks

i:5
Junior Project Manager / Data analyst
https://www.linkedin.com/jobs/search/?currentJobId=1741513761&keywords=data%20analyst&location=Berlin&start=25
1741513761
Junior Project Manager / Data analyst
Sony Electronics
Berlin, DE
1 week

i:6
Senior Consultant (w/m/d) Data Analytics - Valuation, Modelling & Economics
https://www.linkedin.com/jobs/search/?currentJobId=1511250824&keywords=data%20analyst&location=Berlin&start=25
1511250824
Senior Consultant (w/m/d) Data Analytics - Valuation, Modelling & Economics
EY
Berlin, DE
7 months

i:7
Data Analyst (f/m/div)
https://www.linkedin.com/jobs/search/?currentJobId=1765081315&keywords=data%20analyst&location=Berlin&start=25
1765081315
Data Analyst (f/m/div)
Penta Group
Berlin, DE
1 month

i:8
(Junior) Data Scientist / Data Analyst (w/m/d)
https://www.linkedin.com/jobs/search/?currentJobId=1804062999&keywords=data%20analyst&location=Berlin&start=25
1804062999
(Junior) Data Scientist / Data Analyst (w/m/d)
KPMG Deutschland
Berlin, DE
2 weeks

i:9
Data Analyst (m/w/d) Corporate Performance Management
https://www.linkedin.com/jobs/search/?currentJobId=1757027016&keywords=data%20analyst&location=Berlin&start=25
1757027016
Data Analyst (m/w/d) Corporate Performance Management
Abalon AB
Berlin, DE
2 months

i:10
Reporting Engineer (m/w/d)
https://www.linkedin.com/jobs/search/?currentJobId=1788363539&keywords=data%20analyst&location=Berlin&start=25
1788363539
Reporting Engineer (m/w/d)
mayato
Berlin, Deutschland
2 weeks

i:11
Data Analyst - SEO (m|w|x)
https://www.linkedin.com/jobs/search/?currentJobId=1796264539&keywords=data%20analyst&location=Berlin&start=25
1796264539
Data Analyst - SEO (m|w|x)
Axel Springer SE
Berlin, DE
1 week

i:12
Data Analyst - Business Intelligence (m/f/div)
https://www.linkedin.com/jobs/search/?currentJobId=1768005057&keywords=data%20analyst&location=Berlin&start=25
1768005057
Data Analyst - Business Intelligence (m/f/div)
Elinvar.de
Berlin, DE
2 months

i:13
Senior Product Analyst / Data Analyst *
https://www.linkedin.com/jobs/search/?currentJobId=1794158433&keywords=data%20analyst&location=Berlin&start=25
1794158433
Senior Product Analyst / Data Analyst *
GameDuell GmbH
Berlin, DE
1 week

i:14
Senior Analyst
https://www.linkedin.com/jobs/search/?currentJobId=1767333940&keywords=data%20analyst&location=Berlin&start=25
1767333940
Senior Analyst
Corkyy
Berlin, DE
1 month

i:15
Data Analyst Regulatory Reporting (m/w/d)
https://www.linkedin.com/jobs/search/?currentJobId=1823581226&keywords=data%20analyst&location=Berlin&start=25
1823581226
Data Analyst Regulatory Reporting (m/w/d)
DKB Service GmbH
Berlin, DE
5 days

i:16
Data Analyst (m/w/d) Analytics & Insights in Köln oder Berlin - Köln
https://www.linkedin.com/jobs/search/?currentJobId=1767322070&keywords=data%20analyst&location=Berlin&start=25
1767322070
Data Analyst (m/w/d) Analytics & Insights in Köln oder Berlin - Köln
UNICEPTA
Berlin, DE
2 months

i:17
Senior BI Analyst
https://www.linkedin.com/jobs/search/?currentJobId=1774327401&keywords=data%20analyst&location=Berlin&start=25
1774327401
Senior BI Analyst
Trust In Soda Ltd
Berlin, Berlin
2 weeks

i:18
Data Analyst Regulatory Reporting
https://www.linkedin.com/jobs/search/?currentJobId=1804260446&keywords=data%20analyst&location=Berlin&start=25
1804260446
Data Analyst Regulatory Reporting
DKB | Deutsche Kreditbank AG
Berlin, DE
1 month

i:19
Data Analyst (m/w)
https://www.linkedin.com/jobs/search/?currentJobId=1769306233&keywords=data%20analyst&location=Berlin&start=25
1769306233
Data Analyst (m/w)
IGES Institut GmbH
Berlin, DE
1 month

i:20
BI Analyst
https://www.linkedin.com/jobs/search/?currentJobId=1820202046&keywords=data%20analyst&location=Berlin&start=25
1820202046
BI Analyst
Xcede
Berlin, DE
1 week

i:21
Senior BI Analyst (m/f/x)
https://www.linkedin.com/jobs/search/?currentJobId=1778721024&keywords=data%20analyst&location=Berlin&start=25
1778721024
Senior BI Analyst (m/f/x)
Quandoo
Berlin, DE
1 month

i:22
Data Analytics Consultant (w/m/d)
https://www.linkedin.com/jobs/search/?currentJobId=1800985054&keywords=data%20analyst&location=Berlin&start=25
1800985054
Data Analytics Consultant (w/m/d)
Digital Motion DM
Berlin, DE
3 days

i:23
Consultant (m/w/d) Data Analytics & Künstliche Intelligenz
https://www.linkedin.com/jobs/search/?currentJobId=1767842199&keywords=data%20analyst&location=Berlin&start=25
1767842199
Consultant (m/w/d) Data Analytics & Künstliche Intelligenz
Bundesdruckerei
Berlin, DE
2 months

i:24
Data Analyst (m/w/d) im Autismus - Spektrum
https://www.linkedin.com/jobs/search/?currentJobId=1825693928&keywords=data%20analyst&location=Berlin&start=25
1825693928
Data Analyst (m/w/d) im Autismus - Spektrum
auticon Ltd
Berlin, DE
1 week

i:25
Marketing Data Analyst
https://www.linkedin.com/jobs/search/?currentJobId=1731539288&keywords=data%20analyst&location=Berlin&start=25
1731539288
Marketing Data Analyst
Pandata
Berlin, DE
3 months

PAGINA: 50
i:1
Senior Big Data & Analytics Specialist (DEU) Promoted
https://www.linkedin.com/jobs/search/?currentJobId=1804167850&keywords=data%20analyst&location=Berlin&start=50
1804167850
Senior Big Data & Analytics Specialist (DEU)
Amazon Web Services (AWS)
Berlin, DE
2 weeks

i:2
Junior Equity Analyst and Trader (m/f/d) Promoted
https://www.linkedin.com/jobs/search/?currentJobId=1781857905&keywords=data%20analyst&location=Berlin&start=50
1781857905
Junior Equity Analyst and Trader (m/f/d)
BIT Capital GmbH
Berlin Area, Germany
2 weeks

i:3
Data & Analytics Business Engineer (w/m/d) Promoted
https://www.linkedin.com/jobs/search/?currentJobId=1803516914&keywords=data%20analyst&location=Berlin&start=50
1803516914
Data & Analytics Business Engineer (w/m/d)
adesso SE
Berlin, DE
2 weeks

i:4
Senior Data Analyst (m/f/x)
https://www.linkedin.com/jobs/search/?currentJobId=1711337415&keywords=data%20analyst&location=Berlin&start=50
1711337415
Senior Data Analyst (m/f/x)
OUTFITTERY
Berlin, DE
2 months

i:5
Data Analyst (m/w/d)
https://www.linkedin.com/jobs/search/?currentJobId=1764603551&keywords=data%20analyst&location=Berlin&start=50
1764603551
Data Analyst (m/w/d)
areto consulting gmbh
Berlin, DE
2 months

i:6
Data Analytics Consultant (w/m/d)
https://www.linkedin.com/jobs/search/?currentJobId=1803826448&keywords=data%20analyst&location=Berlin&start=50
1803826448
Data Analytics Consultant (w/m/d)
Digital In Motion
Berlin, DE
2 weeks

i:7
Optimization Analyst
https://www.linkedin.com/jobs/search/?currentJobId=1808388674&keywords=data%20analyst&location=Berlin&start=50
1808388674
Optimization Analyst
WeAreAspire
Berlin, DE
2 weeks

i:8
Data Analyst Regulatory Reporting (m/w/d)
https://www.linkedin.com/jobs/search/?currentJobId=1825698633&keywords=data%20analyst&location=Berlin&start=50
1825698633
Data Analyst Regulatory Reporting (m/w/d)

Berlin, 10115, DE
3 days

i:9
(Junior) Data Scientist / Data Analyst (w/m/d)
https://www.linkedin.com/jobs/search/?currentJobId=1752765235&keywords=data%20analyst&location=Berlin&start=50
1752765235
(Junior) Data Scientist / Data Analyst (w/m/d)
Jobs via eFinancialCareers
Berlin, DE
2 months

i:10
(Junior) Consultant Data Integration / Data Analytics (m/w/d)
https://www.linkedin.com/jobs/search/?currentJobId=1636042392&keywords=data%20analyst&location=Berlin&start=50
1636042392
(Junior) Consultant Data Integration / Data Analytics (m/w/d)
msg
Berlin, DE
3 months

i:11
Head of Data Science
https://www.linkedin.com/jobs/search/?currentJobId=1803070918&keywords=data%20analyst&location=Berlin&start=50
1803070918
Head of Data Science
Glocomms
Berlin, Germany
1 week

i:12
Young Professional Client Data Analyst (m/w/d) ←
https://www.linkedin.com/jobs/search/?currentJobId=1799406956&keywords=data%20analyst&location=Berlin&start=50
1799406956
Young Professional Client Data Analyst (m/w/d) ←
Talentschmiede Unternehmensberatung AG
Berlin, DE
1 month

i:13
Data Engineer (m/w/d) - Data Analytics & Integration
https://www.linkedin.com/jobs/search/?currentJobId=1823885969&keywords=data%20analyst&location=Berlin&start=50
1823885969
Data Engineer (m/w/d) - Data Analytics & Integration
Sparkassen Rating und Risikosysteme GmbH
Berlin, DE
5 days

i:14
Capgemini Invent: (Associate) Consultant (m/w/d) Insights Driven Enterprise – Big Data, Analytics & Artificial Intelligence
https://www.linkedin.com/jobs/search/?currentJobId=1606155724&keywords=data%20analyst&location=Berlin&start=50
1606155724
Capgemini Invent: (Associate) Consultant (m/w/d) Insights Driven Enterprise – Big Data, Analytics & Artificial Intelligence
Capgemini
Berlin, DE
5 months

i:15
Senior Data Analyst (f/m/div) at solarisBank AG
https://www.linkedin.com/jobs/search/?currentJobId=1681695515&keywords=data%20analyst&location=Berlin&start=50
1681695515
Senior Data Analyst (f/m/div) at solarisBank AG
solarisBank AG
Berlin, DE
4 months

i:16
Data Scientist* / Data Analyst* - Big Data
https://www.linkedin.com/jobs/search/?currentJobId=1823887205&keywords=data%20analyst&location=Berlin&start=50
1823887205
Data Scientist* / Data Analyst* - Big Data
IAV GmbH Ingenieurgesellschaft Auto und Verkehr
Berlin, DE
1 month

i:17
Senior Product Data Analyst (m/f/d)
https://www.linkedin.com/jobs/search/?currentJobId=1811255925&keywords=data%20analyst&location=Berlin&start=50
1811255925
Senior Product Data Analyst (m/f/d)
Taxfix
Berlin, DE
1 month

i:18
BI Data Engineer/ Datawarehouse Developer (m/w/d) (Data-Warehouse-Analyst/in)
https://www.linkedin.com/jobs/search/?currentJobId=1818862953&keywords=data%20analyst&location=Berlin&start=50
1818862953
BI Data Engineer/ Datawarehouse Developer (m/w/d) (Data-Warehouse-Analyst/in)
wardow.com
Potsdam, DE
1 week

i:19
Analyst, Marketing EU (m/f/d)
https://www.linkedin.com/jobs/search/?currentJobId=1797078182&keywords=data%20analyst&location=Berlin&start=50
1797078182
Analyst, Marketing EU (m/f/d)
Casper
Berlin, DE
3 weeks

i:20
Data Analyst/Consultant - Fokus Qlik (m/w/d)
https://www.linkedin.com/jobs/search/?currentJobId=1824090296&keywords=data%20analyst&location=Berlin&start=50
1824090296
Data Analyst/Consultant - Fokus Qlik (m/w/d)
B.i.TEAM Gesellschaft für Softwareberatung mbH
Berlin, DE
5 days

i:21
(Senior) Consultant Data Analytics (m/w/d)
https://www.linkedin.com/jobs/search/?currentJobId=1747404613&keywords=data%20analyst&location=Berlin&start=50
1747404613
(Senior) Consultant Data Analytics (m/w/d)
Trevisto AG
Berlin, DE
1 month

i:22
Performance Optimization Analyst, Supply
https://www.linkedin.com/jobs/search/?currentJobId=1796546916&keywords=data%20analyst&location=Berlin&start=50
1796546916
Performance Optimization Analyst, Supply
Vungle
Berlin, DE
3 weeks

i:23
Senior Controller (Inventory Management)
https://www.linkedin.com/jobs/search/?currentJobId=1794104679&keywords=data%20analyst&location=Berlin&start=50
1794104679
Senior Controller (Inventory Management)
Zalando SE
Berlin, DE
1 week

i:24
Senior Business Intelligence Analyst(m/f/d)
https://www.linkedin.com/jobs/search/?currentJobId=1814897194&keywords=data%20analyst&location=Berlin&start=50
1814897194
Senior Business Intelligence Analyst(m/f/d)
everphone GmbH
Berlin, Germany
1 week

i:25
HEAD OF DATA ANALYTICS SERVICES
https://www.linkedin.com/jobs/search/?currentJobId=1811726266&keywords=data%20analyst&location=Berlin&start=50
1811726266
HEAD OF DATA ANALYTICS SERVICES
Careermoves Ireland
Berlin, DE
2 weeks

PAGINA: 75
i:1
Senior Big Data & Analytics Specialist (DEU) Promoted
https://www.linkedin.com/jobs/search/?currentJobId=1804167850&keywords=data%20analyst&location=Berlin&start=75
1804167850
Senior Big Data & Analytics Specialist (DEU)
Amazon Web Services (AWS)
Berlin, DE
2 weeks

i:2
Senior Game Data Analyst (m/f/x) Promoted
https://www.linkedin.com/jobs/search/?currentJobId=1772020331&keywords=data%20analyst&location=Berlin&start=75
1772020331
Senior Game Data Analyst (m/f/x)
SOFTGAMES - Mobile Entertainment Services GmbH
Berlin, Germany
1 week

i:3
DevOps Engineer Promoted
https://www.linkedin.com/jobs/search/?currentJobId=1708385466&keywords=data%20analyst&location=Berlin&start=75
1708385466
DevOps Engineer
Big Cloud
Berlin, Germany
3 days

i:4
Consultant Data & Analytics Public Sector (m/w/d)
https://www.linkedin.com/jobs/search/?currentJobId=1794768552&keywords=data%20analyst&location=Berlin&start=75
1794768552
Consultant Data & Analytics Public Sector (m/w/d)

Berlin, DE
3 weeks

i:5
Senior Consultant/Architect - Data and Analytics - Berlin (m/w/d)
https://www.linkedin.com/jobs/search/?currentJobId=1683413989&keywords=data%20analyst&location=Berlin&start=75
1683413989
Senior Consultant/Architect - Data and Analytics - Berlin (m/w/d)
pmOne Group
Berlin, DE
3 months

i:6
Managing Consultant Big Data & Analytics (m/w/d)
https://www.linkedin.com/jobs/search/?currentJobId=1783676869&keywords=data%20analyst&location=Berlin&start=75
1783676869
Managing Consultant Big Data & Analytics (m/w/d)
vacantum Personalberatung
Berlin, DE
1 month

i:7
Berater* – Technologie Strategie und Data Analytics im Bereich Automotive Consulting
https://www.linkedin.com/jobs/search/?currentJobId=1639251841&keywords=data%20analyst&location=Berlin&start=75
1639251841
Berater* – Technologie Strategie und Data Analytics im Bereich Automotive Consulting
IAV GmbH
Berlin, DE
4 months

i:8
Big Data- Engineer - Scientist (m/w/d)
https://www.linkedin.com/jobs/search/?currentJobId=1731218849&keywords=data%20analyst&location=Berlin&start=75
1731218849
Big Data- Engineer - Scientist (m/w/d)
KN Consulting GmbH
Berlin, DE
2 months

i:9
Unsolicited Application Berlin

NoSuchElementException: Message: no such element: Unable to locate element: {"method":"xpath","selector":"//ul[@class='artdeco-pagination__pages artdeco-pagination__pages--number']"}
  (Session info: chrome=80.0.3987.122)

In [ ]:
df_jobs.shape

In [ ]:
df_jobs['JOB TITLE'].unique()

In [ ]:
df_jobs[df_jobs['JOB TITLE']=='data analyst'].shape

In [ ]:
df_jobs[df_jobs['JOB TITLE']=='data scientist'].shape

In [ ]:
df_jobs[df_jobs['JOB TITLE']=='data engineer'].shape

### Exporting to csv

In [ ]:
now_file = now_str.replace(':','.')
now_file

In [ ]:
#df_jobs.to_csv(f'..\\data\\raw\\df_{job_title_df}_{location}_{now_file}.csv',
df_jobs.to_csv(f'..\\data\\raw\\df_jobs_{location}_{now_file}.csv',
              sep = ';',
              encoding= 'utf8',
              index=False,
              )

In [ ]:
df_jobs.head(2)

In [103]:
df_jobs.columns

Index(['JOB TITLE', 'LOCATION', 'SEARCH DATETIME', 'Current Job Id',
       'Job html', 'Job name', 'Company name', 'Company location',
       'Posted date', 'Estimated post date', 'Easy apply', 'Skills match',
       'Seniority Level', 'Industry', 'Employment Type', 'Job Functions',
       'Job info'],
      dtype='object')

In [96]:
df_jobs[df_jobs['Easy apply']==True].shape

(36, 17)

## TESTING:

***

In [98]:
# > Trying with one job title
n_pages = n_pages_linkedin(browser, 'data engineer', location)
n_pages

221 results
<class 'selenium.webdriver.remote.webelement.WebElement'>
9

9

In [ ]:
# Going to last row 
try:
    pages = browser.find_element_by_xpath\
    ('/html/body/div[5]/div[4]/div[3]/section[1]/div[2]/div/div/div[1]/div[2]/div/section/artdeco-pagination/ul')
except:
    pages = browser.find_element_by_xpath\
    ('/html/body/div[6]/div[4]/div[3]/section[1]/div[2]/div/div/div[1]/div[2]/div/section/artdeco-pagination/ul')
actions = ActionChains(browser)
actions.move_to_element(pages).perform()

In [ ]:
#show MORE skills
izq =  browser.find_element_by_xpath\
("//div[@class='jobs-search-results jobs-search-results--is-two-pane']")
#ActionChains(browser).move_to_element(izq).perform()

In [ ]:
izq.text

In [ ]:
izq.send_keys(Keys.PAGE_UP*10)

In [ ]:
trabajo = j_post(browser, 3)
trabajo.text

In [ ]:
job_post_right = browser.find_element_by_xpath("//div[@class='jobs-search-two-pane__details pt4 ph3 jobs-search-two-pane__details ember-view']")   
job_post_right.text

In [ ]:
#Skills match
if re.search('\nHow you match',job_post_right.text):
#if '\nHow you match' in job_post_right.text:
    y = 'Match\n(.*)\n'
    n = 'No match\n(.*)\n' 
    job_post_skills_match    = re.findall(y,job_post_right.text)
    job_post_skills_nomatch  = re.findall(n,job_post_right.text)
    job_post_skills = {'yes': job_post_skills_match,
                       'no' : job_post_skills_nomatch,
                       'all': job_post_skills_match + job_post_skills_nomatch
                      }
else:
    job_post_skills_match    = {}
    
job_post_skills

In [ ]:
trabajo = j_post(browser, 10)
trabajo

In [ ]:
actions = ActionChains(trabajo)
actions.move_to_element(trabajo).perform()

In [ ]:
job_post_right_ind = \
browser.find_element_by_xpath("//div[@class='jobs-description-details pt4 pt4 ember-view']")   
job_post_right_ind.text

In [ ]:
job_post_right_ind_1 = \
browser.find_element_by_xpath("//ul[@class='jobs-box__list jobs-description-details__list js-formatted-industries-list']")   
job_post_right_ind_1.text

In [ ]:
#Industry
try:
    job_post_industry        = job_post_right.text.split('Industry\n',1)[1].split('\n')[0]
except:
    job_post_industry        = ""
job_post_industry

***

In [ ]:
df_jobs[df_jobs['Company name']=='']

In [ ]:
df_jobs[df_jobs['Easy apply']==True]

In [ ]:
df_jobs[df_jobs['Current Job Id']=='1772020331'].iloc[0,14]

In [ ]:
' skills match\n' in df_jobs[df_jobs['Current Job Id']=='1772020331'].iloc[0,14]

In [ ]:
rigth = browser.find_element_by_xpath('/html/body/div[5]/div[4]/div[3]/section[1]/div[2]/div/div/div[2]').text

In [ ]:
rigth

In [ ]:
rigth.split(' ago',1)[0].split('Posted Date\nPosted ')[1]

In [ ]:
rigth.split('Save\n',1)[1].split('\n',2)[1]

In [ ]:
df_jobs.shape

In [ ]:
df_jobs.dtypes

In [ ]:
df_jobs.iloc[0,6].split(' ago',1)[0].split('Posted Date\nPosted ')[1]

In [ ]:
df_jobs.iloc[0,6]

***
## PUENTE

In [ ]:
#location_input = input("PLEASE ENTER THE LOCATION WHERE YOU'D LIKE TO SEARCH: ")
location_input = 'berlin'

In [ ]:
location = location_input.capitalize()
location

In [ ]:
#job_title_input = input("PLEASE ENTER THE JOB THAT YOU'D LIKE TO SEARCH: ")
job_title_input = 'data analyst'

In [ ]:
job_title_df = job_title_input.lower()
job_title_s    = job_title_input.lower().replace(' ', '%20')
job_title_s

#### >>> GO TO > JOB SEARCH :

*** 
# OLD TESTING
***

In [ ]:
#tabla_grande = \
#browser.find_element_by_xpath("/html/body/div[5]/div[4]/div[3]/section[1]/div[2]/div/div")

#                               html/body/div[5]/div[4]/div[3]/section[1]/div[2]
#                               /html/body/div[5]/div[4]/div[3]/section[1]/div[2]/div/div/div[1]

In [ ]:
#Taking table of job posts
try:
    tabla_izq = \
    browser.find_element_by_xpath("/html/body/div[5]/div[4]/div[3]/section[1]/div[2]/div/div/div[1]")
                                  #/html/body/div[6]/div[4]/div[3]/section[1]/div[2]/div/div/div[1]
                                  #/html/body/div[6]/div[4]/div[3]/section[1]/div[2]/div/div/div[1]/div[2]
                                  #/html/body/div[5]/div[4]/div[3]/section[1]/div[2]/div/div/div[1]/div[2]
    #browser.find_element_by_class_name("jobs-search-two-pane__results display-flex")
    #                              /html/body/div[5]/div[4]/div[3]/section[1]/div[2]/div/div/div[1]
except:
    tabla_izq = \
    browser.find_element_by_xpath("/html/body/div[6]/div[4]/div[3]/section[1]/div[2]/div/div/div[1]")
    
time.sleep(0.5)
tabla_izq.text

In [ ]:
tabla_izq.text.split('\n')

In [ ]:
current_p = int(browser.current_url.split('&start=')[1])//25+1
current_p

In [ ]:
#are_you = browser.find_element_by_class_name("jobs-search-feedback-card")
#are_you.is_enabled()

In [ ]:
#for last page there is another logic (not 'Close')
if current_p < n_pages:
    job_list = tabla_izq.text.split('Manage alerts\n')[1].split('Close\n')[0].split('ago')
else:
    job_list = \
    tabla_izq.text.split('Manage alerts\n')[1].split('Close\n')[0].split('Create alert for this search\n')[0].split('ago')

n_job_list = len(job_list)-1
print(n_job_list) 
job_list

In [ ]:
# TESTING - clicking one selected job
n = n_job_list # max 25

# Selecting job post in order
try:
    job_post = browser.find_element_by_xpath\
    (f'/html/body/div[5]/div[4]/div[3]/section[1]/div[2]/div/div/div[1]/div[2]/div/ul/li[{n}]/div/artdeco-entity-lockup/artdeco-entity-lockup-content/h3/a')
except:
    job_post = browser.find_element_by_xpath\
    (f'/html/body/div[6]/div[4]/div[3]/section[1]/div[2]/div/div/div[1]/div[2]/div/ul/li[{n}]/div/artdeco-entity-lockup/artdeco-entity-lockup-content/h3/a')
#     /html/body/div[5]/div[4]/div[3]/section[1]/div[2]/div/div/div[1]/div[2]/div/ul/li[1]/div/artdeco-entity-lockup/artdeco-entity-lockup-content/h3/a
#  (f'/html/body/div[5]/div[4]/div[3]/section[1]/div[2]/div/div/div[1]/div[2]/div/ul/li[{n}]')
job_post.click()

# Getting job post ID
currentJobId = browser.current_url.split('currentJobId=')[1].split('&')[0]
#currentJobId = browser.current_url.split('?')[1].split('&')[0].split('=')[1]
print(currentJobId)

# Extracting job information
try:
    job_post_right = browser.find_element_by_xpath\
        ('/html/body/div[5]/div[4]/div[3]/section[1]/div[2]/div/div/div[2]')
except:
    job_post_right = browser.find_element_by_xpath\
        ('/html/body/div[6]/div[4]/div[3]/section[1]/div[2]/div/div/div[2]')
job_post_right_content = job_post_right.text.split('\n',16)
print(len(job_post_right_content))
print(f'{job_post_right_content}')
#print(f'{job_post_right.text.split('\n',15)}')

# 200402 21.00 (Session info: chrome=80.0.3987.162)
# 200403 21.00 (Session info: chrome=80.0.3987.162)
# 200404 17.00  (Session info: chrome=80.0.3987.162)

In [ ]:
list(range(0,n_pages*25,25))

In [ ]:
browser.get_log

In [ ]:
izq = browser.find_element_by_class_name('jobs-search-results jobs-search-results--is-two-pane')
izq.text()

In [ ]:
tabla_izq.text

In [ ]:
import requests
from bs4 import BeautifulSoup

In [ ]:
#with requests.Session() as s:

with requests.Session() as session:
    
    response = session.get(LOGIN_URL)
    session = session.cookies.get_dict()
    bcookie = session.get('bcookie')
    print(bcookie)
    cookie = bcookie.split('&')[1].split('"')[0]
    print(f'\n{cookie}')
    
    LoginCsrfParam   = cookie
    Session_key      = "cristopher.rojas.lepe@gmail.com" # "cristopher.rojas.lepe%40gmail.com"
    Session_password = "M3t4n01@" # "M3t4n01%40"
    Session_redirect = "https%3A%2F%2Fwww.linkedin.com%2Fjobs" # "https://www.linkedin.com/jobs" #"https%3A%2F%2Fwww.linkedin.com%2Fjobs"
    Trk              = "guest_homepage-jobseeker_sign-in-submit"
    
    payload = {'loginCsrfParam'  : LoginCsrfParam,
               'session_key'     : Session_key,
               'session_password': Session_password,
               'session_redirect': Session_redirect,
               'trk'             : Trk
              }
    print(f'\n{payload}')
    p = requests.post(LOGIN_URL, data = payload)  
    #p = session.post(LOGIN_URL, data = payload) 
    # print the html returned or something more intelligent to see if it's a successful login page.
    print(f'\n{p.content}')
    soup = BeautifulSoup(p.content,'html.parser')
    print(f'\n{soup}')

    # An authorised request.
#     r = s.get('A protected web page url')
#     print r.text