# Step 2: ANALYZE

In [46]:
import pandas as pd
from langdetect import detect, DetectorFactory
DetectorFactory.seed = 0
import re

## Getting csv

df_jobs.to_csv(f'..\\data\\raw\\df_{job_title_df}_{location}_{now_file}.csv',
              sep = ';',
              encoding= 'ANSI',
              index=False,
              )

In [51]:
df_jobs = pd.read_csv(f'..\\data\\raw\\df_jobs_Madrid_2020-04-16-20.47.csv',
              sep = ';',
              encoding= 'utf8',
              )

In [59]:
df_jobs.head(5)

,JOB TITLE,LOCATION,SEARCH DATETIME,Current Job Id,Job htmlJob name,Company name,Company location,Posted date,Estimated post date,Easy apply,Skills match,Seniority Level,Industry,Employment Type,Job Functions,Job info,Job html,Job name,Info Language,Name Language
0,data analyst,Madrid,2020-04-16-20:47,1744889236,NaN,YUKON IT SPAIN & EUROPE,Madrid y alrededores,1 month,2020-03-19-20:47,True,NaN,Associate,Information Technology & Services Telecommunic...,Full-time,Information Technology Engineering,Posted Date\nPosted 1 month ago\nNumber of vie...,https://www.linkedin.com/jobs/view/1744889236/,Analista de datos,es,pt
1,data analyst,Madrid,2020-04-16-20:47,1822454033,NaN,SoYou_Bankia,"Madrid y alrededores, España",1 day,2020-04-15-20:47,True,NaN,Associate,Financial Services,Full-time,Analyst Information Technology Product Management,Posted Date\nPosted 1 day ago\nNumber of views...,https://www.linkedin.com/jobs/view/1822454033/,Backoffice Product Owner,en,en
2,data analyst,Madrid,2020-04-16-20:47,1766737805,NaN,Interbrand,"Madrid, ES",1 week,2020-04-09-20:47,False,NaN,NaN,Graphic Design Management Consulting Marketing...,Full-time,Marketing Sales,Posted Date\nPosted 1 week ago\nNumber of view...,https://www.linkedin.com/jobs/view/1766737805/,Analyst Intern- Group Growth Department,en,en
3,data analyst,Madrid,2020-04-16-20:47,1616514766,NaN,Enghouse Interactive,"Madrid, ES",5 months,2019-11-28-20:47,False,NaN,Associate,Information Technology & Services Telecommunic...,Full-time,Sales Marketing,Posted Date\nPosted 5 months ago\nNumber of vi...,https://www.linkedin.com/jobs/view/1616514766/,Business Data & Operations Analyst,es,en
4,data analyst,Madrid,2020-04-16-20:47,1812956345,NaN,Grupo CMC,"Madrid, ES",2 weeks,2020-04-02-20:47,False,NaN,Entry level,Information Technology & Services Human Resour...,Full-time,Information Technology,Posted Date\nPosted 2 weeks ago\nNumber of vie...,https://www.linkedin.com/jobs/view/1812956345/,"Analista De Datos (Python), Madrid",es,es

In [53]:
df_jobs['Job name'].head(10)

0                                    Analista de datos
1                             Backoffice Product Owner
2              Analyst Intern- Group Growth Department
3                   Business Data & Operations Analyst
4                   Analista De Datos (Python), Madrid
5    Data Analyst -Scientist - Uber Eats (Sector es...
6                                       Data Analytics
7                                  Python Data Analyst
8                        Data Analytics Manager Madrid
9                                    Analista de Datos
Name: Job name, dtype: object

In [54]:
s = df_jobs.loc[0,'Job info']
s

'Posted Date\nPosted 1 month ago\nNumber of views\n1,219 views\nShare\nShow more options\nUnsave\nUnsave Analista de datos at YUKON IT SPAIN & EUROPE\nEasy Apply\nSee how you compare to 228 applicants. Reactivate Premium\nJob\n6/10 skills match\n228 applicants\nCompany\n501-1,000 employees\nMadrid, Madrid\nConnections\nYou have 0 connections at this company.\nAdd >\nPosted by\nPilar Tauroni Martínez 2nd\nDirección en Multinacional Americana IT\nSend InMail\nDesde YUKON IT buscamos incorporar como parte del equipo de minería de datos, varios perfiles para realizar tareas de acceso y tratamiento de datos.\n\n- Desde el inicio, contarás con un contrato indefinido.\n- Proyecto estable para el Sector Público.\n- Ubicación: Madrid, Pio XII.\n- Flexibilidad horaria, con jornada intensiva los viernes y en verano.\n\n¿Que buscamos?\n\nFormación: Titulado superior en estadística, Matemáticas, informática o similar.\n\nConocimientos necesarios:\n- Análisis estadístico, acceso y tratamiento de datos.\n- SQL y JavaScript.\n- Buscamos profesional con interés por la analítica de datos que quiera avanzar su carrera profesional en el tratamiento y estudio de datos.\n\nValoramos conocimiento en:\n- Excel.\n- Herramientas de análisis de datos, BI o ETL...\n\n¡¡Si te puede interesar no dudes en unirte a nuestro equipo!!\nSeniority Level\nAssociate\nIndustry\nInformation Technology & Services Telecommunications Internet\nEmployment Type\nFull-time\nJob Functions\nInformation Technology Engineering\nHow you match\nCriteria provided by job poster\nSkills\nMatch\nStatistics\nMatch\nSQL\nMatch\nMicrosoft Excel\nMatch\nData Analysis\nMatch\nData Mining\nMatch\nAnalytics\nNo match\nPublic Sector\nNo match\nAcess\nNo match\nMathematica\nNo match\nJavaScript'

In [55]:
detect(s)

'es'

In [58]:
df_jobs['Name Language'] = df_jobs['Job name'].apply(lambda x: detect(x))

In [60]:
df_jobs['Name Language'].unique()

array(['pt', 'en', 'es', 'tl', 'it', 'de', 'so', 'id', 'ca', 'nl', 'no',
       'sv', 'hr', 'ro', 'af'], dtype=object)

In [65]:
df_jobs['Job name'][df_jobs['Name Language']=='nl'].unique()

array(['Big Data Developer'], dtype=object)

In [56]:
df_jobs['Info Language'] = df_jobs['Job info'].apply(lambda x: detect(x))

In [57]:
df_jobs['Info Language'].unique()

array(['es', 'en'], dtype=object)